[2022-03-21 18:30] robintown commented on #21497
Other part regressed by https://github.com/matrix-org/matrix-react-sdk/pull/7513

[2022-03-21 18:45] ara4n opened #21501 "RoomList Skeleton UI has the wrong placeholder shape"
### Steps to reproduce

1. Create and select blank space
2. Observe the RoomList shows skeleton placeholders for the roomlist entries:

<img width="276" alt="Screenshot 2022-03-21 at 18 40 21" src="https://user-images.githubusercontent.com/1294269/159341943-598c6f9c-e3b1-4007-bb97-91670334a710.png">

3. Feel sad that the shape of our RoomList entries (if you have previews enabled) are almost "shor

[2022-03-21 19:09] #21497 closed

[2022-03-21 19:49] janogarcia opened #21502 "Threads Beta — Design implementation review"
### Resources

- [Figma: Reference screenshots](https://www.figma.com/file/T309ztx0sNyOOK6NKVLHsK/Threads?node-id=4072%3A320823)

---

### Thread list

- [x] Root message avatar: Make `.mx_EventTile_avatar` render a 36px image (instead of 24px) <br> ❌ **Apr. 1**  Now it's measuring 32px instead of 36px.
- [x] Root message avatar: Change `.mx_EventTile_avatar` top position to `0` (instead of `top:

[2022-03-21 20:40] andybalaam commented on #21432
The history did come back in a bit. The behaviour was confusing and scary if I cared about that history, so I think if it needs to be slow we should have a spinner or equivalent.

[2022-03-21 21:01] andybalaam commented on #21500
I have normal vision (although degrading slightly with age) and I too find the unblur animation hurts my eyes. I think it's because it causes my eye muscles to attempt to adjust, when they can't (similar to what the OP describes).

[2022-03-21 21:16] shreyasajj opened #21503 "Shared Secret with SSO"
### Your use case

Is there a way to allow Shared Secret with SSO without element asking for a password. I have tried to create a shared secret with sso so that my bridges can still auth with my bridge. However, element still thinks I have a password and prompts me for a password everywhere I go that doesn't exist. (example: disabling, and keys)

While it could be solve by using https://github.com

[2022-03-21 21:19] t3chguy commented on #21503
The server tells it via the `m.change_password` and UIA flows. Not a client issue. https://spec.matrix.org/v1.2/client-server-api/#password-based

[2022-03-21 21:19] #21503 closed

[2022-03-21 21:50] turt2live commented on #21432
I don't think it *needs* to be slow, but we should indeed have a loading spinner. Closing in favour of https://github.com/vector-im/element-web/issues/16983 though, which has a bit more context.

[2022-03-21 21:51] turt2live commented on #16983
(put as P1 in the web team board because a duplicate issue was P1 - I am assuming someone else will re-triage as needed)

[2022-03-21 21:52] turt2live commented on #21432
oh, wrong issue, nevermind.

[2022-03-21 22:30] #20287 closed

[2022-03-21 22:30] #20289 closed

[2022-03-21 22:58] turt2live commented on #9264
While I don't have an update on full ILAG support, we are looking at ways to make the guest experience customisable. Stay tuned, and hopefully it'll cover some/all of the usecases here.

[2022-03-22 00:35] ara4n opened #21504 "Inviting a user may show their mxid twice; once without a profile in recents, and once with a profile."
### Steps to reproduce

1. Start a DM
2. Start typing their name
3. See them twice:

![image](https://user-images.githubusercontent.com/1294269/159384828-45485437-e41a-46f0-ae72-79e4dba50aae.png)

### Outcome

#### What did you expect?

User should appear only once, and have a profile.

### Operating system

macOS

### Application version

1.10.7

### How did you install the app?

element.io

###

[2022-03-22 00:50] ara4n opened #21505 "Quicktime Video uploads don't get thumbnailed"
### Steps to reproduce

1. Take a screencapture on macOS (e.g. as a .mov)
2. Upload it
3. No thumbnail

### Outcome

#### What did you expect?

If we can thumbnail images via canvas, i'd expect us to be able to render the first frame of the video to a canvas too to thumbnail it.

#### What happened instead?

No thumbnail.

### Operating system

macOS

### Application version

nightly

### How did

[2022-03-22 02:06] turt2live commented on #21467
err, except develop is about to be staging -- oops.

[2022-03-22 02:34] ara4n commented on #6881
just tested this with current thumbnailing logic and it seems to be okay.

[2022-03-22 02:34] #6881 closed

[2022-03-22 02:36] ara4n commented on #2023
i finally snapped and fixed it in https://github.com/matrix-org/matrix-react-sdk/pull/8108. Closing as dup of https://github.com/vector-im/element-web/issues/21505

[2022-03-22 02:36] #2023 closed

[2022-03-22 02:37] ara4n commented on #17598
I think this is fixed currently.

[2022-03-22 04:19] turt2live opened #21506 "Fix LeftPanelLiveShareWarning to actually be testable/working in the left panel"
See https://github.com/matrix-org/matrix-react-sdk/pull/8109

We should revert that PR and fix it more properly, or at least make it testable.

[2022-03-22 05:59] turt2live commented on #21506
See https://github.com/matrix-org/matrix-react-sdk/pull/8109#issuecomment-1074770465

[2022-03-22 05:59] #21506 closed

[2022-03-22 06:44] #21467 closed

[2022-03-22 07:19] t3chguy commented on #2023
Arguably 21505 should have been closed as a dup of this much older, voted and properly triaged issue.

[2022-03-22 07:28] t3chguy commented on #21072
@p1gp1g 8. is tracked as a different issue https://github.com/vector-im/element-web/issues/16983

[2022-03-22 07:45] gsouquet commented on #21505
Rather than drawing the image to a canvas I believe we can now use [`createImageBitmap`](https://developer.mozilla.org/en-US/docs/Web/API/createImageBitmap) which avoids the interaction with a DOM element, and is generally faster

[2022-03-22 08:01] t3chguy commented on #21477
For me it just gets stuck on the blurhash

![image](https://user-images.githubusercontent.com/2403652/159434460-38d08e9a-4676-478d-949e-389a96d88bd4.png)

But fundamentally this is Synapse not being able to thumbnail this https://matrix-client.matrix.org/_matrix/media/r0/thumbnail/matrix.org/UOupUIqZCoSRCUJTmNLthUgX?width=800&height=600&method=scale

[2022-03-22 08:01] gsouquet commented on #21495
Closing as it will be tackled as part of https://github.com/vector-im/element-web/issues/21084

[2022-03-22 08:01] #21495 closed

[2022-03-22 08:02] gsouquet commented on #21084
<img width="417" alt="159279551-a247d58a-b4bf-4d1e-b75e-3df537d24cfa" src="https://user-images.githubusercontent.com/769871/159434687-12d48963-caa3-4112-a0ec-c6e78616352e.png">

On hover, the following can happen. @janogarcia would be great to have your input on how to cater for all those cases?

[2022-03-22 08:07] gsouquet commented on #21486
I would recommend waiting on guidance from the design folks on how to handle text-wrapping/ellipsis/... in the app as it has only been solved ad'hoc and there would be great value in standardising our approach

[2022-03-22 08:08] mketer1 commented on #21482
Hi! I'm new to open source contribution. I'm not too familiar with typescript but would love to take a shot at this issue. If it's still open, I would love to be assigned this task. I may need some guidance/assistance if possible. Please let me know!

[2022-03-22 08:25] #21471 closed

[2022-03-22 08:48] luixxiul commented on #21486
I thought it had been instructed with `// Automatically grow all subelements to fit the container`. I will remove it instead for now if it's been outdated already, so that another person would not try to submit the same PR..

[2022-03-22 10:20] benparsons opened #21507 "error TS2345 when trying to build matrix-react-sdk (version 3.42.0)"
### Steps to reproduce

We have a problem when trying to build matrix-react-sdk (version 3.42.0) by issuing the command: "yarn build". The build process exits with an error at the step "tsc --emitDeclarationOnly --jsx react":

[code]

Is this a known problem? Can anyone give a hint how to fix it? (NOTE: The problem appears on different Windows PCs and both with the anConnect repository as well as

[2022-03-22 10:30] t3chguy commented on #21507
@benparsons this is a bug tracker, please use #element-dev:matrix.org for support, this issue is due to your yarn cache being stale, try `yarn cache clean && yarn install --force`

[2022-03-22 10:30] #21507 closed

[2022-03-22 12:06] belakalotay commented on #21507
Thank you for the hint, I can build now.  The ticket can be closed.

[2022-03-22 12:18] t3chguy commented on #19258
Cannot reproduce

![image](https://user-images.githubusercontent.com/2403652/159480307-f504c9b7-23ad-4cb3-a42f-f5d1eb8df9ec.png)

[2022-03-22 12:23] #21505 closed

[2022-03-22 12:45] t3chguy commented on #21466
So I think the issue is a bit more nuanced, the thread is still there, attached to the `Message deleted`, its just that its collapsed into the Summary. @janogarcia what should we do here?

![image](https://user-images.githubusercontent.com/2403652/159483691-bd908e8f-6c00-4e82-8644-b019fa59fad6.png)

[2022-03-22 12:48] ara4n opened #21508 "Ability to get notified more explicitly about responses in a given thread"
### Your use case

#### What would you like to do?

I want to know when a specific thread gets a response.

#### Why would you like to do it?

Currently if someone replies to me, i'll get notified when they reply.  Now, if someone answers me in a thread, I have no way to whether the notification of the new message in the room is in a thread i care about (i.e. the one where i was talking) or one of

[2022-03-22 12:48] QEDeD opened #21509 "Gray shield on messages from a verified (myself) sent from Android"
### Steps to reproduce

1. Be logged in to both a browser and on the android client. Verify all sessions
![image](https://user-images.githubusercontent.com/16562457/159483266-1b1d394d-6306-4710-806f-b709999a819a.png)

2. In a DM room with message sent from my android element client I see a grey shield on the message sent from this client
![image](https://user-images.githubusercontent.com/16562457/

[2022-03-22 15:34] janogarcia commented on #21466
@t3chguy Unsure if I've understood your remarks.

I've edited the issue description to hopefully add more context. Please find all the details about the expected behavior in the Figma mockups for the [Deleting the root message Flow](https://www.figma.com/file/T309ztx0sNyOOK6NKVLHsK/Threads?node-id=1150%3A202558).

It had been working correctly for months I'd say, only recently stopped working (las

[2022-03-22 15:41] janogarcia commented on #21466
@t3chguy Another odd behavior that was introduced las week on deleted messages:

As stated in the issue description, the root message contents are not immediately hidden from the thread timeline. It keeps showing the original message. When reloading the page the deleted root message will be rendered as expected in the thread timeline ("Deleted message" state) **but** preceded by a "You can't see e

[2022-03-22 15:59] janogarcia commented on #21084
@gsouquet This is mostly an issue with the current implementation, which deviates from the design spec in some places. It should be solved by fixing the issues I shared here: https://github.com/vector-im/element-web/issues/21502 👍

[2022-03-22 16:07] s0p4LiN opened #21511 "Can't add space admin after rooms creation"
### Steps to reproduce

I create a public space, I share the link,

 I can add the admin permissions to the joined user by clicking on the space icon > viewing members > select one user > add the permission.

I can not add the admin permission if a room is already created inside the spaces and that I already click once on the room. Everytime I click on the space, I can not see anymore the icon "Vi

[2022-03-22 16:59] janogarcia commented on #19669
@gsouquet Closing this one in favor of https://github.com/vector-im/element-web/issues/21502 👍

[2022-03-22 16:59] #19669 closed

[2022-03-22 17:11] MadLittleMods commented on #20397
Related to https://github.com/vector-im/element-web/issues/20927

Same symptoms but it is a different error unless the logs changed over the month.

[2022-03-22 17:58] aaronraimist commented on #14825
Reopening since it was reverted. New PR is https://github.com/matrix-org/matrix-react-sdk/pull/8110

[2022-03-22 21:04] robintown commented on #21511
To access the home page for the space again, either right click on the space and select "Space home", or click on the space's name at the top of the room list, and select "Space home". From there, you should see the members button again.

[2022-03-22 21:04] #21511 closed, assigned to nobody

[2022-03-22 21:17] richvdh commented on #21147
according to https://bugs.chromium.org/p/chromium/issues/detail?id=1301067#c21, this will be fixed in Chrome 101.

[2022-03-22 21:23] robintown commented on #21511
(For visual reference:)

![Screenshot 2022-03-22 at 17-22-48 Element The Spaces feedback space ](https://user-images.githubusercontent.com/48614497/159578395-2cc3b32f-b43b-4107-99f1-1df5e4416e06.png)

[2022-03-22 21:53] grinapo commented on #20960
FYI:

[2022-03-22 22:14] #3546 closed

[2022-03-22 22:14] #14825 closed

[2022-03-22 22:16] #20072 closed

[2022-03-22 22:30] s0p4LiN commented on #21511
Hello @robintown

I only have theses options:

![matrix_home](https://user-images.githubusercontent.com/68989865/159586978-e979c296-8f73-4d65-9225-62a0df20b6cf.PNG)

Maybe because of my old version of Synapse and Element.

[2022-03-22 22:34] robintown commented on #21511
Ah right, the "Manage & explore rooms" option should do the same thing. I guess the "Space home" button was added later.

[2022-03-22 22:42] s0p4LiN commented on #21511
Ah ok I understand, thank you very much.

[2022-03-22 23:07] #17532 closed

[2022-03-22 23:55] robintown opened #21513 "Show voice room participants in room tile when not connected"

[2022-03-22 23:58] robintown opened #21514 "Enable adding voice to existing text rooms"

[2022-03-22 23:58] robintown opened #21515 "Detect when the user connects to voice by interacting with a widget directly"

[2022-03-23 00:01] robintown opened #21516 "Voice channel widget should not appear in widgets list"

[2022-03-23 00:02] robintown opened #21517 "Video rooms: Handle Jitsi's "reconnecting" state"

[2022-03-23 00:02] robintown opened #21518 "Voice room invite tiles shouldn't be interactive"

[2022-03-23 00:04] robintown opened #21519 "Voice is still connected when leaving a voice room"

[2022-03-23 00:06] robintown opened #21520 "Video button in voice channel radio sometimes doesn't work"
You have to click the video button inside Jitsi at least once for it to start working. Probably Jitsi's problem, but should investigate.

[2022-03-23 00:07] robintown opened #21521 "Jitsi participants in voice rooms sometimes don't return an avatar"
As seen in this screenshot, in the room list:

![the bug](https://user-images.githubusercontent.com/48614497/159062202-a7f8d8b2-ff39-4576-b398-cc3b526864f9.png)

[2022-03-23 00:09] robintown opened #21522 "Voice rooms face pile is currently unbounded in size"

[2022-03-23 00:10] robintown opened #21523 "Room list does not account for variable-height voice room tiles"

[2022-03-23 00:10] robintown opened #21524 "End-to-end tests for voice rooms"

[2022-03-23 00:16] robintown opened #21525 "Figure out the minimized room list layout for voice rooms"

[2022-03-23 00:30] robintown opened #21526 "Figure out the room header layout for voice rooms"

[2022-03-23 03:00] robintown opened #21527 "Display names in thread list are misaligned"
### Steps to reproduce

Open the thread list

### Outcome

![Screenshot 2022-03-22 at 22-57-49 Element Test room](https://user-images.githubusercontent.com/48614497/159615236-9393bee2-8481-4fd2-b09f-1309b0d4dcef.png)

#### What did you expect?

The display names should be left-aligned.

#### What happened instead?

They're right-aligned. Most likely regressed by https://github.com/matrix-org/matri

[2022-03-23 05:38] SimonBrandner commented on #21482
If you need any help/have any questions be sure to visit https://matrix.to/#/#element-dev:matrix.org!

[2022-03-23 05:45] #21527 closed

[2022-03-23 07:36] Abastro commented on #10444
As this is not going to be fixed, guess I should consider moving to other matrix client.

[2022-03-23 07:52] #20755 closed

[2022-03-23 09:09] janogarcia commented on #21466
@t3chguy I was not aware of #21434, thanks. It happens consistently for the case I described, though, if that helps track it down.

[2022-03-23 09:13] davidmehren commented on #20926
Has there been any answer from the Element devs @ArchangeGabriel?
I wonder if it's maybe better to open a separate issue about adopting the patch for Element Desktop, so it doesn't get buried here...

[2022-03-23 10:14] janogarcia commented on #21466
@t3chguy Updated the issue description after further internal discussion. I added a note on the decision we made long ago about displaying deleted root messages even when the `Settings > Preferences > Timeline > Show a placeholder for removed messages` option is disabled.

[2022-03-23 10:15] lampholder commented on #17740
Does this issue have the right labels?

I'm worried that the current set will result in its not getting picked up in our UX improvement loops:
![image](https://user-images.githubusercontent.com/1922197/159675696-71332245-639c-422e-8f74-406bae3e2aa4.png)

Specifically, it's not tagged as a bug, it's tagged as occasional (but over federation at least I would call it _frequent_), and it's tagged with

[2022-03-23 10:17] t3chguy commented on #17740
Blindly hiding the underlying error with one which doesn't mean anything specific is trivial, having servers send more specific error codes which clients can rely on an specifically cater to requires Spec & Synapse work.

[2022-03-23 10:18] ara4n opened #21529 "per-room RightPanel should not remember Notifications card, as it's global"
### Steps to reproduce

1. Be in a room
2. Display the notifications panel to check for missed notifs in general
3. Move to a different room
4. Go back again
5. Feel confused by the rightpanel showing notifications, given notifications are global, not per-room.

### Outcome

#### What did you expect?

Don't restore the notificationpanel when you view a room (similar to https://github.com/vector-im

[2022-03-23 10:28] t3chguy commented on #21466
Cannot reproduce even with that option disabled.

![image](https://user-images.githubusercontent.com/2403652/159679192-e5f09242-26f7-47c2-b8cd-6b94d3c0a780.png)
![image](https://user-images.githubusercontent.com/2403652/159679203-755699d9-5bb0-4ff7-b24e-86f24ed12953.png)

[2022-03-23 10:29] JokerGermany commented on #21434
I got this in a room #datenschutz:matrix.org after clearing the cache.
It fixed itself.

[2022-03-23 10:30] janogarcia commented on #21466
On my end, the deleted root messages consistently disappear from the main timeline as soon as I disable said option.

Element version: e638abf7c253-react-9b2944294cf0-js-d0b964837f28
Olm version: 3.2.8

[2022-03-23 10:34] benparsons opened #21530 "Notifications panel is inconsistent with red mark in room list"
### Your use case

When a message is sent with my displayname pilled, eleweb marks the room red, and the message is listed in the right alerts panel.

When a non-pilled message message which contains my displayname string is sent, the room is read but the message does not appear in the alerts panel.

### Have you considered any alternatives?

It just needs to be consistent either way.

### Additio

[2022-03-23 10:54] #21438 closed

[2022-03-23 10:55] t3chguy commented on #21530
@benparsons is the message in an encrypted room?

[2022-03-23 10:56] benparsons commented on #21530
Yes

[2022-03-23 10:56] t3chguy commented on #21530
Duplicate of https://github.com/vector-im/element-web/issues/6874

[2022-03-23 10:56] #21530 closed

[2022-03-23 11:02] t3chguy commented on #21447
This is not specific to root events due to https://github.com/matrix-org/matrix-spec-proposals/pull/2676/files#r827240084

[2022-03-23 11:28] #21498 closed

[2022-03-23 12:26] MadLittleMods opened #21531 "Timeline goes blank after jumping to first unread a couple weeks back and then scrolling down"
### Steps to reproduce

1. Have a room with many unreads
2. Click the "Jump to first unread message." ^ up-arrow
3. Scroll down
4. At a certain point, the timeline just goes blank with no scroll

![](https://user-images.githubusercontent.com/558581/159696723-f468c8b2-73f2-4b87-bdc9-f63bb5e07f7d.png)

### Outcome

#### What did you expect?

The timeline continues infinite scrolling like normal

###

[2022-03-23 12:29] niquewoodhouse commented on #21352
@kittykat @t3chguy Hi, would you mind feeding back on this design proposal please.  I've tried to make them reflect the existing public rooms and people UX as much as possible, rather than rethink anything.

- [People flow](https://www.figma.com/file/X7PvFE7f73mI7pJ9WLM61l/%5BWeb%5D-%5BSearch%5D?node-id=184%3A17726)
- [Public room flow](https://www.figma.com/file/X7PvFE7f73mI7pJ9WLM61l/%5BWeb%5D-%

[2022-03-23 12:37] MadLittleMods opened #21532 "Turn on component debug logs while using app"
### Your use case

#### What would you like to do?

In order to better debug a timeline problem when it occurs in the wild (https://github.com/vector-im/element-web/issues/21531), I want to enable [`DEBUG_SCROLL` in the `ScrollPanel.tsx`](https://github.com/matrix-org/matrix-react-sdk/blob/9ba1c97770d75d1d43f161d4acf68d6a9851ec02/src/components/structures/ScrollPanel.tsx#L28) and [`TimelinePanel.t

[2022-03-23 13:01] ShadowJonathan commented on #14339
https://github.com/vector-im/element-ios/issues/4799 has been closed, but in the meantime, the MSC switched from using `shared_rooms` to `mutual_rooms`, so this has to be changed in the JS SDK before https://github.com/matrix-org/matrix-react-sdk/pull/4897 can be refactored, re-opened or pushed forward.

[2022-03-23 13:24] t3chguy commented on #21531
This is an extreme case of https://github.com/vector-im/element-web/issues/21432

[2022-03-23 13:24] #21531 closed

[2022-03-23 13:26] luixxiul commented on #21493
Should `Decline` have the same font-weight as `Call back` here?

[2022-03-23 13:30] t3chguy commented on #21531
Rageshakes on that issue have the same logs you identified:

[code]

[2022-03-23 13:30] t3chguy commented on #21531
The recovery may require events to be in the timeline.

[2022-03-23 13:36] MadLittleMods commented on #21432
Reproduced this a couple more times but in my case the whole timeline went blank as I was scrolling down to catch up on messages and didn't recover.

![](https://user-images.githubusercontent.com/558581/159696723-f468c8b2-73f2-4b87-bdc9-f63bb5e07f7d.png)

Rageshake logs:

 - https://github.com/matrix-org/element-web-rageshakes/issues/11610
 - https://github.com/matrix-org/element-web-rageshakes/is

[2022-03-23 13:37] MadLittleMods commented on #21531
Thanks @t3chguy ⏩

[2022-03-23 13:38] #21462 closed

[2022-03-23 13:38] #21417 closed

[2022-03-23 13:55] MadLittleMods opened #21533 "Threaded message appears in main timeline until a new event came in"
### Steps to reproduce

1. Go to a room
2. Send a threaded message
3. Edit the threaded message
4. Notice the duplicated thread message in the main timeline
5. After a new event came in, the threaded message disappeared from the main timeline

In the image, both of the messages from me (MadLittleMods) are the same message with the same `event_id` when `Viewing source` on them.

![](https://user-im

[2022-03-23 14:05] frakic opened #21534 "Blank panel for users invited to a space by email"
### Steps to reproduce

1. Where are you starting? What can you see?
 -I'm a member of a space (private or public)
2. What do you click?
 -I invite someone to that space by email
3. More steps…
 -I go to space home and click on members
 -My right panel shows the invited member
 -I click on them
 -I get a blank right panel without the option to go back

Clicked on invited member:
![image](https://u

[2022-03-23 14:07] SimonBrandner commented on #21493
Both should be `600` say the design specs

<hr>

How did you manage to get both `Decline` and `Call back` displayed? Doesn't seem to be a state that we should have

[2022-03-23 14:54] luixxiul commented on #21493
Basically I just modified the code temporarily to display them both type of buttons. I haven't noticed those texts, which are unnatural as you mentioned :sweat_smile:

Would you please pointing out where the design spec is available?

[2022-03-23 15:07] turt2live opened #21535 "Searching for a mxid in an encrypted room yields "syntax error""
### Steps to reproduce

1. Search an encrypted room for a user ID.

### Outcome

#### What did you expect?

Search results :D

#### What happened instead?

![image](https://user-images.githubusercontent.com/1190097/159731023-27477a29-69d0-4923-ad30-a970cc71de2c.png)

### Operating system

Windows 10

### Application version

Nightly (2021-03-22)

### How did you install the app?

The Internet

###

[2022-03-23 15:07] turt2live opened #32221 "Search syntax errors meta issue"
### Steps to reproduce

1. Search an encrypted room for a user ID.

### Outcome

#### What did you expect?

Search results :D

#### What happened instead?

![image](https://user-images.githubusercontent.com/1190097/159731023-27477a29-69d0-4923-ad30-a970cc71de2c.png)

### Operating system

Windows 10

### Application version

Nightly (2021-03-22)

### How did you install the app?

The Internet

###

[2022-03-23 16:13] MadLittleMods opened #21536 "Include permalink in error message when replied to message fails to load"
### Your use case

#### What would you like to do?

When a reply fails to load, include a permalink or at least `event_id` for the message it's trying to load so it's possible to reference and find the event in question.

Currently, the error message just says the following which has no details.

[code]

![](https://user-images.githubusercontent.com/558581/159744501-f068c37f-a8a1-4b39-ae2f-96ee47e

[2022-03-23 16:15] t3chguy commented on #21536
Given that its not loading under the /event/ API then it realistically won't load as a permalink either (/context/ API) so a permalink doesn't do anyone much good, surely?

[2022-03-23 16:20] t3chguy commented on #21536
I think solving that issue by the suggestion in that issue would be far better then...

[2022-03-23 16:26] t3chguy commented on #21533
Fixed by [matrix-org/matrix-js-sdk@`3892df8` (#2256)](https://github.com/matrix-org/matrix-js-sdk/pull/2256/commits/3892df8f1a9f2aa39b9c720127a547f0952453a7)

[2022-03-23 16:27] MadLittleMods commented on #21536
I think this assumption is wrong. The link won't error in all cases. The reply could fail to load in many different ways, not just homeserver network issues.

Giving a user no detail on what went wrong or nudge on how to fix things on their own is a smell. Plus the current reason it gives is wrong for why it failed for me: "it either does not exist or you do not have permission to view it."

[2022-03-23 16:32] t3chguy commented on #21536
When would `/event/` fail when a permalink (`/context/`) function fine, especially once fixing the local cache suggested in the other issue?

[2022-03-23 16:39] MadLittleMods commented on #21536
@t3chguy It could fail in the JavaScript code too. As an example in my case, `/event/` didn't fail in my case yet the reply couldn't load.

If we're arguing that we should fix the JavaScript instead as well, yes! But any new regression can come in the future to cause replies to not load again. So there should be a escape hatch for users to workaround the problem in the mean time.

[2022-03-23 16:41] SimonBrandner commented on #21493
Ah, I see :D

They're "semi-private" - I would suggest joining https://matrix.to/#/#element-dev:matrix.org and asking for access there

[2022-03-23 16:56] MadLittleMods commented on #21464
@luixxiul Are you seeing any inconsistencies now? Or is the goal to reduce the amount of resets in the Element styles?

[2022-03-23 17:10] t3chguy commented on #21536
Do you have logs to back that up? I haven't seen any JS failures in this area and don't see any open bugs with logs about them, all current known issues are server/network issue related.

[2022-03-23 17:15] babolivier commented on #21494
Just happened to me __again__ on app.element.io (which is now unusable for me as well). Rageshaking.

[2022-03-23 17:17] #21423 closed

[2022-03-23 17:21] MadLittleMods commented on #21536
@t3chguy Yes, No error occurred though. I can even still reproduce so here is rageshake logs while staring at it, https://github.com/matrix-org/element-web-rageshakes/issues/11639

[2022-03-23 17:21] babolivier commented on #21494
In both cases my laptop froze and I had to reboot it, and that's olm starts crashing. And it looks like restoring from key backup is failing as well.

[2022-03-23 17:23] deepbluev7 opened #21537 "Thread fallback pointing the reply to reactions"
### Steps to reproduce

1. Send a message
2. Send a threaded message
3. React to it
4. Send another message in the thread

### Outcome

#### What did you expect?

Reply relation (thread fallback) points to the previous message in the thread.

#### What happened instead?

Reply fallback points to the reaction

Link to that happening: https://matrix.to/#/!xYbFkXlffnhucfxtxW:foad.me.uk/$foBEdCKLjQwJL

[2022-03-23 17:30] luixxiul commented on #21464
Basically I have found some visual inconsistencies related to `box-sizing` related to buttons, for example (1px border makes UI unnatural). `normalize.css` does not really adopt it, instead another project like `sanitize.css` does, with `opinionated` label. Please have a look at https://github.com/csstools/sanitize.css/blob/092d0d85922bfa72d28e9e8d25d80a5437c8df44/sanitize.css#L12. Since the UI of

[2022-03-23 17:31] #21537 closed

[2022-03-23 17:35] t3chguy commented on #21536
Turns out for reply fetching we still use the /context/ API rather than the /event/ one (/context/ is also used for fetching permalinks)

If no error was thrown then likely it wasn't a JS error, we rarely swallow errors.
Here we do swallow errors, but only if the /context/ fetch fails, would be good to log here regardless https://github.com/matrix-org/matrix-react-sdk/blob/3f67a389c148d661d024d0a0

[2022-03-23 17:35] robintown commented on #21479
Fixed by https://github.com/matrix-org/matrix-react-sdk/pull/7286

[2022-03-23 17:35] #21479 closed

[2022-03-23 17:47] MadLittleMods commented on #21536
@t3chguy Yes, 200 OK for `/context/`.

The place I can still reproduce is within a thread and replies and what not (around this sort of stuff https://github.com/vector-im/element-web/issues/21533) but the point still stands. Things go wrong in unexpected ways and this same sort of thing could happen in the main timeline for a message that should be there.

[2022-03-23 17:54] luixxiul commented on #21486
It looks like the same type of issue occurs on the space panel when the space name is long.

[2022-03-23 18:03] MadLittleMods commented on #21464
Can you expand on this? The default in the CSS spec is `box-sizing: context-box;` so it should appear the same across browsers.

I understand how there could be visual differences between components if the `1px` border isn't taken into account between them and some are using `box-sizing: border-box;`, while others aren't. But that's a bit of a different problem.

It sounds like there really isn't

[2022-03-23 18:09] luixxiul commented on #21464
I think this is fair, closing for now. Let's revisit this issue if necessary.

[2022-03-23 22:38] ara4n opened #21538 "Can't permalink msgs in ThreadPanel by their timestamp"
### Steps to reproduce

1. Go to a message in a thread
2. Right click on the timestamp to grab a permalink
3. Discover that it doesn't work in threads, unlike normal timelines
4. Feel perplexed

### Outcome

#### What did you expect?

Timestamps should act as a permalinks in threads

#### What happened instead?

They don't.

### Operating system

mac

### Application version

nightly

### How did

[2022-03-23 22:44] dkasak commented on #17550
Indeed, but:

1. I argue that we should not double down on this by piling on additional problems and instead aim to fix existing ones.
2. `/publicRooms` is strictly related to public rooms where encryption is inherently less useful for confidentiality.

[2022-03-23 22:49] SapphyThyHybrid commented on #13648
Continuing with this and with the help of friends, eventually we go there, thanks to this person and these steps (as well as other cause windows wants to be windows

disabling hardware acceleration has fixed the issue for me

Before disabling:
![image](https://user-images.githubusercontent.com/101528021/159808709-db236272-ee3b-40ce-a76a-c7d230e6022c.png)

and after disabling:
![image](https://user

[2022-03-23 22:58] ara4n commented on #19531
reopening as this is a pain, and it could be fudged clientside using libheif

[2022-03-23 23:02] ara4n opened #21539 "Videos don't get a thumbnail preview when you upload them"
### Steps to reproduce

1. Upload a video
2. Observe that the confirmation dialog doesn't include a thumbnail (unlike images, which get a thumbnail):

<img width="372" alt="Screenshot 2022-03-22 at 12 32 53" src="https://user-images.githubusercontent.com/1294269/159810182-170ad92d-70f1-4dce-ae87-346a13c40b14.png">

(whereas if it were an image, you'd see something like this:

<img width="500" alt=

[2022-03-23 23:23] turt2live commented on #19531
I don't think we can load libheif in the browser though?

When I last looked it either increased our bundle size dramatically or didn't work.

[2022-03-24 06:56] t3chguy commented on #19531
https://www.npmjs.com/package/libheif-js looks to be a thing for the browser

[2022-03-24 07:24] omalaspinas commented on #17210
I have the same problem on manjaro linux on one of my computers that appeared last week. I'm running:

Element version: 1.10.6
Olm version: 3.2.8

[2022-03-24 07:29] t3chguy commented on #21430
This got fixed in 1.10.7 I believe.

![image](https://user-images.githubusercontent.com/2403652/159864595-c1b594e8-34d2-457c-a5dc-55d78f46f0df.png)

[2022-03-24 07:29] #21430 closed

[2022-03-24 07:44] turt2live commented on #19531
LGPL-2.0 though, which iirc is a license incompatibility.

[2022-03-24 08:22] erkinalp opened #21540 "Commands to move read receipt and/or fully read marker to point to a particular event"
### Your use case

#### What would you like to do?
`/readreceipt <event-id>`
`/fullyread <event-id>`
When used without arguments, a pop-up with the current marker positions should be returned.
#### How would you like to achieve it?
`/readreceipt` should also check forward-only invariant client-side, before sending the request to the server side.

### Have you considered any alternatives?

"Mark as

[2022-03-24 08:39] ara4n opened #21541 "On un-sleeping laptop, element desktop sometimes goes entirely white (because EW has OOMed during the night)"
### Steps to reproduce

1. Unsleep mac laptop while running nightly
2. Observe that the app is entirely blank (and inspector won't open)
<img width="2056" alt="Screenshot 2022-03-24 at 08 37 46" src="https://user-images.githubusercontent.com/1294269/159876258-3a7b2443-26ba-4349-8ec1-64b26f7bdf91.png">

The app quite cleanly via File: Quit however.

Will send logs at next launch.

### Outcome

####

[2022-03-24 08:49] #21486 closed

[2022-03-24 08:50] #21485 closed

[2022-03-24 08:53] Sharparam commented on #19605
As of Synapse v1.55.0 the ordering seems to have changed back to the problematic one again, see my comment here for context: https://github.com/devture/matrix-synapse-shared-secret-auth/issues/12#issuecomment-1077380311

[2022-03-24 09:05] thibaultamartin opened #21542 "Maximised widgets prevent people from joining a room when peeking into the room"
### Steps to reproduce

1. Create a room
2. Add a widget (e.g. YT video), maximise it, set layout for everyone
3. Make the room public, enable guest access, make history readable by everyone, and join at least a matrix.org user in the room
4. Send a matrix.to link to the room to someone else

### Outcome

#### What did you expect?

I expect the person to be told they're seeing a preview, and asked

[2022-03-24 09:08] t3chguy commented on #21542
Element Web/Desktop don't allow guests to join rooms anyway, they're forced to register.

[2022-03-24 09:11] ara4n opened #21543 ""Unable to load event" in main timeline"
### Steps to reproduce

This msg looks to be a reply to a msg in a thread, but for whatever reason it doesn't know about the msg being replied to?

<img width="1647" alt="Screenshot 2022-03-24 at 09 09 41" src="https://user-images.githubusercontent.com/1294269/159881991-cb0e400d-11b7-46ff-93cc-f989046022e9.png">

### Outcome

#### What did you expect?

No unknown reply

#### What happened instead?

[2022-03-24 09:33] thibaultamartin commented on #21542
When sharing a matrix.to link to a someone who already has a registered account, their Element only shows the preview. So registered people cannot join the room from Element.

Here is a screenshot taken from Element Desktop, with someone logged in with a matrix.org account and who tried to join a room with maximised widgets.

![Screenshot 2022-03-23 at 16 07 47](https://user-images.githubuserconte

[2022-03-24 09:37] luixxiul opened #21544 "Space member count font style regression"
### Steps to reproduce

1. Create a space
2. Set the space to public
3. Open the space in a guest mode

### Outcome

#### What did you expect?

![after](https://user-images.githubusercontent.com/3362943/159887086-3f738acd-0ae0-491f-b9ab-067962a733f0.png)

#### What happened instead?

![before](https://user-images.githubusercontent.com/3362943/159887108-dda53d47-0cf7-4806-aeb6-733d689bfafc.png)

##

[2022-03-24 09:48] #21544 closed

[2022-03-24 09:49] JokerGermany commented on #21432
I don't know it its related @t3chguy send me here:
I have the opposite problem:
enter the room and you see nothing, Notice there is an upward arrow to scroll up to unread messages, klick on it and than see posts.
After scrolling up, i can't scroll down, but there is a button to jump to the newest message and then i get the black screen back
https://youtu.be/5baXib_cBDQ

[2022-03-24 09:52] waclaw66 commented on #19605
It's probably because order of flows is random...
https://github.com/matrix-org/synapse/blob/e78d4f61fc881851ab35e9a889239a61cf9805e5/synapse/handlers/auth.py#L390

[2022-03-24 09:59] JokerGermany commented on #21432
In my case there is nothing missing, just additional black "spacer".
I asked others.
https://youtu.be/Fybb6YNs8g0

[2022-03-24 10:04] JokerGermany commented on #21432
oh and now i can not scroll up anymore, okay, now i have an missing timeline XD

[2022-03-24 10:07] #21452 closed

[2022-03-24 10:54] JokerGermany commented on #21432
At least one person in #datenschutzraum:matrix.org has the same problem

[2022-03-24 10:58] luixxiul opened #21545 "Margin between "Forgot password?" and SSO buttons"
### Steps to reproduce

1. Logout from the session
2. Re-login

### Outcome

#### What did you expect?

The button should remain displayed with disabled state.

#### What happened instead?

The button disappears.

https://user-images.githubusercontent.com/3362943/159900205-56000c8a-c1ec-43bd-a5fc-40e3582ad5a7.mp4

### Operating system

_No response_

### Browser information

_No response_

### URL

[2022-03-24 11:05] benparsons opened #21546 "Prevent user from self-demoting to PL-1 (self-mute)"
### Your use case

#### What would you like to do?

Prevenet self-demote to -1.

#### Why would you like to do it?

There is no value in a user self-demoting to -1. They can't get out of this mode and once there they can't use widgets, which breaks some workflows.

#### How would you like to achieve it?

Disallow in the UI.

### Have you considered any alternatives?

* Build a synapse module which

[2022-03-24 11:21] t3chguy commented on #21542
Updated the title to better explain how guests fit into this.

[2022-03-24 11:32] #21534 closed

[2022-03-24 11:56] robintown commented on #21540
I assume the use case for this is to move read receipts backwards? That action is actually prevented at the Synapse level, in order to mitigate races between clients.

[2022-03-24 11:57] erkinalp commented on #21540
No, this is to move the fully read markers backwards, which **is** allowed per spec. No spec issues really.

[2022-03-24 11:59] #21539 closed

[2022-03-24 12:04] ara4n commented on #21543
Not sure this is uncommon - we're seeing it all over:
<img width="830" alt="Screenshot 2022-03-24 at 12 03 10" src="https://user-images.githubusercontent.com/1294269/159912396-f25f0df3-1c6e-4bbd-aa0e-fdc8674a0b5a.png">

[2022-03-24 12:17] #21435 closed

[2022-03-24 12:24] #21445 closed

[2022-03-24 12:24] #21447 closed

[2022-03-24 12:24] #21466 closed

[2022-03-24 12:24] #21533 closed

[2022-03-24 12:24] HarHarLinks commented on #21472
if you decide to use multiple ("up to 2") lines at all, then there should be less spacing between lines and instead more to the outside
![image](https://user-images.githubusercontent.com/2803622/159915600-1fa0d9b5-8321-4e6c-bb9b-40194856d679.png)

[2022-03-24 12:25] #19769 closed

[2022-03-24 12:26] #10924 closed

[2022-03-24 12:26] #18067 closed

[2022-03-24 12:26] #21015 closed

[2022-03-24 12:46] t3chguy commented on #21352
Hey @niquewoodhouse - thanks for taking time to do such a detailed design.

Not sure how I feel about this, given that once you start filtering and you don't find what you're looking for you are met with similar buttons, and by selecting them your query is maintained. Happy to keep it but it means swapping to the last room you were in is no longer `Cmd + K` `Enter`

---

I think this should be a t

[2022-03-24 12:47] t3chguy commented on #21354
Closing in favour of https://github.com/vector-im/element-web/issues/21352

[2022-03-24 13:08] HarHarLinks opened #21547 "tab-completing on emoji code tries to complete user isntead"
### Steps to reproduce

1. quickly type `:+1`
2. hit <kbd>Tab</kbd> before the emoji picker pops up

### Outcome

#### What did you expect?
emoji completion

#### What happened instead?
user completion

### Operating system

arch

### Application version

Element Nightly version: 2022032301 Olm version: 3.2.8

### How did you install the app?

aur

### Homeserver

1.54

### Will you send logs?

No

[2022-03-24 13:12] t3chguy commented on #21502
This is non-trivial as this is part of our ScrollPanel pagination mechanism - https://github.com/matrix-org/matrix-react-sdk/blob/develop/docs/scrolling.md#bacat-bottom-aligned-clipped-at-top-scrolling

[2022-03-24 13:21] luixxiul opened #21548 ""Show more" link on Invite dialog"
### Steps to reproduce

1. Open the invite dialog

### Outcome

#### What did you expect?

Margin between the user row and `Show more` should be retained.

![after](https://user-images.githubusercontent.com/3362943/159924917-95246e4b-9674-41f7-bfb1-013a9bb35547.png)

#### What happened instead?

Margin setting is not respected.

![before](https://user-images.githubusercontent.com/3362943/159924941

[2022-03-24 13:23] frakic opened #21549 "Missing divider between space type and member count"
### Steps to reproduce

1. Where are you starting? What can you see?
 -I've received an invitation to a space
2. What do you click?
 -I open the invitation
3. More steps…
 -There's no divider between the space type (private/public) and member count

### Outcome

#### What did you expect?
This is what it looks like on Web:
![image](https://user-images.githubusercontent.com/18530109/159925191-451249

[2022-03-24 13:29] luixxiul commented on #21549
It should be fixed with https://github.com/matrix-org/matrix-react-sdk/pull/8142.

[2022-03-24 13:34] #21549 closed

[2022-03-24 13:34] t3chguy commented on #21549
Nightly is too old to have this fix.

[2022-03-24 13:35] #21548 closed

[2022-03-24 13:35] t3chguy commented on #21547
Duplicate of https://github.com/vector-im/element-web/issues/9757

[2022-03-24 13:35] #21547 closed

[2022-03-24 13:52] KamilBaczkowski opened #21550 "Can't reply to messages while searching"
### Steps to reproduce

1. Go to a room
2. Click the search button
3. Try using the reply button

### Outcome

#### What did you expect?
I expected that I would be able to reply to a message while the search bar is active.

#### What happened instead?
The message input was focused, and that's all

### Operating system

Manjaro Linux

### Application version

Element version: 1.10.7 Olm version: 3.

[2022-03-24 13:53] luixxiul opened #21551 "Group chat icon on HomePage"
### Steps to reproduce

1. Open the home page

### Outcome

#### What did you expect?

The group icon should be displayed.

#### What happened instead?

It is blank. I guess the code to display the icon has been removed because it included `community` in its file name.

![before](https://user-images.githubusercontent.com/3362943/159931240-0f6c8bc0-4d9f-4014-9822-457a60d74ff7.png)

### Operating sy

[2022-03-24 14:02] t3chguy commented on #21550
This is fixed on develop

[2022-03-24 14:02] #21550 closed

[2022-03-24 14:25] t3chguy commented on #21536
#21533 never claimed to fix it, nor did it even think it did

[2022-03-24 14:28] MadLittleMods commented on #21536
Before https://github.com/vector-im/element-web/issues/21533, it was unclear to me where the replies were meant to be (in main timeline or thread panel) and whether it was more of a undefined scenario since it was duplicated and would disappear after that PR. Now that is more settled and I can narrow down a bug more clearly.

[2022-03-24 14:34] MadLittleMods commented on #21543
I am seeing this for a reply in the main timeline which references a threaded message:

https://matrix.to/#/!fLeHeojWgBGJlLNdLC:matrix.org/$O8TE4QvivFsz_kstdni7L9yvn6O0scRV4iRbTOumUFQ?via=matrix.org&via=element.io&via=vector.modular.im
![](https://user-images.githubusercontent.com/558581/159931238-463a9005-04f9-4238-b3eb-4298ec68f274.png)

Separately, it would be also be good to improve the reply

[2022-03-24 14:38] t3chguy commented on #21502
This already appears to be the case, we don't put any spacing between messages but have an inflated line-height to cause it.

![image](https://user-images.githubusercontent.com/2403652/159940599-4b56a69e-bae7-4253-b1b5-5123f70337c3.png)
![image](https://user-images.githubusercontent.com/2403652/159940620-cf4ace62-1808-4f08-a0b5-63acaf34226c.png)

[2022-03-24 14:43] omame opened #21552 "Wrong thread replies count in room summary"
### Steps to reproduce

I started a thread and I got one additional reply, but the thread summary in the room shows a total of 5.

<img width="701" alt="Screenshot 2022-03-24 at 15 35 25" src="https://user-images.githubusercontent.com/1301328/159941496-fbac8d34-fc3e-48fd-a176-865c5c2256cb.png">

### Outcome

#### What did you expect?

The counter shows 2.

#### What happened instead?

The counter

[2022-03-24 14:45] t3chguy commented on #21552
@omame any chance of an un-obfuscated screenshot out of band? Just to see if there are things like edits, reactions etc which may over-inflate the count

[2022-03-24 14:46] jryans commented on #21542
Planning to take a look at this next week.

[2022-03-24 14:48] t3chguy commented on #21552
This is a threads degraded mode fail

[2022-03-24 15:02] gsouquet commented on #21552
At the time where this was reported

- User had a stable Element Desktop
- A local `config.json` to enable threads there
- Element client was at a version that would use `io.element.thread`
- Server would advertise usage of `m.thread` only

Threads are operating, as @t3chguy said in degraded mode

[2022-03-24 15:14] luixxiul opened #21553 "Buttons gap on NewRoom intro on a room in Space"
### Steps to reproduce

1. Create a room inside a space
2. Make the browser window small

### Outcome

#### What did you expect?

Gap around buttons should be retained

https://user-images.githubusercontent.com/3362943/159948339-7daa66a9-1e9c-4823-b859-1e636e8d9a27.mp4

#### What happened instead?

Only margin-left is set.

https://user-images.githubusercontent.com/3362943/159948360-1c157ab8-14cf-

[2022-03-24 16:20] niquewoodhouse commented on #21352
Thanks @t3chguy for the thorough look through.  Based on your input I've made a new version [here](https://www.figma.com/file/X7PvFE7f73mI7pJ9WLM61l/?node-id=248%3A20656)

- amends the pre-input to not show buttons
- changes actions in people and room lists (create new room + copy link) to be tiles
- removes privacy reference from end of room list results
- remove ideas around using input to show

[2022-03-24 16:58] t3chguy commented on #21352
This is great, one other thing, these don't look like tiles

![image](https://user-images.githubusercontent.com/2403652/159969662-9ebe1120-ecc2-4d96-8934-f40afa33e32c.png)

Presumably arrow keys will still move between them, could we get a hover/active state design just to see what one of these huge "tiles" looks like

[2022-03-24 17:56] HarHarLinks commented on #6684
https://user-images.githubusercontent.com/2803622/159980147-7b748990-e5e9-491c-b74c-c2aa60690f55.mp4

[2022-03-24 17:59] gnomelibre commented on #19258
You can close it, it started working again a few weeks after this bug report 🙂

[2022-03-24 17:59] #19258 closed

[2022-03-24 18:17] luixxiul opened #21554 "Labs beta card overflow on a small window"
### Steps to reproduce

1. Open Settings
2. Open `Labs`

### Outcome

#### What did you expect?

The beta card should be wrapped like below.

https://user-images.githubusercontent.com/3362943/159982965-c35dda3c-f268-4b5f-8c1e-925b33b50f8d.mp4

#### What happened instead?

The GIF image on the right side is only partly displayed.

![before](https://user-images.githubusercontent.com/3362943/15998300

[2022-03-24 18:21] luixxiul commented on #21554
Before pushing a commit, I would like to know if it is fine to proceed with that design. If it should stay as it is, I'll close this issue.

[2022-03-24 19:10] erkinalp commented on #14736
Multiple rooms with same members are possible in the protocol level, hence Element should not make this impossible.

[2022-03-24 19:27] JokerGermany commented on #21432
There is a fluffychat user who thinks that he has the same Problem.

[2022-03-24 19:43] turt2live commented on #14736
@erkinalp that's a different issue.

[2022-03-24 19:51] #21551 closed

[2022-03-24 19:51] #21553 closed

[2022-03-24 21:05] babolivier commented on #9422
I've seen it happen again yesterday and today, have rageshaken ^

[2022-03-25 02:25] turt2live opened #21555 "Drop `focus-visible` polyfill once Safari 15.3 is no longer supported"
https://caniuse.com/?search=focus-visible

We use [focus-visible](https://www.npmjs.com/package/focus-visible) to polyfill the `:focus-visible` pseudoclass, which we should remove as soon as we're able.

[2022-03-25 03:20] Pecacheu commented on #19531
I'm not a license expert but isn't LGPL meant to be more inclusive of integration into projects with other open-source licenses than regular GPL?

(I wouldn't be the one to ask about the specifics of if it's compatible with Apache 2 though. I've just heard the "Linux heads" in my area complain about Apache licenses a lot, so I avoid them for my projects.)

[2022-03-25 03:25] turt2live commented on #19531
it's mostly compatible, but the "same license" clause causes issues. We'd be forced to look at re-licensing or dual licensing, neither of which are fun.

[2022-03-25 03:29] turt2live commented on #21536
it might be possible to add a developer-only button of some kind if we're not certain it'd be safe for the general population. Like https://github.com/matrix-org/matrix-react-sdk/pull/7537 but for replies.

[2022-03-25 03:30] turt2live commented on #21416
I haven't seen this since, so counting it as a race condition in the room list store. Given it's unlikely to happen in a relatively high traffic account such as mine, I'm not terribly worried.

Closing as cannot reproduce.

[2022-03-25 03:37] turt2live commented on #21529
Related: https://github.com/vector-im/element-web/issues/5383

For contributors: scoping this issue to exactly what's described in the title is best, as otherwise the scope gets complex. Talk to us in #element-dev:matrix.org for questions :)

[2022-03-25 03:39] turt2live opened #21556 "Issue-moving CI is broken"
https://github.com/vector-im/element-web/actions/runs/2037964992

[code]

[2022-03-25 03:46] Pecacheu commented on #19531
Ah gotcha. The other library I linked earlier, heic2any is under MIT instead, not sure if that is any easier.

[2022-03-25 03:50] Doomsdayrs opened #21558 "Screenshare settings"
### Your use case

#### What would you like to do?

##### Change the quality of the screenshare.
IE:
140p
240p
360p
480p
720p
1080p
...
4k
Automatic

##### Change the FPS of the screenshare
15fps
24fps
30fps
60fps
...
Source
Automatic

#### Why would you like to do it?

By doing so, I can ensure my stream maintains lag free.

#### How would you like to achieve it?

When screen sharing, provide a b

[2022-03-25 05:26] SimonBrandner commented on #21558
Related: https://github.com/vector-im/element-web/issues/19008, https://github.com/vector-im/element-web/issues/16657

[2022-03-25 08:30] t3chguy commented on #6684
Not the homeserver necessarily, because encryption, but the embedded thumbnail generated by the sender, yes (or server in plaintext rooms)

[2022-03-25 08:30] t3chguy commented on #6684
This will be the issue then

[2022-03-25 08:40] t3chguy commented on #21555
FTR it doesn't polyfill `:focus-visible` but instead provides a `.focus-visible` class, so a find-and-replace is needed as well as killing the dep

[2022-03-25 08:42] t3chguy commented on #21554
It looks sane to me!

[2022-03-25 09:16] novocaine commented on #9422
the rageshake is really helpful, thanks. it looks like the out of date app is being detected correctly, but the forced reload isn't happening still.

relevant lines

I will try to unpick that when I get some time next week.

[2022-03-25 09:34] gsouquet commented on #21558
Closing as duplicate of https://github.com/vector-im/element-web/issues/19008

[2022-03-25 09:34] #21558 closed

[2022-03-25 09:47] t3chguy commented on #21502
This already appears to be 8px, can you confirm?

[2022-03-25 09:53] luixxiul commented on #21554
What concerns me here is that the heights of cards area might be too large when there are more than a couple of tests, like three tests. To decrease the height of each card a little bit, for example I could try to align feedback and leave beta buttons horizontally when the animation image is wrapped, taking the length of their strings which depend on translation into consideration.

[2022-03-25 10:31] thany opened #21560 "Press arrow-up to edit most recently sent message stopped working"
### Steps to reproduce

1. Send any message
2. Press up on the keyboard

### Outcome

#### What did you expect?

The most recently sent message should go into edit mode.

#### What happened instead?

Nothing.

### Operating system

Windows 10

### Application version

Element version: 1.10.7 Olm version: 3.2.8

### How did you install the app?

_No response_

### Homeserver

matrix.org

### Will y

[2022-03-25 10:37] t3chguy commented on #21560
Duplicate of your own issue https://github.com/vector-im/element-web/issues/19908

[2022-03-25 10:37] #21560 closed

[2022-03-25 12:03] nadonomy commented on #21502
<img width="725" alt="Screenshot 2022-03-25 at 11 59 52" src="https://user-images.githubusercontent.com/4626865/160117056-16f3c836-48ed-49c9-9bb5-3d2be1e594aa.png">

@janogarcia @t3chguy @gsouquet can I add these visual glitches to your list pls? (develop, latest):

1. Display name split across multiple lines. I assume/suggest it should always be single line and use `text-overflow: ellipsis;` or s

[2022-03-25 12:06] t3chguy commented on #21502
@nadonomy 1. is https://github.com/vector-im/element-web/issues/21472

[2022-03-25 12:45] t3chguy commented on #16193
Should be supported in the same manner GIFs are

[2022-03-25 12:59] ritikBhandari commented on #10122
Hi,
Can I resolve this issue if still open?

[2022-03-25 13:16] josteink commented on #19240
Using swaywm, I've experienced this issue too on some of my machines... I was never sure what was different about the different environments, but disabling desktop notifications seems to have fixed it for now.

Will have to look into a notification-daemon in the long run, I guess ;)

[2022-03-25 14:06] whoizit commented on #18943
for me simply works this:
- Add the following to `~/.config/electron15-flags.conf`:
- `--enable-features=UseOzonePlatform --ozone-platform=wayland`
- Create `~/bin/element` as
`exec /usr/bin/electron15 /usr/lib/element/app.asar "$@"`
- `chmod +x /usr/local/bin/element-desktop`

[2022-03-25 14:27] cdauth commented on #11756
Is there any progress or any more info on this? I'm experiencing this when I'm trying to open a room from another server.

[2022-03-25 14:35] luixxiul commented on #21554
This should look better. The feedback button is placed above and right of the other button.

![after1](https://user-images.githubusercontent.com/3362943/160141252-f8fb9f41-4565-4ad5-b23e-640d1bf146fd.png)
![after2](https://user-images.githubusercontent.com/3362943/160141272-d45f9be0-5bb4-48a7-8bc2-743e72bd4790.png)

[2022-03-25 14:38] thawn commented on #20221
I just encoundered the same issue on both the web and desktop clients:

When I go to the "Space Home" page, I see a message "Failed to load list of rooms" and an infinitely running spinner.

What is a bit weird is, that the error message and spinner appear immediately without any delay.

Here is a screenshot:

![image](https://user-images.githubusercontent.com/1308449/160141282-9c518633-f27b-4473-

[2022-03-25 15:18] robintown commented on #1122
Duplicate of https://github.com/vector-im/element-web/issues/19747 (that issue has more conversation)

[2022-03-25 15:18] #1122 closed

[2022-03-25 15:22] t3chguy commented on #20221
@thawn likely neither, likely a timeout due to your server not having enough resources, but due to how CORS works there's no way for the app to differentiate different kinds of errors (e.g timeouts)

[2022-03-25 15:54] robintown opened #21563 "The "View source" button has disappeared"
### Steps to reproduce

Open the context menu of any event

### Outcome

#### What did you expect?

To see the "View source" option

#### What happened instead?

It's not there:

![Screenshot 2022-03-25 at 11-52-50 Element 1 Michael (t3chguy)](https://user-images.githubusercontent.com/48614497/160155619-48fedb96-ada1-4b4e-88a9-a7bd0b398dba.png)

### Operating system

NixOS unstable

### Browser in

[2022-03-25 15:59] robintown commented on #21563
Apparently this is hidden behind developer mode now, but I can't find how to enable developer mode anymore :confused:

[2022-03-25 16:04] robintown commented on #21563
The option is in /devtools

[2022-03-25 16:04] #21563 closed

[2022-03-25 18:21] BurnyBoi commented on #18898
FYI, develop.element.io has now disabled communities, and this change was never merged in, so soon there will be no choice to hide the bar soon. Can this be merged before removing communities goes live? Those of us using vertical monitors would appreciate this!

[2022-03-25 18:24] thany commented on #21560
But it was fixed...

[2022-03-25 18:27] thany commented on #19908
Okay, so I though this was fixed, but the issue cropped up again.

I still would very much like to know how this possibly could *not* work. How hard is it, I mean honestly, to find the most recent message sent by the current user? And then just throw it in edit mode?

I'm not expierenced in native apps, but I do know that this can't possibly be hard in any way, shape, or form. So, something REALLY

[2022-03-25 18:54] t3chguy commented on #18898
Given the designer responsible for this area is off at the moment that will unfortunately not happen.

[2022-03-25 19:18] peterclemenko commented on #11683
I'd like to see this as well

[2022-03-25 19:42] robintown commented on #19908
Hi @thany, the reason this hasn't been fixed yet is that we haven't determined how to reproduce it. It would help if you could share some details:

- The composer is focused when you try pressing up, correct?
- Is it possible that there are >100 events between your latest message and the bottom of the timeline?
- Could you share a screenshot of what the timeline looks like when this occurs?

[2022-03-25 19:47] turt2live opened #21564 "Handle poetry usage in Synapse for end-to-end tests"
Unclear if we actually need to do anything, but if we do, then we should do it.

See https://github.com/matrix-org/synapse/pull/12049

[2022-03-25 20:53] yaya-usman commented on #21475
hey @gsouquet can i get assigned this issue

[2022-03-25 22:35] clusidc commented on #19908
Hey, i am not thany, but the problem still persists here, too.

What did i do:
- Shutdown windows PC with element Desktop opened. (not in focus)
- (Receive error Message from Origin (EA game launcher) about some weird access violations on the ram (Problem with Element also happens without Origin opened, though, but i once had a similar Message from Element in the shutdown screen))
- write >100 Mes

[2022-03-26 01:16] jason-oliveira opened #21565 "Input focus bug locks up Brave/Chromium"
### Steps to reproduce

1. use brave browser or Chromium
2. start up element
3. eventually mouseOver reply/emoji button one too many times
4. watch cursor rapidly switch from arrow to hand icon multiple times per second, freezing Brave and locking the browser (any other open window) from being able to accept input until the issue is resolved
5. have someone type in the active chat, and wait for th

[2022-03-26 04:41] robintown commented on #21565
Duplicate of https://github.com/vector-im/element-web/issues/21147

[2022-03-26 04:41] #21565 closed

[2022-03-26 06:14] AryaArunB commented on #21545
https://user-images.githubusercontent.com/60646682/160227287-e1f8ef1c-d580-4454-bbe0-948b76ad6d56.mov

[2022-03-26 06:14] AryaArunB commented on #21545
Is this better?

[2022-03-26 06:15] AryaArunB commented on #21545
I have tried to retain the sign in button here just let me know if it's good enough.

[2022-03-26 06:53] luixxiul opened #21566 "Beta pill label should not be wrapped"
### Steps to reproduce

1. Change language setting to one of CJK languages
2. Enable beta search
3. Activate it

### Outcome

#### What did you expect?

Beta pill label `ベータ版` (BETA) should not be wrapped.

![after](https://user-images.githubusercontent.com/3362943/160228194-1a564109-29fe-4a06-8dcb-bd8f7bce974e.png)

`word-break: keep-all` should works here harmlessly since it only changes how Chi

[2022-03-26 07:22] SimonBrandner commented on #21475
@yaya-usman, I've assigned you to the issue. If you need any help/have any questions be sure to visit [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org)!

[2022-03-26 09:12] luixxiul opened #21567 "Set correct style to the link inside text of room directory dialog"
### Steps to reproduce

1. Display dialog to explore rooms

### Outcome

#### What did you expect?

The link should be treated as an inline text.

![after](https://user-images.githubusercontent.com/3362943/160232823-5d604c2d-7944-4b40-b9cf-339e3842dc5f.png)

#### What happened instead?

See below:

![before](https://user-images.githubusercontent.com/3362943/160232824-15755ecc-4611-4c4e-9ecb-bb32a2

[2022-03-26 09:26] yaya-usman commented on #21475
@SimonBrandner thanks, let me start working on it

[2022-03-26 14:17] yaya-usman commented on #21428
@turt2live can I get assigned this issue?

[2022-03-26 14:24] yaya-usman commented on #21555
@turt2live let me give this trial

[2022-03-26 15:21] SimonBrandner commented on #20512
@yaya-usman, I've assigned you to the issue. If you need any help/have any questions be sure to visit [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org)!

[2022-03-26 15:21] SimonBrandner commented on #21428
@yaya-usman, I've assigned you to the issue. If you need any help/have any questions be sure to visit [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org)!

[2022-03-26 15:48] ShadowJonathan opened #21568 "Require confirmation when clicking away room settings with unsaved changes"
### Your use case

#### What would you like to do?

Have a confirmation popup or the likes when clicking away from unsaved changes in room settings.

#### Why would you like to do it?

When I've edited room settings in some way in the "general" tab, and not saved those changes, and then click away (another tab, going back to the room by clicking the cross mark or outside the settings modal), eleme

[2022-03-26 18:59] kbetty commented on #21556
Hello @turt2live I have interest to work on this issue!

[2022-03-26 19:08] masscream commented on #18082
Still occurs for me on one of the PCs I'm in charge of. Debian 11 Bullseye, Xfce. I'm sending logs from that Element instance with the reference to this issue.

[2022-03-26 19:31] turt2live commented on #21556
Unfortunately this issue is probably best served by a member of our team to validate the intention of the workflow.

[2022-03-26 19:35] turt2live commented on #21428
Unfortunately this one actually requires a bit of decision making on the team's side, so going to suggest that a different issue be worked on. Thank you for the interest, though!

[2022-03-26 19:36] turt2live commented on #21555
(worth noting that we might not be able to accept contributions on this issue for 6-12 months because of the Safari release cycle)

[2022-03-26 19:40] turt2live opened #21569 "Video showed up as a static image and audio player"
### Steps to reproduce

1. Receive a video in a chat
2. Wait for the server to download it
3. If autoplay is enabled, it'll play as a frozen frame with an audio player instead of the video controls

### Outcome

#### What did you expect?

I expected the video to not load or to have the correct playback.

#### What happened instead?

![image](https://user-images.githubusercontent.com/1190097/160254

[2022-03-26 19:42] turt2live commented on #21569
The video plays fine in external players, when downloaded.

[2022-03-26 20:04] BrenBarn commented on #2671
This really needs to be resolved.  Changing a password is a completely normal and everyday operation that should not be this disruptive.

[2022-03-26 21:26] robintown opened #21570 "In threads, disambiguated names are blue"
### Steps to reproduce

1. Have multiple users with similar display names in a room
2. Start a thread as one of those users

### Outcome

![Screenshot 2022-03-26 at 17-23-43 Element 2 Test room](https://user-images.githubusercontent.com/48614497/160257654-610b3994-5b4e-427b-a1f7-d7cf9c23cdb7.png)

#### What did you expect?

The disambiguated part of the display name should have the same gray color

[2022-03-26 21:52] yaya-usman commented on #21555
Ok, let me check other issues to work on

[2022-03-26 22:10] wvhulle opened #21571 "Events RSVP management"
### Your use case

#### What would you like to do?

Next to the option of adding polls, it would be nice to have an option to share events with a location and ask for RSVPs.

#### Why would you like to do it?

To make Element a better competitor to Facebook.

#### How would you like to achieve it?

Adding an extra option in the message attachment dialog.

### Have you considered any alternatives?

[2022-03-26 22:15] thany commented on #19908
@robintown

I don't know how to reproduce it either. But I do know that it's never long before the problem pops up again, after working correctly for a seemingly random amount of time (could be days).

I understand that a reliable reproduction path is important. I'm a developer myself, and intermittent bugs are annoying for a developer to be told to fix. However, if you study the source, surely yo

[2022-03-26 22:16] israelsgalaxy commented on #21529
Hey @ara4n :),
Could you assign this issue to me? (Outreachy applicant)

[2022-03-26 22:24] yaya-usman commented on #20512
@SimonBrandner Thanks

[2022-03-27 08:05] SimonBrandner commented on #21570
I've seen this once before but can't repro it now

![2022-03-27_10-04](https://user-images.githubusercontent.com/25768714/160272641-7d5831f3-0524-4cb0-a934-1dbf893dd916.png)

[2022-03-27 08:14] SimonBrandner commented on #21571
You might also want to consider filing an issue at https://github.com/matrix-org/matrix-spec

[2022-03-27 09:21] Ornanovitch commented on #11235
The same popular request has been made more recently [for element-android](https://github.com/vector-im/element-android/issues/3036), maybe it should be considered as a valid issue for element-meta?

Anyway, even if it wasn't set as the default behavior, it would be a great improvement.

[2022-03-27 09:28] SimonBrandner commented on #10122
From the looks of it, https://github.com/dropbox/zxcvbn/issues/292 hasn't been resolved yet, so I am not sure how would you like to approach fixing the issue?

[2022-03-27 09:56] ritikBhandari commented on #10122
Ohh is it? I didn't know about the previous issue. :)

[2022-03-27 09:56] ritikBhandari commented on #10122
Ohh is it? I didn't know about the previous issue. :)

[2022-03-27 12:49] luixxiul opened #21572 "Design of secret key dialogs inconsistent"
### Steps to reproduce

1. Open a private tab on a browser
2. Log in

### Outcome

#### What did you expect?

The style of the dialogs should be consistent.

![after2](https://user-images.githubusercontent.com/3362943/160281384-74c66d32-7d55-4b6a-a8ea-5e1135ab70e4.png)

![after1](https://user-images.githubusercontent.com/3362943/160692394-66b27b08-2df3-464c-8011-4214c7a8f385.png)

![after](https:/

[2022-03-27 14:02] robintown commented on #21570
Maybe requires bubble layout?

[2022-03-27 14:04] SimonBrandner commented on #21570
Ah, yep!

[2022-03-27 17:56] yaya-usman commented on #21475
Hi @SimonBrandner , i just set up element-web on my pc and is running on localhost, i can't seem to find where events are located,i could only find share rooms not share events, can you kindly drop screenshots so i can reproduce the issue. Thanks

[2022-03-27 18:00] SimonBrandner commented on #21475
![2022-03-27_20-00](https://user-images.githubusercontent.com/25768714/160294387-cae0045f-0641-49b0-9e9a-6e69ae36dc81.png)

Let me know if it is clearer now?

[2022-03-27 18:17] yaya-usman commented on #21475
Yes,thanks

[2022-03-27 20:06] yaya-usman commented on #21572
@luixxiul  can you assign me this issue?

[2022-03-27 20:07] yaya-usman commented on #21572
Figured out there is a pull request already

[2022-03-27 20:32] luixxiul commented on #21572
FYI I cannot assign anyone as I am not a team member.

[2022-03-27 21:24] yaya-usman commented on #21475
@SimonBrandner I have fixed this issue since, but i am having issues pushing my changes to my forked version so i could make a pull request, it's giving me remote push rejected

[2022-03-27 21:28] yaya-usman commented on #21475
The thing is i only cloned the main repo the element-web and followed the guide in setting up the local version by linking matrix-react-sdk and matrix-js-sdk repos, so do i need to fork the supporting repos as well? For instance i only made changes to matrix-react-sdk, so i want to push my changes from there since element-web is linked to it, but somehow it's not working.

[2022-03-28 04:39] SimonBrandner commented on #21475
Yes, you need to fork all the repos, if you make changes to the react-sdk, you only push the changes and make PR from there.

Though, I would suggest asking these questions in https://matrix.to/#/#element-dev:matrix.org

[2022-03-28 07:52] mmahmoudian opened #21573 "Assign user to specific space"
I tried to see if someone else have reported this but didn't find anything even close ([Example](https://github.com/vector-im/element-web/issues?q=assign+to+space+)). If I missed it and this is a duplicate, I apologize.

-------

### Your use case

#### What would you like to do?

It would be nice to be able to assign a specific chat to a Space.

#### Why would you like to do it?

I have been rece

[2022-03-28 07:59] #21570 closed

[2022-03-28 08:03] agrani29 commented on #21446
Hii @gsouquet, can you please assign this issue to me, I want to work on it. I am an Outreachy applicant.

[2022-03-28 08:14] t3chguy commented on #21573
You can add existing rooms to a space - see https://github.com/vector-im/element-web/issues/20222

[2022-03-28 08:14] #21573 closed

[2022-03-28 08:19] mmahmoudian commented on #21573
@t3chguy  No you cannot. You can only add "room"s and not private chat with people. I don't know what the lingo is, but I just tried and the list only and only shows the rooms with more than 1 users. What I'm asking is those chats that are categorized under "people"

[2022-03-28 08:20] t3chguy commented on #18782
Closing as duplicate of #6109

[2022-03-28 08:20] #18782 closed

[2022-03-28 08:20] t3chguy commented on #21568
Duplicate of https://github.com/vector-im/element-web/issues/6109

[2022-03-28 08:20] #21568 closed

[2022-03-28 08:20] mmahmoudian commented on #21573
Also it is super confusing because I don't want to add this private chat to that Space so that everyone on earth can see, I want it to be added so that I can see it more organized. This is because everyone is using a nickname and it is impossible to keep track of who was this person I chatted with in few weeks.

[2022-03-28 08:23] t3chguy commented on #21573
If the space is private then you can also add DMs.

Given DMs are private-rooms, they'll only be visible in the space to those already in the room (i.e the participants of the DM) and the rest of users would only see the room ID but never in the UI as the UI will hide rooms you don't have permission to know details of.

<img width="555" alt="image" src="https://user-images.githubusercontent.com/24

[2022-03-28 08:27] t3chguy commented on #21569
@turt2live can you confirm the event is `m.video` and also the DOM contains a `<video />` element for playback?

[2022-03-28 08:27] #21566 closed

[2022-03-28 08:38] #12967 closed

[2022-03-28 09:02] #21567 closed

[2022-03-28 09:14] andybalaam opened #21574 "In thread "Unable to load event that was replied to, it either does not exist or you do not have permission to view it.""
### Steps to reproduce

1. In a room with a thread
2. Someone has replied to their own message inside the the thread

### Outcome

#### What did you expect?
The replied-to messages should be displayed

#### What happened instead?
The replied-to messages are missing, replaced with "Unable to load event that was replied to, it either does not exist or you do not have permission to view it."

![image

[2022-03-28 09:19] t3chguy commented on #21574
Duplicate of https://github.com/vector-im/element-web/issues/21543

[2022-03-28 09:19] #21574 closed

[2022-03-28 09:22] mmahmoudian commented on #21573
@t3chguy What am I doing wrong?

https://user-images.githubusercontent.com/390889/160367837-f7439ec1-05eb-44b0-bd7a-6141ab2a68a3.mp4

[2022-03-28 09:30] t3chguy commented on #21573
Is your space private?

[2022-03-28 09:32] mmahmoudian commented on #21573
No the Space is not private.

Then I guess my feature request hold and should not be closed because it has nothing to do with #20222 ?

[2022-03-28 09:34] t3chguy commented on #21573
I suggest adding it to https://github.com/vector-im/element-web/issues/17260 or maybe opening an element-meta issue given it isn't web-specific.

[2022-03-28 09:36] yaya-usman commented on #21437
@robintown how do i locate the composer? can you kindly drop a screenshot of the steps in reproducing the issue

[2022-03-28 10:07] planetoryd commented on #21465
It resembles telegram channel too

[2022-03-28 10:14] ShadowJonathan commented on #6109
From https://github.com/vector-im/element-web/issues/21568; this discards unsaved room information, even when pressing between tabs.

@t3chguy Maybe this can have a better title?

[2022-03-28 10:16] TorstenC commented on #2320
Vulnerability and compromised software are a trade-off for convenience.

But what about a warning?
Every user could choose between more security or more convenience.

[2022-03-28 10:18] yaya-usman commented on #21437
@t3chguy  @robintown , can you assign the issue to me?

[2022-03-28 10:26] #21554 closed

[2022-03-28 10:36] yaya-usman commented on #18447
@gsouquet @turt2live it seems this issue has been fixed, because i couldn't reproduce the issue even when "always show timestamps" is off or on

[2022-03-28 10:41] #18447 closed

[2022-03-28 11:15] jakewb-b opened #21575 "Element Web crashes when I block Chrome from having location permissions and then try to share location"
### Steps to reproduce

1. In Element Web (version: 1.10.7) on Chrome (version 99.0.4844.83)
2. Go to a room and attempt to share location
3. Assuming location permissions have not previously been given, Chrome asks for location - select 'block'
4. Alternatively, before sharing location, click the padlock symbol on the URL bar and explicitely disable location permissions - then attempt to share lo

[2022-03-28 11:21] gooseNjuice opened #21576 "Error execution "docker build ." with my own version of matrix-react-sdk"
### Steps to reproduce

Hey. I'm trying to build an image using the element-web. The only difference that I use my own copy
Matrix-React-SDK with modified style files.
To do this, in DockerFile I changed three lines
[code]
Then I execute "docker build ." from the element-web folder.

### Outcome

I expect to get a docker image, but instead got this message:

### Operating system

_No response_

##

[2022-03-28 11:25] thawn commented on #20221
@t3chguy thanks for your quick reply (and sorry for my slow answer 😉 )
But if it is a timeout, why is it appearing reproducibly every time? Also, the error message appears immediately, without any delay, I would expect that it should take some time if it was a timeout.

[2022-03-28 11:33] t3chguy commented on #20221
Only the Synapse server logs would have your answers unfortunately.

[2022-03-28 11:36] gsouquet commented on #21575
https://user-images.githubusercontent.com/769871/160389767-1c8a917f-2394-48e9-8b88-2940e7fe5725.mov

Have not been able to reproduce so far
Does this happen in private browsing too (just so that we can clear out that your extensions do not interfere with Element)

[2022-03-28 11:47] thawn commented on #20221
@t3chguy o.k. thanks. I will report the issue to the people who have access to that log. In case I get some enlightening information from them, I will report back here.

[2022-03-28 11:50] jakewb-b commented on #21575
Yup, seems to happen in incognito as well.
https://user-images.githubusercontent.com/87766619/160391896-f7a0c4d2-6772-483a-bd1a-3a1281abe2f2.mov

[2022-03-28 12:18] robintown commented on #21437
@yaya-usman It's the input box at the bottom of the screen, and the code formatting button is this one:

![Screenshot 2022-03-28 at 08-17-25 Element Test room](https://user-images.githubusercontent.com/48614497/160396137-0b32edea-5e23-4024-94af-cf0b3fc6181f.png)

[2022-03-28 12:30] ttheshreeyasingh commented on #19245
@gsouquet  Can I be assigned this issue? I'm an outreachy applicant.

[2022-03-28 12:39] ttheshreeyasingh commented on #18164
@gsouquet @t3chguy  Can I be assigned this issue?

[2022-03-28 12:42] Half-Shot opened #21577 "Devtools button is missing from room settings"
### Steps to reproduce

1. Open a room
2. Go to the room settings
3. See the lack of a devtools button to open the devtools.

### Outcome

### What did you expect?

A devtools button in the room settings

#### What happened instead?

It's not there

### Operating system

Arch Linux / Wayland w/ Sway

### Browser information

Firefox 98

### URL for webapp

develop.element.io

### Application versi

[2022-03-28 12:42] yaya-usman commented on #21437
Yea figured it out, thanks. I am working on it

[2022-03-28 12:46] t3chguy commented on #21577
That button was removed, it is now available via /devtools or with Developer Mode enabled also in the room header context menu and the quick settings menu

<img width="339" alt="image" src="https://user-images.githubusercontent.com/2403652/160400727-19efae04-c63e-4824-a393-0058d422b2f5.png">
<img width="255" alt="image" src="https://user-images.githubusercontent.com/2403652/160400747-a6c9bcb3-c4b1

[2022-03-28 12:46] #21577 closed

[2022-03-28 13:00] t3chguy commented on #21502
This is a limitation of the spec, the search API doesn't tell us they're thread roots: https://github.com/matrix-org/matrix-doc/pull/3666

[2022-03-28 13:05] Prakashh21 commented on #21482
hey @gsouquet @SimonBrandner @mketer1  can I work on this , I really feel like can do this , I'm an outreachy applicant Thankyou !!

[2022-03-28 13:06] novocaine commented on #21194
This has been improved through a bunch of different fixes so happy to close

[2022-03-28 13:33] gsouquet opened #21578 "Room header avatar does not match timeline avatar"
### Steps to reproduce

1. Not quite sure... but Element ends up in that state sometimes

### Outcome

#### What did you expect?

For the same avatar to be used everywhere for a given user

#### What happened instead?

Room header & room list use the wrong avatar, timeline uses the correct one

<img width="744" alt="Screen Shot 2022-03-28 at 14 30 08" src="https://user-images.githubusercontent.com

[2022-03-28 13:42] t3chguy commented on #21578
Duplicate of https://github.com/vector-im/element-web/issues/20064

[2022-03-28 13:42] #21578 closed

[2022-03-28 13:50] #21352 closed

[2022-03-28 13:59] jaller94 opened #21579 "RightPanel blanks on invited user"
### Steps to reproduce

1. Create a space.
2. Open the SpaceRoomView by right-clicking on the space and clicking "Manage & explore rooms".
3. Invite a user to the space. (I think for the bug to occur the Matrix user ID must be invalid)
4. Click on the member blobs to open the right sidebar with the members list.
5. Click on the user you've invited.

### Outcome

#### What did you expect?
The user

[2022-03-28 14:04] janogarcia commented on #21502
@t3chguy Thanks for sharing the technical background on the current timeline scrolling implementation. 👍

That said, we shouldn’t expect all scrolling lists in the app to behave the same way, as those are dependent on the content. What makes complete sense for the room timeline may not be the most usable pattern for other contexts. I know this is from a completely different context, with its own c

[2022-03-28 14:14] t3chguy commented on #21502
Unfortunately maintaining two scrolling implementations will be very maintenance expensive, preventing scroll jumps in infinite-scrolling lists is non-trivial.

Yes it would but the maintenance burden would still be large, it'd cause a lot of code duplication and lead to a lot of potential for bugs due to the low test coverage we have and are able to have over complex interactions like infinite sc

[2022-03-28 14:22] #21579 closed

[2022-03-28 14:46] turt2live opened #21580 "Sliver of a room visible from spotlight search breadcrumbs"
### Steps to reproduce

1. Use spotlight search
2. Click a bunch of rooms
3. Open spotlight
4. Hover on the right hand side

### Outcome

#### What did you expect?

The number of rooms to fit perfectly in the dialog

#### What happened instead?

![image](https://user-images.githubusercontent.com/1190097/160424263-748bf642-86da-4d5d-82e4-510077c919e7.png)

 ( some rooms blurred for privacy)

### Op

[2022-03-28 14:46] andybalaam commented on #21482
@mketer1 are you working on this?

[2022-03-28 14:48] t3chguy commented on #21580
You can scroll that list using your keyboard @turt2live

[2022-03-28 14:57] janogarcia commented on #21502
@t3chguy To be more specific, I mean the existing gap/padding between `.mx_EventTile` items, that _aren't_ `.mx_EventTile_continuation`.

![Google Chrome](https://user-images.githubusercontent.com/60790/160426707-4ae777ad-1b42-48eb-a7f3-dfe8a1fedd61.png)

![Threads – Figma](https://user-images.githubusercontent.com/60790/160426683-10918c5d-f993-4101-8b46-15652dd0c76e.png)

[2022-03-28 15:07] turt2live commented on #21580
but not with the mouse, so feature request: horizontal scrolling with the scrollwheel, like OG breadcrumbs 😇

[2022-03-28 15:10] t3chguy commented on #21580
That scrolling pattern is abysmal for trackpad users

See https://github.com/matrix-org/element-web-rageshakes/issues?q=is%3Aissue+horizontal+scroll+is%3Aclosed

[2022-03-28 15:10] turt2live commented on #21580
I think that's because the implementation is awful rather than the pattern.

[2022-03-28 15:12] turt2live commented on #21569
yes, it is an `m.video` and has `<video />`

[2022-03-28 15:12] janogarcia commented on #21502
@t3chguy Let's say `.mx_EventTile[data-shape=ThreadsList]` has 8px applied to it, but it's not being rendered as intended/expected.

In the following example, to make it more obvious, I have set `border-radius: 9999px` to `.mx_EventTile[data-shape=ThreadsList]` and have changed the background colors of the split background issue. As you can see there's an awful mix of border radii values being app

[2022-03-28 15:23] turt2live commented on #21569
err, it was working just fine before? I don't have any reason to believe this is a browser issue.

[2022-03-28 15:24] t3chguy commented on #21569
Beforehand mov files were all sent as `m.file` by EW/ED

[2022-03-28 15:31] robintown opened #21581 "Image replies look weird in bubble layout"
### Steps to reproduce

1. Enable bubble layout
2. Reply to something with an image

### Outcome

#### What did you expect?

The gradient should not encompass the entire reply body, and I guess the image should be right-aligned since the whole bubble is right-aligned? Or the top right corner of the image should be rounded.

#### What happened instead?

![Screenshot 2022-03-28 at 11-28-28 Element T

[2022-03-28 15:36] t3chguy commented on #21569
Is the file encrypted?

[2022-03-28 15:41] turt2live opened #21583 "Threads: Rooms set to mentions only don't bump in "unreadness" with replies to a thread"
### Steps to reproduce

1. Have threads enabled
2. Engage with threads
3. Engage with other rooms, while others continue to engage with threads
4. Note the room not surfacing as unread

### Outcome

#### What did you expect?

The unread dot on the room when any reply to any thread is made. There also seems to be a bug where the last activity timestamp for the room is not being updated properly, wh

[2022-03-28 15:48] turt2live commented on #21569
no, it is not.

[2022-03-28 15:49] t3chguy commented on #21569
Then nothing was changed here on the receiving side to my knowledge, can you test using an older version to confirm or forward me the problematic footage to see if I can reproduce? mov files work fine for me on Desktop

[2022-03-28 15:54] t3chguy commented on #21569
Tested the issue with 1.10.0 on Chrome and encountered the same thing, given we're just passing the file verbatim to Chrome, it seems like an upstream bug.

[2022-03-28 15:55] turt2live commented on #21569
closing as unactionable then - thanks for testing.

[2022-03-28 15:55] #21569 closed

[2022-03-28 15:57] t3chguy commented on #21569
This bug is specific to Chrome's lack of full support for MOV, iOS seems to send MOVs muxed in something other than mp4

[2022-03-28 15:58] SimonBrandner commented on #18164
I've assigned you to the issue. If you need any help/have any questions be sure to visit [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org)!

[2022-03-28 15:58] SimonBrandner commented on #19245
A PR already seems to be associated with the issue, sorry

[2022-03-28 15:59] t3chguy commented on #21569
FTR Safari can play that same file back happily

![image](https://user-images.githubusercontent.com/2403652/160439103-9932e369-049e-458c-a686-cbfa559fdacd.png)

and Firefox gives up sanely

![image](https://user-images.githubusercontent.com/2403652/160439139-5dd3292a-eeec-4efd-9ca2-2a445e2ec206.png)

[2022-03-28 16:04] arpit-maurya commented on #21529
@SimonBrandner @turt2live Please can you elaborate me how to reproduce this bug.

[2022-03-28 16:05] turt2live opened #21584 "Room list periodically loses its blur/existence"
### Steps to reproduce

Unclear.

### Outcome

#### What did you expect?

The room list to be stable.

#### What happened instead?

Over the last 2-4 weeks I've noticed an uptick in https://github.com/vector-im/element-web/issues/14531 -style symptoms where the room list's blur goes away (leaving me with my chosen background) or the room list just disappears entirely (using the app background colo

[2022-03-28 16:11] Prakashh21 commented on #21040
hey @turt2live @t3chguy Can you elaborate on how to reproduce this issue.. went through Help & About tab of Settings but couldn't recreate it , Here's a screenshot thanks !!
![Screenshot from 2022-03-28 21-35-46](https://user-images.githubusercontent.com/90280586/160441187-7ca91d63-14e7-4546-9fb7-3a9a1df4e47e.png)

[2022-03-28 16:14] turt2live commented on #21040
@Prakashh21 I've deleted your comment because it contains an unredacted access token - I strongly suggest logging out of that session to invalidate the token.

Note that this issue requires a [Conduit](https://conduit.rs/) homeserver because it uses a different access token format.

[2022-03-28 16:14] turt2live commented on #21040
it also looks like @pwz266266 already has a PR for this open already.

[2022-03-28 16:29] t3chguy commented on #21502
Tracked by https://github.com/vector-im/element-web/issues/21450

[2022-03-28 16:29] t3chguy commented on #21450
Requires spec https://github.com/matrix-org/matrix-spec-proposals/pull/3666

[2022-03-28 16:50] kerryarchibald commented on #21575
@jakewb-b can you please try to recreate on develop or nightly?

[2022-03-28 16:58] #21475 closed

[2022-03-28 17:32] Prakashh21 commented on #21451
Hey @witchent @RiotRobot @gsouquet @t3chguy  I was able to reproduce this. can you assign me this issue , I want to want to work on this as part of my outreachy internship. thanks!!
![photo_2022-03-28_23-00-18](https://user-images.githubusercontent.com/90280586/160454302-2561a5d7-dd38-477e-b2ef-2bac8b66b276.jpg)

[2022-03-28 17:34] mketer1 commented on #21482
Hi! I'm still working on this. Apologies for delayed responses, I've been focusing on class recently but should be free to work on it soon :)

[2022-03-28 18:42] SimonBrandner commented on #21529
If you open the notif panel in a room and then switch to another one, the notif panel doesn't stay open. It should stay open regardless of the room

[2022-03-28 18:45] SimonBrandner commented on #21529
In room A open the notif panel, switch to room B, switch back to room A, see the notif panel open again (which it shouldn't be)

[2022-03-28 20:00] yaya-usman commented on #21529
@SimonBrandner interesting, i should probably give it  a try, you can assign me the issue if @arpit-maurya doesn't work on it or you can assign us both if it's possible

[2022-03-28 20:16] kittykat commented on #20243
Lets go with "space". When spaces was released, it was considered a proper noun so was capitalised. We went with lower case on Android and iOS now.

I think we can keep this one as it doesn't mention room specifically and technically spaces have discussions in them (in the rooms).

Agreed, lets go with:
"You were removed by %(memberName)s"
"You were banned by %(memberName)s"

Ok, lets keep it as "

[2022-03-28 21:18] robintown opened #21585 "Replies are prone to scroll jumps"
### Steps to reproduce

Scroll through any room where replies are used frequently

### Outcome

#### What did you expect?

Smooth scrolling.

#### What happened instead?

Jumpy scrolling. This is somewhat unavoidable with the current reply layout, since reply previews are of variable height, meaning there's no way to predict how tall they will be before they load.

This could be solved by either g

[2022-03-28 21:32] robintown commented on #21514
No longer relevant in the latest designs

[2022-03-28 21:32] #21514 closed

[2022-03-28 21:32] robintown commented on #21518
No longer relevant in the latest designs

[2022-03-28 21:32] #21518 closed

[2022-03-28 21:32] robintown commented on #21520
No longer relevant in the latest designs

[2022-03-28 21:32] #21520 closed

[2022-03-28 21:55] EECvision commented on #20578
Hi,  I am an outreachy applicant. I noticed that this issue was worked on but unable to be merged. Can I still improve it?

[2022-03-28 22:27] elibroftw commented on #9210
@t3chguy, what is used to auto update then?

[2022-03-28 22:30] t3chguy commented on #9210
@elibroftw https://github.com/vector-im/element-web/issues/9210#issuecomment-474338819

[2022-03-28 22:33] elibroftw commented on #9210
@t3chguy okay, then check if the shortcut exists before starting the auto install, and then delete the file afterwords. Use a settings key like "post-install" and then upon a launch, element should do the actions specified in the "post-install" key and then delete the post-install setting.

[2022-03-28 22:35] elibroftw commented on #9210
https://github.com/electron-archive/grunt-electron-installer#handling-squirrel-events

[2022-03-28 22:46] elibroftw commented on #9210
@t3chguy https://github.com/vector-im/element-desktop/blob/develop/src/squirrelhooks.ts#L41

[2022-03-28 22:56] elibroftw commented on #9210
Specifically, `--shortcut-locations=Desktop,StartMenu` https://stackoverflow.com/questions/30105150/handle-squirrels-event-on-an-electron-app

[2022-03-28 22:58] elibroftw commented on #9210
Actually, I don't think you're actually supposed to call the Updater to do the work for you. The docs clearly say you only need to handle the argument, not that you need to call an Updater executable.

[2022-03-28 22:59] elibroftw commented on #9210
[code]

[2022-03-28 23:01] elibroftw commented on #9210
Yeah there's no reason to create shortcuts on an update.

[2022-03-28 23:01] t3chguy commented on #9210
You're welcome to contribute it yourself, I don't use Windows anymore.

[2022-03-28 23:29] joshsleeper commented on #9210
@elibroftw while I agree with your sentiment and also want this feature, remember that github issues isn't a chat platform and people get emails for each new message.

instead of sending a bunch of messages in a row, consider either editing one comment to add more context or just not hitting send until you've fleshed it out more.

not trying to nag or shame, just trying to reduce everyone's email

[2022-03-29 00:27] elibroftw opened #21586 "Can't run `yarn run fetch --noverify --cfgdir ""` on Windows"
### Steps to reproduce

Powershell:
`yarn run fetch --noverify --cfgdir ""` after `yarn`

### Outcome

#### What did you expect?

It to work

#### What happened instead?
[code]

### Operating system

Windows

### Application version

latest

### How did you install the app?

_No response_

### Homeserver

_No response_

### Will you send logs?

No

[2022-03-29 02:50] dchmelik opened #21587 "didn't check it won't build"
### Steps to reproduce

1. Where are you starting? What can you see?
2. What do you click?
3. More steps…
[code]

### Outcome

#### What did you expect?
That for the shell you'd write mkdir.

#### What happened instead?
You wrote the typo mkdirp.

### Operating system

Slackware64 15.1-current

### Application version

1.10.8

### How did you install the app?

couldn't finish installing

### Homes

[2022-03-29 02:53] dchmelik commented on #21587
I think I did it wrong but didn't expect to see that...

[2022-03-29 02:53] #21587 closed

[2022-03-29 05:15] gravax commented on #3689
Still no update... Deleting 86 messages from 86 fake spamming accounts that all arrived within 3 minutes of each other this morning... That's 5 clicks for each (remove recent messages, ban)...

[2022-03-29 06:34] rbignon opened #21588 "Mark a message as unread"
### Your use case

#### What would you like to do?

As in slack, it would be interesting to mark a message as don't read,. It would be interesting too to implement the same feature than slack  “remind me later” with a custom delay.

#### Why would you like to do it?

Sometimes we receive a message but we would like to reply later.

#### How would you like to achieve it?

As the read mark is attach

[2022-03-29 07:12] gsouquet commented on #21588
Duplicate of https://github.com/vector-im/element-web/issues/4406

[2022-03-29 07:12] #21588 closed

[2022-03-29 07:20] gsouquet commented on #21586
This sounds like you might need to escape the quotes for them to be passed to the command that gets executed

[code]

`-d` receives nothing. This bug tracker is probably not the right forum for this kind of issues, https://matrix.to/#/#element-web:matrix.org might be more appropriate

[2022-03-29 07:20] #21586 closed

[2022-03-29 07:27] sakshi-0206 commented on #21482
Hey @gsouquet  @andybalaam !
I am an Outreachy applicant and would like to work on this issue. Can you please assign this to me as well?

[2022-03-29 07:28] ShivraniAJ commented on #21529
Hi, I am Shivrani, I am selected as outreachy initial applicant, Please can you assign this issue to me?

[2022-03-29 07:29] andybalaam commented on #21482
@sakshi-0206 since @mketer1 is working on this, it does not seem a good idea for you to work on it too. I suggest looking for other issues. Ask if you have questions.

[2022-03-29 07:44] sakshi-0206 commented on #21504
Hey! @gsouquet @ara4n
I am an Outreachy applicant and would like to take up this issue to work upon.
Can you please assign this to me?

[2022-03-29 07:58] sakshi-0206 commented on #14621
Hey @dbkr @SimonBrandner
I am an Outreachy applicant and would like to work on this issue. Can you assign this to me?

[2022-03-29 08:06] EECvision commented on #21535
Hi @turt2live, I am an Outreachy applicant. I want to work on this issue, can you assign it to me? Thank you.

[2022-03-29 08:08] erikjohnston commented on #21332
[code]

This just happened to me on develop.element.io. My account stopped updating and had that in the logs (I couldn't rageshake due to it either). When I refreshed it logged me in as a guest, which was confusing.

[2022-03-29 08:22] jakewb-b commented on #21575
@kerryarchibald - I get the exact same behaviour on develop. Not able to test on nightly as we don't have location sharing there.

[2022-03-29 08:41] thomasfrobieter commented on #5891
The mp3 files are gone in current versions? So no possibility to replace em manually anymore?

[2022-03-29 08:45] Flam3z commented on #5891
The ringing sound really hurts my ears, I hope its just a temp change.

[2022-03-29 08:52] babolivier commented on #9422
In case it helps, it's happened to me again today, have rageshaken ^

[2022-03-29 08:55] t3chguy commented on #5891
They're in the webapp.asar, you can modify the package using asar tooling.

[2022-03-29 09:03] t3chguy commented on #21552
@omame is still seeing this after updating to a client with msc mode `m.thread` support

[2022-03-29 09:22] twigleingrid commented on #21448
I tried to reproduce. For me the room counter does get decremented, if I leave a room without bothering to scroll back and read the new messages. This is the behaviour you were describing, right?

[2022-03-29 09:24] gsouquet commented on #20654
Web now orders thread by the last reply time. In the future we will want this sorting to be done by the server, but for now we can consider this issue resolved

[2022-03-29 09:24] #20654 closed

[2022-03-29 09:41] ibotty commented on #19041
I run into it regularly.  I think you might misunderstand the docker rate limits.  We are not singled out.  All IPs get the same rate limits.  When operating a cluster behind a NAT all cluster pulls count against the rate limit, so one runs into it easily.  We are not alone in that regard.  Please reconsider.

[2022-03-29 09:54] kittykat opened #21589 "Space creation flow makes poor use of space"
### Your use case

#### What would you like to do?
Quickly and effectively browse rooms that I am a member of

#### Why would you like to do it?
To set up a private space for organising my rooms

#### How would you like to achieve it?
By having "what do you want to organise?" view make good use of the available space.

### Have you considered any alternatives?

_No response_

### Additional contex

[2022-03-29 10:03] t3chguy commented on #21351
@janogarcia in my opinion users should not be forced into a Beta, psychologically that has bad connotations of degrading a product. If a user wants to opt out of this beta they would have to roll back to an older version and miss out of security updates (given we do not backport them).

Additionally, the Threads MVP as it currently stands will degrade existing experiences such as but not limited t

[2022-03-29 10:10] agrani29 commented on #21585
Hey @robintown, @gsouquet, I am an Outreachy applicant. I have a doubt regarding this issue. Is it like we can implement this by adding something like "read more" after a certain height of the replies' box?

[2022-03-29 10:23] t3chguy commented on #21585
We already do this, but we cap at two lines and don't currently account for it. But even so a message could be 1 or 2 lines which have different heights and would still jump.

<img width="143" alt="image" src="https://user-images.githubusercontent.com/2403652/160591110-5599d112-ffad-4a76-b646-28df38393620.png">

[2022-03-29 11:24] Prakashh21 commented on #21572
@gsouquet can you assign this to me I am an outreachy 22 applicant. Thanks !!

[2022-03-29 11:27] andybalaam commented on #21469
Hi @agrani29 just a comment saying you are working on it is fine - please go ahead.

[2022-03-29 11:32] gsouquet commented on #21545
@AryaArunB unfortunately this issue was not up for grabs. A PR was already open https://github.com/matrix-org/matrix-react-sdk/pull/8143.
I've assigned the original issue author @luixxiul back to this issue.

[2022-03-29 11:45] luixxiul commented on #21545
I guess the design proposed in the closed PR could work as well.

@AryaArunB Maybe creating another issue to discuss the design would be appreciated.

[2022-03-29 12:18] anoadragon453 commented on #20926
I have proposed the above-mentioned patch as a PR in https://github.com/vector-im/element-desktop/pull/334 in order to make review easier for upstream maintainers.

[2022-03-29 12:23] elibroftw commented on #21586
You're Readme does not tell me to escape quotes or anything. A bug with documentation **IS** relevant. This is a documentation issue not a user problem. So this is relevant place.

[2022-03-29 12:24] t3chguy commented on #21586
The readme assumes a typical shell such as sh, zsh, bash, etc. Powershell is non-standard.

[2022-03-29 12:29] elibroftw commented on #21586
It is standard. If you open vscode without changing the default terminal you get powershell.

I'll consider this a bug with powershell though so whatever.

However why does such a simple action require command line arguments. Config file? For what?

[2022-03-29 12:32] t3chguy commented on #21586
Standard is not the same as default.

Powershell behaves very differently to CMD even on the very same Windows box. And both of those function very different to *nix shells etc.

For the desktop app you are building, Element doesn't function without a config file which tells it parameters like what server to connect to, where to get its updates etc.

[2022-03-29 12:36] elibroftw commented on #21586
If the build and docs are made in the perspective of someone forking and not contributing back, then shouldn't it also include how to use config.js?

[2022-03-29 12:48] t3chguy commented on #19908
@thany I may have accidentally found the cause for it, being a stale editState being left around for a variety of means.

Presuming fixed by https://github.com/matrix-org/matrix-react-sdk/pull/8184

Once you're on a version with that fix and if you see it again, please shout.

[2022-03-29 12:48] #19908 closed

[2022-03-29 13:23] t3chguy commented on #21502
![image](https://user-images.githubusercontent.com/2403652/160621068-22ea508d-bb39-4b21-865b-0f2f77826668.png)

Editing in threads doesn't line up with Save button and the grey bg doesn't fill the width

[2022-03-29 14:02] #20243 closed

[2022-03-29 14:02] #20910 closed

[2022-03-29 14:14] t3chguy commented on #21502
Unfortunately the top and bottom radii must be on two different selectors as we can't use `overflow: hidden` due to the action bar floating out of the parent container. Have used a postcss variable to set both to 8px now.

[2022-03-29 15:07] janogarcia commented on #21502
@t3chguy  Yeah, I was just answering your `This already appears to be 8px, can you confirm?` question by illustrating that while having 8px applied to it, it didn’t necessarily mean the resulting box would have 8px rounded corners.

It actually resulted in 3 different values (top corners for yellow background, right corners and left corners for orange background).

[2022-03-29 15:12] SimonBrandner commented on #21529
I've assigned you to the issue. If you need any help/have any questions be sure to visit [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org)!

[2022-03-29 15:31] EECvision commented on #21535
Alright, I will on it. Thank you for assigning it to me.

[2022-03-29 15:36] goelesha commented on #21572
@luixxiul I would like to work on the issue if it's still open.

[2022-03-29 15:48] novocaine commented on #21114
I can't clear the unread marker in Threads P0 Delivery today at all.

[2022-03-29 15:52] SimonBrandner commented on #21572
https://github.com/matrix-org/matrix-react-sdk/pull/8167 already fixes the issue

[2022-03-29 15:58] janogarcia commented on #21502
@nadonomy Thanks for flagging, Nad. 👍

@t3chguy So, I've been experimenting a bit with the truncating behavior when there are long display names. I basically wanted to test two approaches, prioritizing display name over reply body vs. equal priority for display name and reply body.

After mocking it up on Figma and testing it live on the web app, I'd recommend going for the former (prioritizing di

[2022-03-29 16:09] janogarcia commented on #21502
Actually, let's take the opposite approach (equal priority). Reason being that:

- users gets more useful context in the summary
- worst case scenario looks worse when prioritizing the name (it can take up all the available space)

I'm editing my previous reply.

[2022-03-29 16:20] t3chguy commented on #21351
@novocaine closest that exists is https://github.com/vector-im/element-meta/issues/150 - the search and context APIs are both impacted

[2022-03-29 16:26] babolivier opened #21591 "Long display name don't render well in thread previews"
### Steps to reproduce

1. Have a long enough display name
2. Post in a thread

### Outcome

#### What did you expect?

Not sure how it should be rendered, but the name seems weirdly spaced in the screenshot below.

#### What happened instead?

![image](https://user-images.githubusercontent.com/5547783/160659392-a46fdcdd-3711-443c-804c-fd276186c98a.png)

(not sending logs because I don't believe i

[2022-03-29 16:30] janogarcia commented on #21502
@t3chguy That shouldn't be happening. It seems `.mx_ThreadInfo` is not tracking/following the same width constraints as `.mx_EventTile_line`. Can we please make it track that constraint?

I think @jryans implemented the current responsive optimizations for the thread summary, maybe he can add some context for that difference, if intended for some reason.

![Google Chrome](https://user-images.githu

[2022-03-29 16:36] novocaine commented on #21351
So I'm leaning towards agreeing that we should allow people to opt-out, mainly as we know our threads experience is a bit imperfect, particularly with regards to notifications. Given the current [limitations](https://docs.google.com/document/d/1V5G1WbvBwvqt3t0XCMfIt39Eu-veoN-4Ca7Z5VGE_A8/edit#), we are going to have some cranky users that don't know where notifications are coming from and find the

[2022-03-29 16:36] robintown commented on #21591
Duplicate of https://github.com/vector-im/element-web/issues/21472

[2022-03-29 16:36] #21591 closed

[2022-03-29 16:43] janogarcia commented on #21351
Yeah, Michael made a really good point regarding the notifications not being mature enough, and potentially introducing some undesired instability/unreliability to the app. 👍️

I probably focused too much on the _"threads are not completely replacing an existing feature"_ mindset without being really aware of that undesired side effect, which has now become more clear as we discussed our plans on

[2022-03-29 16:51] kittykat opened #21592 "Rooms vanished from left panel and didn't show up in search results"
### Steps to reproduce

1. Notice at some point that a DM isn't showing in the left panel (`!mziByPnfpgOyIrrOIZ:matrix.org` and it had unread messages in it at the time)
2. Try to search for it (using start of MXID/user alias) and see no results
3. Observe that the DM is visible in the Android app
4. Send message to the room there
5. See DM appear in element-web with the "empty room" label in the

[2022-03-29 17:00] robintown commented on #21525
No longer relevant in the latest designs

[2022-03-29 17:00] robintown commented on #21522
No longer relevant in the latest designs

[2022-03-29 17:00] #21522 closed

[2022-03-29 17:01] robintown commented on #21523
No longer relevant in the latest designs

[2022-03-29 17:01] #21523 closed

[2022-03-29 17:05] t3chguy commented on #21592
Clear client cache in Settings > Help & About - some requests failed likely whilst starting your client due to either network or HS issues.

[2022-03-29 17:31] lectrode commented on #21018
for about a week i haven't been able to reproduce this with either element or element-nightly. the update to electron 17 may have resolved the issue.

closing for now - hopefully it won't have to be re-opened. thanks to anyone who worked on the issue, even if they didn't know this report existed.

[2022-03-29 17:31] #21018 closed

[2022-03-29 18:45] EECvision commented on #21535
Hi @turt2live , I have looked at this issue. These are my findings below.

This issue occurs on the "nightly" build of Element Desktop, not Element Web. On the web version, instead of showing the error message, it simply says "No results"

When I looked further into the issue, I noticed that searching for `@emmanuel_ezeka` instead of  `@emmanuel_ezeka:matrix.org` returns the expected result. There

[2022-03-29 18:50] turt2live commented on #21535
Does tantivy offer a way to escape query parameters? For example, if we supplied it `term:"@userid:example.org"` (adding quotes). I'm not familiar with tantivy's query language, though I would be surprised if it didn't have a way to escape characters out of the query string.

If tantivy indeed does not have a way to escape the function, let's supply it with something that still results in the the

[2022-03-29 19:02] EECvision commented on #21535
This `term:"@userid:example.org"`  will be another brilliant way to solve it. Let me try it out and see if it works.

[2022-03-29 19:34] turt2live commented on #21584
I think it's somehow related to video playback in encrypted(?) rooms. I've seen it more often after sending/receiving an autoplayed video in encrypted rooms.

[2022-03-29 19:36] turt2live commented on #21584
okay, it's definitely related to videos somehow. Are we doing anything weird with the layering of DOM elements?

[2022-03-29 19:48] Penguin-Guru commented on #12405
Someone sent me two PDF files (separately). I tried clicking all over the messages and nothing worked. The only thing that had any effect was clicking the download button in the tool bar that appears on hover, and this only responded to input the first time it was clicked per message. The down arrow changed to some other icon for a brief moment and then went back to being a down arrow. I could not

[2022-03-29 19:50] EECvision commented on #21535
Hi @turt2live, I have not found a way to escape query parameters. However, removing `:example.org` from `@userid:example.org` solves the issue and make sense as well since the organization name (example.org) is the same for all users.

Should I go-ahead to implement it?

[2022-03-29 19:52] turt2live commented on #21535
The domain will change depending on what the user is searching for - there should be a regex somewhere which identifies and parses user IDs that we can use instead.

[2022-03-29 20:01] EECvision commented on #21535
Yes, I understand what you mean.

[2022-03-29 20:07] #18713 closed

[2022-03-29 22:34] EECvision commented on #21535
Hi @turt2live, can you look at the highlighted code below, it identifies and parses user IDs that we can use.
![error2](https://user-images.githubusercontent.com/63562663/160717746-0c37d5f4-31cd-407a-8123-06729550e3a5.PNG)

I would like to know what you think about it. Thank you

[2022-03-29 23:10] EECvision commented on #18889
Hi @gsouquet, I am an outreachy applicant. I would like to work on this issue. Can you assign it to me?

[2022-03-30 01:07] turt2live commented on #21535
It would probably be best to open a PR for wider team review at this stage, as others might have ideas for a solution which works most generally.

[2022-03-30 02:27] robintown commented on #21521
No longer relevant in the current designs

[2022-03-30 02:27] #21521 closed

[2022-03-30 04:24] SimonBrandner commented on #18889
I've assigned you to the issue. If you need any help/have any questions be sure to visit [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org)!

[2022-03-30 04:35] ShivraniAJ commented on #21529
Yaa, sure I will go through the link. Thank You

[2022-03-30 06:15] EECvision commented on #21535
Alright. Thank you.

[2022-03-30 06:17] EECvision commented on #18889
Alright, thank you.

[2022-03-30 06:44] ofalvai opened #21593 "Light/dark theme transition is broken for the first transition"
### Steps to reproduce

My Element client is set to follow the OS theme setting and macOS is set to "Auto" light/dark theme based on sunset/sunrise.

I noticed that Element sometimes is stuck in dark mode even though the rest of the OS is in light mode. So I made some manual theme toggling in macOS and observed how Element behaved. The video below demonstrates that the first theme transition of `d

[2022-03-30 07:51] gsouquet opened #21594 "⭐️ Upgrade to React 18 ⚛️"
## Why?

We’re stuck on React 17 and due to the required migration to react-testing-library and other things can’t update to React 18 (released March ‘22). This prevents us from benefiting from the latest fixes and improvements in the framework.

Reference: https://reactjs.org/blog/2022/03/29/react-v18.html https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html

## What?

We’ll carry out

[2022-03-30 07:53] t3chguy commented on #21593
Duplicate of https://github.com/vector-im/element-web/issues/15459

[2022-03-30 07:53] #21593 closed

[2022-03-30 07:54] gsouquet commented on #21592
There's also something odd with that room, logs are saying

[code]

[2022-03-30 08:00] t3chguy commented on #21592
Yeah the app would have thrown during sync-accumulator restoration due to not being able to fetch something

[code]

[2022-03-30 08:14] skolmer opened #21595 "Allow widgets to create rooms and spaces"
### Your use case

#### What would you like to do?

As a widget developer I want to create rooms and spaces from a widget.

#### Why would you like to do it?

A widget could support the user in creating more complex space and room structures for purposes like events, conferences or bar camps.

#### How would you like to achieve it?

We want to access the create room endpoint using the `matrix-widg

[2022-03-30 08:47] kerryarchibald opened #21596 "Linking to a thread reply from a different room fails to load timeline position"
### Steps to reproduce

1. Johannes sent a link to a thread reply to me in our DM. The thread in question is in a private encrypted room that I am in, have already loaded timeline for.
2. Following the link causes
<img width="799" alt="Screenshot 2022-03-30 at 10 45 23" src="https://user-images.githubusercontent.com/3055605/160790782-79b658e8-1ee5-4186-9b11-667c3b2d9406.png">

### Outcome

#### Wh

[2022-03-30 08:49] t3chguy commented on #21596
This was likely fixed since, you're on an old nightly, please retry on latest develop/nightly and if it recurs then reopen.

[2022-03-30 08:49] #21596 closed

[2022-03-30 09:17] kittykat commented on #21592
I'm seeing this with other rooms today (not DMs) - haven't cleared cache yet, so probably same cause as yesterday.

[2022-03-30 09:17] t3chguy commented on #21592
Yes, this applies to rooms across the board, any rooms processed after the error was thrown will have gotten corrupted.

[2022-03-30 09:21] kittykat commented on #21592
I cleared cache and reloaded, and I'm still having the same issue with the web app team room and `!mziByPnfpgOyIrrOIZ:matrix.org`

While it was reloading, I got this error:
![Screenshot from 2022-03-30 10-18-56](https://user-images.githubusercontent.com/51663/160797732-76867c2a-b809-4422-ac24-6cc86419cd6c.png)

And when the reload finished, I saw a preview of the room that I'm a member of instead

[2022-03-30 09:23] jrybar-fl opened #21598 "Enable email notifications doesn't survive user logout"
### Steps to reproduce

1. User log in on element.{matrix_domain}
2. Click on user avatar on top of the left panel
3. Choose Notifications
4. Enable email notifications for {email}
5. Close Settings window
6. Log out
7. Sign in again
8. Verify device with Security Key
9. Repeat Steps 2 and 3

### Outcome

#### What did you expect?

Once 'Enable email notifications for {e-mail}' has been enabled, i

[2022-03-30 09:27] jryans commented on #21502
@t3chguy: The above seems marked as fixed, but it's still happening here...?

<img width="252" alt="image" src="https://user-images.githubusercontent.com/279572/160799044-50b915bf-12f2-4de1-ae05-0ba12418a5a0.png">

[2022-03-30 09:28] janogarcia commented on #21502
@jryans I think the related PR hasn’t been merged yet.

[2022-03-30 09:28] t3chguy commented on #21502
@jryans its fixed in the PR only

[2022-03-30 09:44] jryans commented on #21502
Hmm no, it's not intentional... Both `.mx_EventTile_line` and `.mx_ThreadInfo` have a `margin-right` of 110px to allow room for the read receipts... but `.mx_ThreadInfo` is poking out of its parent box for some reason, so the margin isn't limiting the width properly... I'll see if I can spot a fix for this.

[2022-03-30 09:48] jryans commented on #21502
Ah okay, I did look for a PR first... but may have only looked in the review requests list, whereas it's [this draft PR](https://github.com/matrix-org/matrix-react-sdk/pull/8149). 😅

[2022-03-30 10:06] andybalaam opened #21599 "A reply to a reply to a thread root appears in the thread, but it should not"
### Steps to reproduce

1. In a room, write a message A
2. Create a thead based on A
3. Reply to A in the main timeline **EDIT: you must do this from a non-threads-capable Element Web**. Note that this reply appears correctly in the main timeline
4. Reply to the reply

### Outcome

#### What did you expect?
The reply to the reply should appear in the main timeline.

#### What happened instead?
Ins

[2022-03-30 10:55] babolivier opened #21601 "develop.element.io fails to load"
### Steps to reproduce

1. Load develop.element.io

### Outcome

#### What did you expect?

Element loads

#### What happened instead?

![image](https://user-images.githubusercontent.com/5547783/160815505-f42e9b77-3c6b-48f6-a9a0-9564ea7d96a8.png)

The spinner has been spinning for over 10min by this point. I can't see any error in the console, nor any unfinished request. I would like to rageshake

[2022-03-30 11:22] t3chguy commented on #21599
For me this does not happen which feels even more broken

[2022-03-30 11:32] tmarplatt commented on #11013
So if I were to provide a suggestion or directly contribute emoji titles or shortcodes for my own language, where would I have to drop it?

[2022-03-30 11:38] t3chguy commented on #21599
Okay, got a fix for the above issue and can now reproduce, your repro steps do not work if the reply to A is sent by a threads-capable EW

[2022-03-30 11:39] hex-m commented on #20994
`geo:` and other URL schemes are requested in #15018.

Support for a fallback representation if no tile server is configured is requested in #21082.

[2022-03-30 11:43] #21542 closed

[2022-03-30 11:47] t3chguy commented on #11013
@tmarplatt https://github.com/milesj/emojibase once we start applying i18n to emoji

[2022-03-30 12:02] EECvision commented on #18889
Hi @gsouquet, I have tried to work on this issue but I am unable to reproduce it. Can you check if it still reoccurs on your own side?

[2022-03-30 12:08] robintown commented on #21601
I've found that this can usually be fixed by a force refresh (Shift + F5).

[2022-03-30 12:39] gsouquet commented on #18889
It's an issue that happens when the search index is corrupted. It's quite hard to reproduce but does happen sporadically for certain users.
I'd recommend to toggle the flags in the code that pretend that the search index is corrupted, and to work from there on improving the UI

[2022-03-30 12:40] goelesha commented on #21381
@andybalaam May I work on this issue.

[2022-03-30 12:42] EECvision commented on #21371
Hi @andybalaam @t3chguy @gsouquet, I am an outreachy applicant. I am interested in solving this issue. Can you assign it to me? Thank you

[2022-03-30 12:42] andybalaam commented on #21381
@goelesha sure, I assigned it to you. Make sure you un-assign it if you change your mind.

[2022-03-30 12:43] goelesha commented on #21381
Noted. Thanks

[2022-03-30 12:47] andybalaam commented on #21371
@EECvision I assigned it to you. Make sure you un-assign it if you stop working on it.

[2022-03-30 12:49] EECvision commented on #21371
Alright, thank you.

[2022-03-30 12:49] andybalaam commented on #21176
I think there is no fix for this other than to upgrade the client. Polls being "closed" is a client feature, similar to votes being hidden before you vote.

[2022-03-30 12:49] #21176 closed

[2022-03-30 12:56] andybalaam commented on #21040
Removed good first issue label since https://github.com/matrix-org/matrix-react-sdk/pull/7851 is in progress.

[2022-03-30 13:18] Ezwen commented on #15241
Update: still happening as of Element web/desktop 1.10.8, and synapse 1.55.2. I might try in the near future to run Element in debug mode using a cache folder provided by a user.

[2022-03-30 13:25] andybalaam commented on #20239
Marking as good first issue, but bear in mind your first job is to check whether this is a problem or not, because there is confusion in the comments above ^

[2022-03-30 13:44] V1TA5 opened #21602 "Non-Google Capcha"
### Your use case

Hi,

Why is it, that a messageing software that tries to be an alternative to big tech Solutions like Whatsapp offers Google Capacha as solution for preventing bots on signin/up?

#### What would you like to do?
I would like to have self hosted alternatives to google recapcha.

#### Why would you like to do it?
Giving users back control over their data is what motivates people t

[2022-03-30 13:48] t3chguy commented on #21602
The captcha used is the one that the Matrix homeserver you connect to demands, right now most servers use Google Recaptcha but nothing prevents them using UIA fallback to serve different ones.

Closing in favour of https://github.com/matrix-org/matrix-spec/issues/295

[2022-03-30 13:48] #21602 closed

[2022-03-30 13:59] babolivier commented on #21601
Tried that, didn't work.

I'm starting to wonder whether this is indexeddb being borked on my work session (since the logs seem to point to Element having troubles connecting to it, from my newbie eye). It feels like this was also the reason for https://github.com/vector-im/element-web/issues/21494, and earlier I had to reset my session on Element Call because it was failing to load it.

[2022-03-30 13:59] novocaine commented on #21583
I am seeing this today in Threads P0

[2022-03-30 14:01] novocaine opened #21603 "UISI in a thread overlaps the timestamp"
### Steps to reproduce

Get a UISI in a thread

### Outcome

#### What did you expect?

Nicely formatted text

#### What happened instead?

<img width="493" alt="Screenshot 2022-03-30 at 15 00 14" src="https://user-images.githubusercontent.com/57377/160852780-af5609fc-8fc1-4ad7-845b-c01157d56407.png">

### Operating system

OS X

### Application version

Element Nightly version: 2022033001 Olm ver

[2022-03-30 14:21] yuktea commented on #21185
@t3chguy Will try to work on this, could you please assign me?

[2022-03-30 14:27] omame commented on #21002
For the record, I attempted to leave the room and clean up the spaces (it was only showing in the newest space after I left). Then joined again, to the same situation. 😞

[2022-03-30 14:43] andybalaam commented on #21599
aiee

[2022-03-30 15:06] soda-pop-ice-cream commented on #20445
I think devs added 2GB restriction to protect matrix.org from huge exports.
Also, I managed to export mine 4,5GB chat before restriction was added. At first export was failed because laptop had only 8GB RAM, but then i tried on other one, that had 16GB and that was barely enough. If you don't have that much RAM, at least use swap.
@dali99 if you really need that export you can install element-web

[2022-03-30 15:09] t3chguy commented on #20445
Nope, it was added as anything larger often gets killed by the memory protections of modern browsers, even if you have far more ram the per-tab limit is far lower.

[2022-03-30 15:23] luixxiul opened #21604 "Display two buttons of device verifications on the center of the modal window"
### Steps to reproduce

1. Logout and login from another device (or login on a private mode browser)

### Outcome

#### What did you expect?

From the perspective of UX, I think these buttons should be placed on the center (horizontal) of the dialog, because they are its main content, not an additive one like Cancel / Done buttons.

![after1](https://user-images.githubusercontent.com/3362943/16085

[2022-03-30 15:30] cpeterso commented on #9422
Suggestion:

When translations are missing and Element shows the English fallback strings, just show the fallback strings without the `missing translation: en|` prefix (unless some Element developer setting is set). Example: show `New version of Element is available` instead of `missing translation: en|New version of Element is available`.

Or maybe just omit `missing translation: en|` for users a

[2022-03-30 15:35] karlabbott opened #21606 "Rooms disappearing after enabling threads."
### Steps to reproduce

I've noticed something seemingly strange on [develop.element.io](http://develop.element.io/) -- if I turn on threads, not all of my rooms show up after the refresh. I can consistently reproduce this by turning threads on and then back off. If I leave a room in a non-threaded [develop.element.io](http://develop.element.io/), I can then join it in the threaded [develop.elemen

[2022-03-30 15:36] t3chguy commented on #21606
Duplicate of https://github.com/vector-im/element-web/issues/21592

[2022-03-30 15:36] #21606 closed

[2022-03-30 16:04] turt2live opened #21608 "Stuck message in a thread"
### Steps to reproduce

1. Send a bunch of messages in a thread
2. Receive stuck message (unclear on exact reproduction steps)

### Outcome

#### What did you expect?

Messages to be in the order they were sent.

#### What happened instead?

One of my messages was stuck at the bottom of the send panel. When I send other messages, they briefly show up *below* that stuck message before moving *above

[2022-03-30 16:07] turt2live opened #21609 "Typing notifications for threads"
### Your use case

#### What would you like to do?

Receive typing notifications in a thread.

#### Why would you like to do it?

So I know when someone is preparing a message, indicating that I might want to hold off on reply due to further context coming down the line.

#### How would you like to achieve it?

[MSC3038: Typed Typing Notifications](https://github.com/matrix-org/matrix-spec-proposa

[2022-03-30 16:39] Pranjalie commented on #21604
@kerryarchibald @luixxiul I would like to work on this issue.

[2022-03-30 17:14] turt2live commented on #21608
After restarting the client I see my event in the thread correctly as a replay attack, and an "unsent message" for the exact same thing. I suppose it got stuck during sending, then?

[2022-03-30 17:38] itsrachelfish commented on #15171
This update behavior also puts a new icon on the desktop each time the app gets updated

[2022-03-30 17:51] turt2live commented on #15171
@itsrachelfish that sounds like a different issue - I'd suggest opening a new bug for that.

[2022-03-30 18:47] itsrachelfish commented on #15171
@turt2live What makes you believe it's a different issue?

If you replace the app with each update, wouldn't windows also automatically add a new desktop icon?

[2022-03-30 19:00] turt2live commented on #15171
This issue is about the audio mixer, so we're not likely to see that a similar thing causes proliferation of icons on the desktop - reporting a secondary issue (potentially linking them) helps us see that there's additional impact which might change priority.

[2022-03-30 19:50] Taubin commented on #14767
I'm experiencing the same exact thing on a brand new macbook pro. The old macbook has verified, shown the same icons on both. We've tried the verification multiple times and it still shows every time the laptop opens the chat.

[2022-03-30 19:51] starcraft66 commented on #15459
I observe this problem on my macs as well as on windows using AutoDarkModeX. Element is the only app on these systems I have that claims to follow the system theme but doesn't.

[2022-03-30 21:52] yaya-usman commented on #21141
@andybalaam @t3chguy can i get assigned this issue?

[2022-03-30 22:50] yaya-usman commented on #20957
@gsouquet @andybalaam This seems to be fixed, i think it should be closed because i just checked i couldn't reproduce it.

[2022-03-30 22:58] yaya-usman commented on #20105
@SimonBrandner @jaller94 i couldn't reproduce this issue, don't you think it should be closed?

[2022-03-30 23:23] EECvision opened #21610 "Changing theme from Dark to Light does not take effect."
### Steps to reproduce

https://user-images.githubusercontent.com/63562663/160946884-0d80a580-650f-4f29-8fa7-96a87d77cbaf.mp4

### Outcome

#### What did you expect?
Change theme to Light mode

#### What happened instead?
Dark mode persisted after changing to Light mode

### Operating system

Windows

### Application version

Version 21H2

### How did you install the app?

https://element.io/get-s

[2022-03-30 23:45] EECvision commented on #18889
Okay.

[2022-03-30 23:48] EECvision opened #21611 "Changing of theme from Dark mode to Light mode does not respond"
### Steps to reproduce

https://user-images.githubusercontent.com/63562663/160947985-fabcfc38-b74b-4c4d-a879-24cc92a03210.mp4

### Outcome

#### What did you expect?
Change from Dark mode to Light mode
#### What happened instead?
Dark mode persisted.

### Operating system

Windows

### Browser information

Version 99.0.4844.84 (Official Build) (64-bit)

### URL for webapp

app.element.io

### Appl

[2022-03-31 02:40] robintown commented on #21611
Duplicate of https://github.com/vector-im/element-web/issues/21610 - generally, only one issue is necessary for problems that occur on both Web and Desktop.

[2022-03-31 02:40] #21611 closed

[2022-03-31 04:26] SimonBrandner commented on #20957
Neither can I, @gsouquet, is it also gone for you?

[2022-03-31 04:35] SimonBrandner commented on #20105
The resizer still reacts to right-click for me on Chrome (100.0.4896.60), so no, I wouldn't consider it completely fixed

[2022-03-31 04:35] SimonBrandner commented on #21141
I've assigned you to the issue. If you need any help/have any questions be sure to visit [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org)!

[2022-03-31 04:36] SimonBrandner commented on #21594
I've assigned you to the issue. If you need any help/have any questions be sure to visit [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org)!

[2022-03-31 04:39] SimonBrandner commented on #21610
It seems you're not the only one to have come across this bug, as it's been reported previously. I'm going to close this issue now so we can focus on the older issue. Please watch, vote or comment on that issue if there is any additional information you can provide.

Duplicate of https://github.com/vector-im/element-web/issues/19514

[2022-03-31 04:39] #21610 closed

[2022-03-31 04:59] yaya-usman commented on #20957
Yes

[2022-03-31 05:01] yaya-usman commented on #21141
Thanks @SimonBrandner, can you pls direct me on how to make a nested chats or rooms like that, I can't seem to do that, when I tried that yesterday

[2022-03-31 06:13] EECvision commented on #21611
Okay, thank you for letting me know.

[2022-03-31 07:20] DL1PZ opened #21612 "Input new message is sometimes very slow (blocking for some seconds)"
### Steps to reproduce

Type a new message.

### Outcome

#### What did you expect?
The message appears immediately while typing.

#### What happened instead?
The page blocks and the message appears seconds after typing.

The keydown event handler ist blocking for several seconds, caused by getDevicesInRoom(). Please find attached a screenshot of the performance inspector.

![element-input-slow](h

[2022-03-31 07:25] Konradrundfunk commented on #21612
Can also reproduce in firefox, when multiple tabs are open. Can't provide any logs because my firefox crashes when saving them.

[2022-03-31 07:28] gsouquet commented on #20957
No, this issue this occurs pretty regularly. A way to fix it is to clear cache & reload.

[2022-03-31 07:30] andybalaam opened #21613 "Thread includes messages from main timeline"
### Steps to reproduce

1. Chatting in a room
2. One participant started a thread based on one of the messages
3. More chatting

### Outcome

#### What did you expect?
Only messages sent to the thread should be included in the thread.

#### What happened instead?
Messages from before the thread were included:

![image](https://user-images.githubusercontent.com/76812/161001448-dadd4766-2695-4f89-87

[2022-03-31 07:33] t3chguy commented on #15171
@itsrachelfish the issue you want is https://github.com/vector-im/element-web/issues/9210

[2022-03-31 07:35] t3chguy commented on #20957
@gsouquet is that the same issue? Or are you referring to the one where the DM avatar switches from an image to the default character one?

[2022-03-31 07:46] commonlawfeature commented on #19302
I put together a PR that I believe resolves this issue. Would appreciate any thoughts or feedback or validation that people's issues are resolved by that PR.

[2022-03-31 07:59] #21601 closed

[2022-03-31 08:01] jakewb-b commented on #21592
I've had this issue yesterday and today - Nightly has been almost unusable:

- Rooms, including very recent DMs, not visible in the list or findable in search
- Rooms showing as 'empty room' despite having users in, and then switching to 'X and Y others' instead of the room name
- Unable to send messages in certain DMs

Clearing cache didn't fix it. Disabling threads in labs does appear to have re

[2022-03-31 08:17] dkasak opened #21614 "Stuck unread status on a room"
### Steps to reproduce

I opened a room with an unread message, scrolled around for a bit, but the unread dot was not dismissed.

### Outcome

#### What did you expect?

I opened a room with a new message. I expect the unread dot to be dismissed and the room to be marked as read.

#### What happened instead?

The room was not marked as read.

![image](https://user-images.githubusercontent.com/4633

[2022-03-31 08:20] ara4n commented on #21592
I just had it this morning after upgrading; completely exploded.

[2022-03-31 08:25] ara4n commented on #21592
(this is very similar to https://github.com/vector-im/element-web/issues/20862 - please can we fix it so that if it fails again in future it fails hard, rather than leaving the app in such a horrible state?)

[2022-03-31 08:29] ara4n opened #21615 "There is no longer any way to see what messages you have unsent in a room."
### Steps to reproduce

1. Apparently I tried to send some messages into Element Internal
2. After restarting the client, i have a "Some of your messages have not been sent" banner along the bottom of the room.
3. In the past, these unsent messages would be stacked up at the bottom of the timeline so i could review them, and individually send them if necessary.
4. Nowadays, I can't see what the un

[2022-03-31 08:31] DC7IA opened #21616 "/mobile_guide cannot be disabled"
### Steps to reproduce

1. install Element Web

### Outcome

#### What did you expect?

Mobile guide can either be disabled or links to a privacy statement and other legal info can be placed on that page to fulfill legal requirements.

#### What happened instead?

There does not seem to be a way.

### Operating system

irrelevant

### Browser information

irrelevant

### URL for webapp

v1.10.8

#

[2022-03-31 08:33] DC7IA commented on #21616
Forgot to mention: `mobile_guide_toast` is set to `false`.

[2022-03-31 08:33] EECvision commented on #19514
Hi @SimonBrandner, I am an Outreachy applicant. I am interested in solving this issue. Please can you assign it to me? Thank you

[2022-03-31 08:38] ara4n opened #21617 "App prompts for terms of use before validating email"
### Steps to reproduce

1. Sign up on a fresh EMS deployment which requires email
2. Enter email in the reg screen
3. Get prompted to accept terms of use
4. Then get a "please validate your email" prompt
5. Feel surprised that you're asked to accept terms of use before validating your email rather than after - after all, validating your email is more of a hurdle for access to the account than acce

[2022-03-31 08:42] dkasak commented on #21614
And now the notification changed to a red one after I opened a thread in the room where I was highlighted (well, replied to). So I'm sending another log.

[2022-03-31 08:45] gsouquet commented on #20957
I have a gut feeling that they are the same.
But in here for some reasons, the default avatar has been generated twice and has picked a different random color

[2022-03-31 09:00] t3chguy commented on #21617
I think the client just follows the order of flows provided by the server

[2022-03-31 09:02] dkasak commented on #21614
This seems like a thread bug. The dot/badge now disappeared after someone sent a new message and I viewed it, but opening the mentioned thread and scrolling in it first makes the white dot reappear and, if I scroll further, the red badge. I will then be unable to dismiss the dot/badge until someone sends a new message into the room and I view it.

[2022-03-31 09:46] t3chguy commented on #21450
This is no longer the case, we will show the thread summary if we know it locally already, else nothing (because we don't know that its a thread root)

[2022-03-31 09:46] andybalaam commented on #21599
Want me to test your fix @t3chguy ?

[2022-03-31 09:49] andybalaam commented on #21381
@goelesha I suggest you ask any questions you have here, and then anyone who knows the answer can add it. Or, for more general questions, I suggest you ask in the Matrix room #element-dev:matrix.org

[2022-03-31 09:50] goelesha commented on #21381
Noted

[2022-03-31 09:53] ara4n opened #21618 "Disabling threads in labs still leaves broken threadpanels around"
### Steps to reproduce

1. I disabled threads due to https://github.com/vector-im/element-web/issues/21592
2. Entering rooms where the last-viewed RightPanel was ThreadsPanel show a very broken ThreadPanel

### Outcome

#### What did you expect?

Disabling threads should disable threads.

### Operating system

_No response_

### Application version

nightly

### How did you install the app?

_No r

[2022-03-31 09:54] andybalaam commented on #21599
Ah, I see the fix was merged. I've re-tested the same conversation, and it's fixed!

[2022-03-31 09:54] andybalaam commented on #21599
Fixed by https://github.com/matrix-org/matrix-react-sdk/pull/8195

[2022-03-31 09:54] #21599 closed

[2022-03-31 09:58] andybalaam commented on #21176
Good point - would you be prepared to make an issue explaining this?

[2022-03-31 10:13] kerryarchibald opened #21619 "MLocationBody 'Expand map' z-index stacks over message composer"
### Steps to reproduce

<img width="454" alt="Screenshot 2022-03-31 at 12 12 03" src="https://user-images.githubusercontent.com/3055605/161032140-0b855b7c-bd43-4a9d-9964-118295eb1c1a.png">

### Outcome

#### What did you expect?

#### What happened instead?

### Operating system

_No response_

### Browser information

_No response_

### URL for webapp

_No response_

### Application version

_No

[2022-03-31 10:17] sam9032 commented on #15459
Meanwhile I use schildichat to work around this problem, there is a cli command, which changes the theme.
So the night-theme-switcher extension triggers this command as soon as it switches from dark to light or vice versa.
I don't know if this is possible on mac or windows.

It is described in a schildichat release: https://github.com/SchildiChat/schildichat-desktop/releases/tag/v1.8.4-sc1

Linux

[2022-03-31 10:19] HarHarLinks opened #21620 "Clarify that "hidden" votes in closed polls and similar are not secret on a technical level"
### Your use case

#### What would you like to do?
Polls currently have 2 features that imply a level of secrecy:
1. "Voters see results as soon as they have voted" - i.e. "secret" until you vote
2. On top of that closed polls "Results are only revealed when you end the poll" - i.e. "secret" until the poll creator reveals the results

In fact however, this apparent secrecy is based on client compl

[2022-03-31 11:27] HarHarLinks opened #21621 "Thread summary display name updates when changed in contrast to rest of timeline"
### Steps to reproduce

1. write in a thread
2. change displayname

### Outcome

#### What did you expect?
displayname in thread summary == displayname in thread == displayname at that point in main timeline

#### What happened instead?
![image](https://user-images.githubusercontent.com/2803622/161044708-7c32466f-b721-46a3-b949-87b5e0c7e28e.png)

### Operating system

arch

### Application version

[2022-03-31 11:27] ara4n commented on #17598
actually, no, it's still there, just less frequent. makes for a really jarring experience to upload a file, and then not have the timeline show it unless you scroll down :(

[2022-03-31 11:28] HarHarLinks commented on #21621
Labs:
![image](https://user-images.githubusercontent.com/2803622/161045020-67350c7a-f43e-4f4a-ba6e-c66f5dea6501.png)

[2022-03-31 11:53] Half-Shot commented on #11033
I suspect this is too stale to be looked at now.

[2022-03-31 11:53] #11033 closed

[2022-03-31 11:57] Half-Shot commented on #14926
I suspect this is probably acceptable in the end. I just need to be more creative with my names.

[2022-03-31 11:57] #14926 closed

[2022-03-31 11:57] Half-Shot commented on #15696
I've not seen this in quite a while. Tempted to close this unless someone else confirms it still happens.

[2022-03-31 11:57] #15696 closed

[2022-03-31 11:58] Half-Shot commented on #14369
Cannot repro anymore.

[2022-03-31 11:59] Half-Shot commented on #13405
I think we fixed this one.

[2022-03-31 11:59] #13405 closed

[2022-03-31 12:00] Half-Shot commented on #15348
Seems to be fixed from my testing :partying_face:

[2022-03-31 12:00] #15348 closed

[2022-03-31 12:03] Half-Shot commented on #13660
Not seen this one in  while.

[2022-03-31 12:03] #13660 closed

[2022-03-31 12:23] #21618 closed

[2022-03-31 12:35] kittykat commented on #20979
I am going to close this issue for now as it appears to have been resolved and we have not had further reports. Please reply with @kittykat if you are still experiencing it and I will reopen it for you.

[2022-03-31 12:35] #20979 closed

[2022-03-31 12:54] kittykat commented on #4752
The foundations for how we could do filtering are being set up as part of [IA 2 search experience](https://github.com/vector-im/element-web/issues/21121)

[2022-03-31 12:58] t3chguy commented on #21592
https://github.com/matrix-org/matrix-js-sdk/pull/2264 has potential to fix this, if you're running this code and still see it then please shout and I will add some defensive logging

[2022-03-31 12:59] throwabird commented on #21366
I've just realized this is a duplicate of #4752.
Related #21121

[2022-03-31 12:59] #21366 closed

[2022-03-31 13:21] kittykat commented on #8964
The reply bodies are clickable now, but they don't work reliably for me on app.element.io:

https://user-images.githubusercontent.com/51663/161064373-15d51941-6591-430a-b3f2-6de6949e5209.mp4

[2022-03-31 13:26] t3chguy commented on #8964
That unreliability has more write up at https://github.com/vector-im/element-web/issues/2903

[2022-03-31 13:31] luixxiul opened #21624 "Link placement on authentication dialog should be fixed"
### Steps to reproduce

1. Logout
2. Input information to create a new account at matrix.org (where captcha is enabled)
3. Proceed

### Outcome

#### What did you expect?

![after](https://user-images.githubusercontent.com/3362943/161065922-c60e5d8e-4573-43d3-beaa-c716cdbabb91.png)

#### What happened instead?

- `Go back` link is enabled on the whole row
- Each links should have margin space

![b

[2022-03-31 13:31] luixxiul commented on #21624
I have a fix and am going to submit soon.

[2022-03-31 13:37] #21603 closed

[2022-03-31 13:43] #21621 closed

[2022-03-31 13:44] #10529 closed

[2022-03-31 13:48] #21583 closed

[2022-03-31 14:11] kittykat commented on #11494
Closing as tags code was removed as part of removing communities

[2022-03-31 14:11] #11494 closed

[2022-03-31 14:17] Avamander opened #21625 "Edit view shows wrong contents if the actual original message started with numbers"
### Steps to reproduce

1. Send a message containing "3. june seems fine"
2. Press "edit", the message is shown as "1. june seems fine", modify and save
3. Now your message has a different date than originally entered or displayed
4. Potentially very very bad consequences if you don't notice it

### Outcome

#### What did you expect?
"3. june seems fine" remains so in edit view

#### What happened

[2022-03-31 14:42] gsouquet commented on #21614
Looks like it's been already reported

Duplicate of https://github.com/vector-im/element-web/issues/21114
Duplicate of https://github.com/vector-im/element-web/issues/21413

[2022-03-31 14:42] #21614 closed

[2022-03-31 14:46] janogarcia opened #21626 "Reply chain not being rendered in threads"
### Steps to reproduce

Reply to a message in a thread.

### Outcome

#### What did you expect?

The reply chain being rendered in my message.

#### What happened instead?

The reply chain not being rendered at all.

### Operating system

macOS

### Browser information

Chrome 99.0.4844.74

### URL for webapp

develop.element.io

### Application version

Element version: 5077157282d1-react-f4c25e0

[2022-03-31 14:51] t3chguy commented on #21626
Regressed by https://github.com/matrix-org/matrix-react-sdk/pull/8195

[2022-03-31 14:55] janogarcia opened #21627 "Reactions from others not being rendered in threads"
### Steps to reproduce

Check out a message in a thread that has reactions from others, but not from yourself. I spotted it when viewing the same thread on the Android client.

### Outcome

#### What did you expect?

The reactions to be displayed.

#### What happened instead?

No reactions being displayed at all.

### Operating system

macOS

### Browser information

Chrome 99.0.4844.74

### URL f

[2022-03-31 15:02] kittykat commented on #14015
The search returns a "No results" message for me at the moment both for This Room and All Rooms.

[2022-03-31 15:21] janogarcia opened #21628 "Thread summaries not being updated correctly"
### Steps to reproduce

Post a message on a thread.

### Outcome

#### What did you expect?

The thread summary in the room timeline to be updated with my avatar and display name.

#### What happened instead?

The thread summary is not showing my avatar and is showing my matrix user id instead of the display name. Clicking on the thread summary will make the thread summary to render the correct co

[2022-03-31 15:22] SimonBrandner commented on #19514
I've assigned you to the issue. If you need any help/have any questions be sure to visit [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org)!

[2022-03-31 15:23] t3chguy commented on #21628
Hmm, so this will be a regression from https://github.com/matrix-org/matrix-react-sdk/pull/8204

[2022-03-31 15:24] SimonBrandner commented on #21141
https://user-images.githubusercontent.com/25768714/161091599-eeac88f8-7264-4249-a906-0bf3d9db2ab9.mp4

Like so

[2022-03-31 15:55] TheReshma commented on #20233
I think this one is solved because I didn't encounter this in the recent versions..

[2022-03-31 16:24] TheReshma commented on #20239
![image](https://user-images.githubusercontent.com/70228821/161103329-6f53f819-04df-47eb-9ba8-ac6885c53369.png)

Well, It doesn't accept emails with space at the end.

[2022-03-31 16:59] anoadragon453 opened #21630 "Threads sidebar not updating content until I scroll up in the timeline"
### Steps to reproduce

It seems that the threads sidebar does not re-render content until certain user actions are taken, such as backfilling messages in the room by scrolling up in the timeline. This is most noticeable when selecting the "My threads" filter in the threads sidebar and seeing the list of threads not changing.

1. Navigate to a room with threads in it
2. Open up the threads panel
3

[2022-03-31 16:59] turt2live commented on #20233
![image](https://user-images.githubusercontent.com/1190097/161110001-202c7142-a34d-40da-9c2d-c933788b4b9b.png)

indeed - looks fixed.

[2022-03-31 16:59] #20233 closed

[2022-03-31 17:09] HarHarLinks opened #21631 "Red shield is different in timeline vs composer in dark mode"
### Steps to reproduce

![image](https://user-images.githubusercontent.com/2803622/161111478-5d74125a-2bcb-4334-abe4-dfae9316e8f0.png)

### Outcome

#### What did you expect?
same shield

#### What happened instead?
one has a white ! which seems wrong for dark mode

### Operating system

arch

### Application version

Element Nightly version: 2022033101 Olm version: 3.2.8

### How did you install

[2022-03-31 17:40] goelesha commented on #21619
@kerryarchibald Can you pls elaborate more on the issue.
I tried reproducing the issue but the expand map z index stacks within the map for me, as shown below.
<img width="696" alt="Screenshot 2022-03-31 at 11 08 45 PM" src="https://user-images.githubusercontent.com/54431564/161116761-342a5ab8-f75b-494f-9815-7f6ec55584d7.png">

[2022-03-31 17:40] #21625 closed

[2022-03-31 18:03] HarHarLinks opened #21632 "Clearly show where the timeline ends and composer input region starts"
### Your use case

![image](https://user-images.githubusercontent.com/2803622/161118468-5c3f05d4-45b3-430f-9a9a-b406c150fffc.png)

It is really hard to tell!

Now I'm going to add `1px solid #21262C;` (that's the one used in the RoomHeader) to the `.mx_MessageComposer` element via browser devtools to visualise where the border is.

![image](https://user-images.githubusercontent.com/2803622/1611198

[2022-03-31 18:21] janogarcia opened #21633 "Edited thread replies are rendering the original, unedited content"
### Steps to reproduce

Edit a thread reply.

### Outcome

#### What did you expect?

The edits to be rendered.

#### What happened instead?

The original, unedited message is being rendered.

### Operating system

macOS

### Browser information

Chrome 99.0.4844.74

### URL for webapp

develop.element.io

### Application version

Element version: 8ce9488bb527-react-04e79dffae77-js-d6f1c6cfdc5a Ol

[2022-03-31 19:34] yaya-usman commented on #21141
Alright thanks.

[2022-03-31 19:34] luixxiul commented on #21287
IMO this issue does not really need a product design as this does not change the way how strings should be displayed. Instead, the PR for this issue should achieve the intended design for CJK languages.

[2022-03-31 21:13] HarHarLinks commented on #17362
I want to bring to attention the point that I want to be able to see on a glance if I have an empty line at the start of the composer input. Here is an image with a horizontal line added via devtools similar to the screenshot above to illustrate the problem
![](https://user-images.githubusercontent.com/2803622/161119825-fe18acbd-2d7e-45b9-981f-6f606c3b8f9a.png)
<details><summary>Can you tell?</sum

[2022-03-31 23:27] DC7IA commented on #21616
Just to clarify: This is mostly a legal issue as German courts have ruled many times that the legal info needs to be accessible within one click, AFAIK.

But being able to turn it off would help far more than a link.

Some users have trouble understanding that dialog and think their phone is broken. :man_shrugging:

[2022-04-01 06:45] kerryarchibald commented on #21619
Hi @goelesha, I've updated the description to be more clear, hope that helps!

[2022-04-01 06:58] Johennes opened #21634 "Convert selected text to MD link when pasting a URL"
### Your use case

#### What would you like to do?

When pasting a URL _while having text selected_ the selection should turn into a MD link with the previously selected text being the title.

To illustrate, starting from:

![Screenshot 2022-04-01 at 08 53 44](https://user-images.githubusercontent.com/1137962/161211207-fdb10226-a934-4801-9f13-cdfeb07bf60c.png)

and pasting `https://matrix.org` sho

[2022-04-01 07:50] gsouquet commented on #20239
You just reproduced the issue. This is the behaviour we want to avoid.
Whitespaces should be trimmed at the beginning and the end of the input

[2022-04-01 07:57] Julian-Dumitrascu commented on #2349
I've found a way to at least see the code for this in the settings and I've lost it. How can one enable threads in Element?

[2022-04-01 08:00] EECvision commented on #19514
Awesome! I am currently working on it.

[2022-04-01 08:11] t3chguy commented on #2349
Use develop.element.io then go Settings > Labs > Threaded messaging

[2022-04-01 08:23] goelesha commented on #21619
Noted @kerryarchibald
Kindly assign this issue to me. I would like to work on it.
Thanks!

[2022-04-01 08:51] novocaine commented on #21244
Related to https://github.com/vector-im/element-web/issues/21194

[2022-04-01 08:58] EECvision opened #21635 "Found a typo error in the element-web doc."
### Steps to reproduce

Go to matrix-react-sdk\README.md file Ln 60, Col 55

### Outcome

#### What did you expect?
![issue4](https://user-images.githubusercontent.com/63562663/161230170-3fa9d6cd-f600-493c-b22a-906e03f1dd11.PNG)

#### What happened instead?
![issue4-b](https://user-images.githubusercontent.com/63562663/161230360-fb02c9e6-f9d0-4247-88c1-0d9552c57c39.PNG)

### Operating system

Wind

[2022-04-01 09:00] EECvision commented on #21635
Hi, I am outreachy applicant, I want to fix this issue. Can you assign it to me? Thanks

[2022-04-01 09:01] novocaine commented on #21119
We don't intend to support this feature in Element Web for the reasons outlined above.

[2022-04-01 09:01] #21119 closed

[2022-04-01 09:11] novocaine commented on #21496
Part of this problem is bugs and notifications not reliably working as they should, part of it might be design.

[2022-04-01 09:50] #21630 closed

[2022-04-01 10:04] gsouquet commented on #21635
Go ahead and fix it, thank you for the heads up

[2022-04-01 10:34] anoadragon453 opened #21636 "Messages appear out of order"
### Steps to reproduce

1. Saw a notification in a room
2. Clicked it, and found no notification
3. Scrolled way up to find it, and noticed that the notification was sent today, but it was placed in the timeline between messages that were a month old

![image](https://user-images.githubusercontent.com/1342360/161247070-3e735267-61c8-4587-8739-7362522cd81d.png)
![image](https://user-images.githubus

[2022-04-01 10:42] t3chguy commented on #21636
Duplicate of https://github.com/vector-im/element-web/issues/1456

[2022-04-01 10:42] #21636 closed

[2022-04-01 10:45] TheReshma commented on #20239
Thank you. I understood this issue now. The email field shouldn't be space sensitive but whitespaces should be trimmed after fetching the email from the user .

I'd like to work on this. Can you assign me this issue ?

[2022-04-01 10:47] EECvision commented on #21635
Thank you.

[2022-04-01 10:51] gsouquet commented on #21413
I have just been able to reproduce this. It only happens in encrypted rooms where we listen to the event decryption and try to adjust the highlight read badge if you've been mentioned or one of your keywords was in the event content.

This logic should only be applied to incoming messages and not older ones

[2022-04-01 11:02] Winterhuman opened #21637 "Round number of join messages"
### Your use case

#### What would you like to do?

Currently in https://matrix.to/#/#lobby:ipfs.io, there seems to of been a DoS attack where 2378 members suddenly joined at once, this causes Element to lag as it tries to count the number displayed for "user and 2378 others joined", this lag doesn't disappear when the count has finished. It'd be nice to be able to reduce this lag.

#### Why would

[2022-04-01 11:17] t3chguy commented on #21637
The issue isn't the counting, its that it has to hold all of those events in memory in the timeline at once, because of how Matrix timelines work.

[2022-04-01 11:19] Winterhuman commented on #21637
So there's not much that can be optimised to reduce this substantially? Also, what about the joined-message count stopping the scrolling, is it possible to make those messages be fetched asynchonously from actual chat messages or is that a major spec change or not worth it?

[2022-04-01 11:23] t3chguy commented on #21637
They're all in a single Matrix Room Timeline (DAG) and if you fetch them separately (using two filters and two sync/messages streams) then as a client you no longer know at what point a user changed their profile/joined/left and thus cannot know what profile to render for messages in that area

[2022-04-01 11:26] t3chguy commented on #21637
I think its valid as a problem to have, but not the suggested solution

[2022-04-01 11:27] Winterhuman commented on #21637
Alright then, I'll close this and create a performance issue instead, thanks!

[2022-04-01 11:27] #21637 closed

[2022-04-01 11:32] mimtud commented on #5180
Great to see that there is already a pull request draft.
To add: Note that the issue also applies to the topics of spaces. Would that already be covered as well, if it gets fixed for the room topics?

[2022-04-01 11:35] t3chguy commented on #5180
Yes, a Space is a Room with type=m.space

[2022-04-01 11:37] Winterhuman opened #21638 "Performance issue after loading large number of join events"
### Steps to reproduce

1. Go to https://matrix.to/#/#lobby:ipfs.io
2. Scroll up until you reach the part of the message history where 2000+ members joined at once.
3. Notice Element's UI visibly lag and stutter even after it's finished counting all the join events.

### Outcome

#### What did you expect?

The lag to disappear when the join events were all counted up.

#### What happened instead?

[2022-04-01 11:38] Winterhuman commented on #21637
I've created a new issue, this one is specifically about after the join events have all been counted since that seems possible to tackle at least partially: https://github.com/vector-im/element-web/issues/21638

[2022-04-01 11:40] t3chguy commented on #21638
I think this is a duplicate of https://github.com/vector-im/element-web/issues/9200

[2022-04-01 11:40] #21638 closed

[2022-04-01 12:01] mimtud commented on #5788
I do not understand the last comments, so maybe this is redundant, but is the following already considered (should I create a new issue? here or in matrix-synapse?)?
There is the (often reported) issue, that we have to make encrypted rooms invite-only so that new members can read the message history (despite the fact that the settings make you believe that you can allow space members to join the r

[2022-04-01 12:33] thawn commented on #21251
At the very least, the option "let users see past history" should only be available on setups and rooms where this setting has an effect.

[2022-04-01 12:46] Julian-Dumitrascu commented on #1490
Where have you explained what this function does? I know what it means to mute a Twitter user and what it means to block one.

[2022-04-01 13:11] erkinalp opened #21639 "Document and warn that invoking `/remove` to self actually parts you from the room"
### Your use case

Per Matrix spec, kicking is just a forced leave issued to another user by a user with a sufficient power level. People without kicking powers can still use `/remove` against themselves, as this case is unchecked in the client side (this is totally OK server-side, as explained in the first sentence)

### Have you considered any alternatives?

Simply not send the leave event when

[2022-04-01 13:13] kittykat opened #21640 "Design how fuzzy search results in room search should be shown in the UI"
We want to show users fuzzy search results, but we need to consider the user interaction around it and design for the search dialog. E.g. we may want to show the matching part of the result in bold or

For this issue to be closed, Design need to consider common paradigms around these interactions and propose a design if changes are needed

[2022-04-01 13:24] Julian-Dumitrascu commented on #2349
Thank you, indeed.
I've created a voice room. For some reason, an overlay window for the corresponding Jitsi room has floated mainly over the right-side panel for a while. Suddenly, the secondary left-side panel collapsed and the overlay window disappeared. 2 instances of changes not requested by the user. Never good. Who wants to discuss this, so that I and any other person can use this overlay w

[2022-04-01 13:24] ShadowJonathan commented on #21639
This is similar as `/part`; every user can leave on their own time from a room.

I think this can be closed, unless there is a merit to have an additional confirmation dialog for a typed command.

[2022-04-01 13:27] erkinalp commented on #21639
In case of `/part`, there is no confusion as you can only issue that command to yourself, not to another user.

[2022-04-01 13:39] robintown commented on #21639
I'm confused why this is an issue. Why would you expect `/remove @self:example.org` to do anything other than remove yourself?

[2022-04-01 13:42] erkinalp commented on #21639
Because many other chat software actually have separate event types for parting (self-leave) and kicking (forced leave), and users from those might not realise Matrix uses the same event type for both actions.

[2022-04-01 13:54] t3chguy commented on #1490
@Julian-Dumitrascu https://spec.matrix.org/v1.2/client-server-api/#ignoring-users it looks to be relatively server implementation dependent due to the loose definitions in the Matrix sped

[2022-04-01 13:54] t3chguy commented on #1490
@Julian-Dumitrascu https://spec.matrix.org/v1.2/client-server-api/#ignoring-users it looks to be relatively server implementation dependent due to the loose definitions in the Matrix sped

[2022-04-01 13:54] t3chguy commented on #2349
That is off-topic for this issue.

[2022-04-01 14:02] Julian-Dumitrascu commented on #1490
I feel thankful, so before your previous message I had tried to stay in touch with you, so that we get more chances to interact. You must have been notified of my actions.

[2022-04-01 14:05] kittykat opened #21641 "Spike scoring system for sorting search results"
This is the development issue for spiking a scoring system for search results in the new search experience (opt into the Beta in Settings -> Labs).

### Prior art to consider
- Chrome site engagement
  - https://www.chromium.org/developers/design-documents/site-engagement/
  - In chrome: chrome://site-engagement/

### Development tasks
TBD

[2022-04-01 14:35] kittykat opened #21642 "Draft proposal for scoring sorting criteria"

[2022-04-01 14:36] #21515 closed

[2022-04-01 14:36] #21516 closed

[2022-04-01 14:36] #21519 closed

[2022-04-01 14:36] #21526 closed

[2022-04-01 15:16] turt2live commented on #21612
I've flagged this as a good first issue, though adventurers should note that it's more on the challenging side. Visit #element-dev:matrix.org on Matrix for support in working on this issue.

[2022-04-01 15:23] HarHarLinks opened #21643 "Voice & Video room freezes after playing with widget settings"
### Steps to reproduce

1. create e2ee voice & video room
2. open right panel
3. try out what happens when you click widget maximize, unpin etc (to figure out what is the difference from a pinned widget)

### Outcome

#### What did you expect?
no crash

#### What happened instead?
app hang. element now thinks i'm not in the room. it also won't join (stuck joining with spinner).

### Operating syst

[2022-04-01 15:49] HarHarLinks opened #21644 "New DM dialogue is cut off"
### Steps to reproduce

click + to start a new DM

### Outcome

![image](https://user-images.githubusercontent.com/2803622/161298105-d5039974-e0c6-4c3f-be48-26442e371e38.png)

the "or send invite link" textbox is cut off

### Operating system

arch

### Application version

Element Nightly version: 2022040101 Olm version: 3.2.8

### How did you install the app?

aur

### Homeserver

_No response_

[2022-04-01 15:49] johannes-krude commented on #17269
The message displayed by element-web when inviting over the GUI seems to have changed, but the result is still the same.

![screenshot_2022-04-01_17:04:51](https://user-images.githubusercontent.com/28594647/161297649-e2d9ff6e-d271-4944-8323-3507f3736f7a.png)

In the Preferences there is the option `Prompt before sending invites to potentially invalid matrix IDs`. Disabling this option only changes

[2022-04-01 16:00] goelesha commented on #21619
@kerryarchibald can you pls guide me.

I am confused about how to edit the properties of tooltip. In MBodyLocation.tsx the tooltip is displayed using TooltipTarget. If I change the properties of Tooltiptarget then it would change all the tooltips.
I want to seek help on what would be a nice approach to handle the issue.

I posted the same msg on public chat also but didn't receive any response.

[2022-04-01 16:12] robintown commented on #21615
I hit this just now, after successfully sending some messages in a thread and reloading. It might be a threads failure?

[2022-04-01 16:31] smithfred opened #21645 "New "send a sticker" shortcut conflicts with GNOME emoji picker shortcut"
### Steps to reproduce

1. On a GTK-based web browser on GNOME (e.g. GNOME Web), press <kbd>Ctrl</kbd>+<kbd>;</kbd>.

### Outcome

#### What did you expect?

GNOME/GTK emoji picker appears.

#### What happened instead?

Element's "Send a sticker" is triggered.

#### Additional info

Shortcut is mentioned online here: https://gitlab.gnome.org/GNOME/gnome-user-docs/-/issues/108 (couldn't find any be

[2022-04-01 18:40] MadLittleMods opened #21646 "Spoilers are shown in message previews"
### Steps to reproduce

1. Start a thread
2. In the thread, respond with `/spoiler oops, this just got spoiled in the thread preview`
3. Notice the message is displayed in plain-text in the thread replies preview

For context: While doing some moderation, I recently used the spoiler syntax to hide some nasty abusive text (spam). This way, I could reference the problem text but hide it by default f

[2022-04-01 18:41] robintown commented on #21644
Duplicate of https://github.com/vector-im/element-web/issues/20911

[2022-04-01 18:41] #21644 closed

[2022-04-01 18:42] robintown commented on #21643
Widget settings are hidden in video rooms on develop

[2022-04-01 18:42] #21643 closed

[2022-04-01 18:53] DoM1niC opened #21647 "Jitsi widget can be removed from video rooms in other clients"
### Steps to reproduce

1. Create a Voice Room
2. Use your 2nd Client e.g. Element Android
3. Join Hangup in Room (Slide Hangup not from Jitsi UI)

### Outcome

Jitsi Conf is gone forever and make Room unusable

### Operating system

All

### Browser information

N/A

### URL for webapp

messenger.3dns.eu

### Application version

Develop

### Homeserver

1.56.0rc1

### Will you send logs?

No

[2022-04-01 18:59] robintown commented on #21647
I'm not sure what this is referring to. Could you maybe provide a screenshot of what you're doing?

[2022-04-01 19:58] janogarcia commented on #21472
@t3chguy After further testing, turns out [the alternate approach](https://github.com/vector-im/element-web/issues/21502#issuecomment-1082059043) I shared works best for variable length content.

[code]

[2022-04-01 20:05] DoM1niC commented on #21647
the Voice Room is show as a Video Call and a Slide to Hangup appearing I just 4 Fun Slide it and the Widget was dismiss.

[2022-04-01 21:35] klardotsh commented on #21332
This (or some flavor of this) has been happening to me for at least a month across both app.element.io in Firefox and the standalone Electron app. I can usually stay logged in for 4-6 hours at a time and then will inevitably miss notifications because I'm automatically logged out for reasons unknown, but only insofar as needing a password to log back in (don't have to reselect homeserv/user). To s

[2022-04-01 23:01] iamzoltan commented on #16344
I am still having this issue when trying to sign in on the android app, but I had the public_baseurl set properly. any ideas?

[2022-04-02 02:47] Sleuth56 opened #21648 "Jitsi widget doesn't close after leaving a meeting"
### Steps to reproduce

1. Open the april 1st nightly build of element desktop
2. Join a jitsi conference through element
3. Leave the meeting
4. Change rooms
The widget will follow you around forever

### Outcome

#### What did you expect?
The widget to close after exiting the meeting

#### What happened instead?
The widget follows you around until you close element or force reload it.

### Opera

[2022-04-02 02:58] Sleuth56 commented on #21648
[code]

[2022-04-02 07:15] bradyt commented on #20321
Another way to phrase it might be, prioritize and fast-track a feature that prevents the need to write `/plain` before every message.

[2022-04-02 10:09] HarHarLinks commented on #21644
sorry, I couldn't find that issue since it uses none of the keywords i looked for

[2022-04-02 10:15] HarHarLinks commented on #20911
devtools are cut off, too:
![image](https://user-images.githubusercontent.com/2803622/161378639-cdb14cd9-7d4f-4d17-bb3d-c5b4e790693f.png)

Element Nightly version: 2022040201
Olm version: 3.2.8

[2022-04-02 11:27] marcusmueller opened #21649 "Current Element converts things with . in code to links; shouldn't"
### Steps to reproduce

1. Type a message like

<pre>it's basically the same, depending on whether you run GNU Radio in an separate thread, or blockingly (`top_block.run()` vs `top_block.start()`)</pre>

2. Hit return
3. Get the code with things that really aren't URLs converted to links

### Outcome

#### What did you expect?

Code formatting being left alone by the URLification

#### What happen

[2022-04-02 12:22] robintown commented on #21644
No problem, duplicates never hurt

[2022-04-02 12:24] robintown commented on #21649
Duplicate of https://github.com/vector-im/element-web/issues/9613

[2022-04-02 12:24] #21649 closed

[2022-04-02 12:45] kirteeprajapati commented on #21609
Hello, i am an Outreachy applicant,  wanna work on this issue can you please assign me this. Thankyou

[2022-04-02 12:47] t3chguy commented on #21609
This issue requires spec work, it is not trivial.

[2022-04-02 17:40] luixxiul commented on #14520
The issue seems to be that elements are currently placed based on styles for LTR. Menus, buttons, strings, etc. should be placed from left to right as well. See https://he.wikipedia.org/ for example.

RTL layout itself can be enabled easily by adding `dir="rtl"` to [html root element](https://rtlstyling.com/posts/rtl-styling/#introduction-to-rtl-styling), but currently elements placed with padding

[2022-04-02 18:04] ara4n opened #21651 "Weird black vertical gradient over image thumbnails in bubble view."
### Steps to reproduce

1. Enable message bubble view
2. Send an image
3. Get very confused that the image thumbnail has a large transparent-to-black vertical gradient overlaid on it - wrecking the thumbnail, given it gets in the way of showing what the image actually should look like.  For instance, when reviewing artwork or photos, the thumbnail now lies - users will see big dark shadows and not

[2022-04-02 18:13] ShadowJonathan commented on #21651
FWIW applications like telegram use small pills when mousing over the image, or at least start their gradient (iirc) only in the last 10% of that image;
![image](https://user-images.githubusercontent.com/22740616/161396015-969e9e87-8828-4e26-966c-00ab6c45678f.png)

[2022-04-02 18:26] robintown commented on #21651
See https://github.com/vector-im/element-web/issues/20402 for context of why the gradient exists (yes, it is for timestamp legibility)

[2022-04-02 19:09] luixxiul commented on #14520
For the concept, please check https://github.com/luixxiul/matrix-react-sdk/tree/rtl.

https://user-images.githubusercontent.com/3362943/161397657-41423216-7b66-4eaf-ba5b-39ab7d6a86c5.mp4

With CSS logical properties like `margin-inline-start`, it should not be so difficult to set up both RTL and LTR layouts at the same time.

[2022-04-02 19:27] luixxiul commented on #14520
@t3chguy would you let me know what you would think about this? Could I work on modifying the styles related to this, including fixing bugs such as the close button covering the dialog's title?

The biggest problem here is that it would be no longer recommended to use something like `padding-right` or `margin-left` to set space between elements. Neither would be using `position: absolute` and `lef

[2022-04-02 19:36] soloturn opened #21652 "Simplify E2E flow after logging in"
### Steps to reproduce

depending on how you first register, one gets 3 screens. it could, and imo should, be a single one.

### Outcome

![Security key dialog](https://user-images.githubusercontent.com/825568/161398487-db6de2c8-a625-414d-a8c6-7e1e74498d22.png)

---

![Verify this device dialog](https://user-images.githubusercontent.com/825568/161398496-3ab8c729-6603-4bb3-85ce-41c2d59b9eb0.png)

-

[2022-04-02 20:01] opusforlife2 commented on #16774
Clicking on `View Source` on a downloadable item in Element-Web used to let me copy the URL and paste it in a new tab to be able to download the encrypted media.

Now that HTTPS URL has been replaced by an MXC URL, which the browser cannot parse. I'm forced to request users to send me the HTTPS link each time I wish to download an encrypted media.

Could this be fixed soon, or the HTTPS -> MXC cha

[2022-04-02 20:06] t3chguy commented on #16774
When looking at view source you're looking at the raw data that was sent which is up to the sender. The matrix spec says to use mxc so all clients send it as this. For encrypted media a https download is not possible as the file is still symmetrically encrypted after download. Mxc is a federated protocol and if you read the matrix spec you can see how easy it is to get from an mxc to https url. Ju

[2022-04-02 20:21] opusforlife2 commented on #16774
Well, I don't know how, but that method used to work. Another method that used to work was opening uBlock Origin's logger and clicking the download URL from there.

[2022-04-02 21:12] t3chguy commented on #16774
Neither would work for encrypted attachments due to them having to be decrypted into blob urls which browsers only make valid in the same origin

[2022-04-02 21:16] opusforlife2 commented on #16774
Oh wait, I am so sorry. This happened on a bridged IRC channel. No encryption involved.

But why wouldn't the download button work if that's the case?

[2022-04-02 22:48] t3chguy commented on #16774
Too many variables to answer. Maybe your browser or a extension prevent programmatic downloads. I suggest asking in the support room rather than a wholly unrelated issue.

[2022-04-02 23:19] yaya-usman commented on #21631
@HarHarLinks can you check it again?, i can't reproduce the issue.

[2022-04-03 09:16] ShivraniAJ opened #21654 "Link in README.md of matrix-org / matrix-react-sdk for CSS of matrix-react-sdk is not redirecting to any page."
### Steps to reproduce

1. Where are you starting? What can you see?
2. What do you click?
3. More steps…
I was going through https://github.com/matrix-org/matrix-react-sdk/blob/develop/README.md then I clicked https://github.com/vector-im/element-web/tree/master/src/skins/vector/css/matrix-react-sdk it was showing page not found.

### Outcome

#### What did you expect?

#### What happened instead

[2022-04-03 09:20] ShivraniAJ commented on #21654
I was looking for the css of  matrix-react-sdk which I found at https://github.com/matrix-org/matrix-react-sdk/tree/develop/res/css, Do you wish to redirect that link to this CSS folder instead ? Can you please guide me, I would like to fix this issue.

[2022-04-03 10:06] yaya-usman opened #21655 "Emoji does not align well with text on chats"
### Steps to reproduce

1. Enter a text on the composer followed by an emoji.

### Outcome

#### What did you expect?

![issue2](https://user-images.githubusercontent.com/38439166/161422335-99d1ccb2-052d-4eeb-bbeb-8504a2538ac8.PNG)

#### What happened instead?
![issue1](https://user-images.githubusercontent.com/38439166/161422267-e4d12cea-7f5a-4a7b-8ff2-95b88b9cce55.PNG)

### Operating system

win

[2022-04-03 10:08] yaya-usman commented on #21655
@andybalaam  @t3chguy  I will be submitting my PR soon

[2022-04-03 10:21] HarHarLinks commented on #21631
![image](https://user-images.githubusercontent.com/2803622/161422925-e63f2c62-41fa-4442-84ad-1a9b6464ca5b.png)
Element Nightly version: 2022040301 (aur/element-desktop-nightly-bin)
Olm version: 3.2.8
Arch Linux, swaywm 1.7

[2022-04-03 12:52] Johennes commented on #5180
This now has a spec proposal in [MSC3765](https://github.com/matrix-org/matrix-spec-proposals/pull/3765) and implementation attempts as a labs feature in https://github.com/matrix-org/matrix-react-sdk/pull/8215 and https://github.com/matrix-org/matrix-js-sdk/pull/2272.

[2022-04-03 13:34] alongls commented on #4771
Hello
is there any progress / update  with this issue ?
languages like Arabic and Hebrew are shown very badly in the element web client
thanks.

[2022-04-03 15:15] robintown opened #21656 "Replace Sass variables with CSS custom properties"
### Your use case

#### What would you like to do?

Replace all Sass variables with CSS custom properties.

#### Why would you like to do it?

- Improve the performance of theme switching
- Improve CSS compilation times
- See actual variable names when inspecting the page instead of hardcoded values
- Potentially simplify the custom themes implementation?

#### How would you like to achieve it?

S

[2022-04-03 15:21] SimonBrandner commented on #21656
Yes, this would make themes a lot less painful, I think. Though we might need to clean up the themes before we get to this as currently, we have a bunch of unnecessary colour variables that we would need to deal with. I am sort of in the progress of reducing the amount of colour variables we use but I am stuck on design review/input...

See https://github.com/vector-im/element-web/issues/19254

[2022-04-03 17:12] opusforlife2 commented on #16774
This is likely the case. Sometimes Firefox shows an alert that uBlock Origin has blocked the download from Element Web.

Thanks! Marking as off-topic.

[2022-04-03 17:25] jahway603 opened #21657 "Unable to leave or join the room "#offtopic:grapheneos.org""
### Steps to reproduce

1. I have been in the room #offtopic:grapheneos.org for a while now.
1. I discovered this issue by right clicking on the room and choosing the "Low Priority" option. I get the error message "Error leaving room Not a known room".
1. I then try to leave the room (with the intention of re-joining it). I get the error message "Error leaving room Not a known room".
1. I then try

[2022-04-03 19:30] Marie-Joseph opened #21658 "Flatpak does not launch"
### Steps to reproduce

1. Open terminal
2. Run `flatpak run im.riot.Riot`
OR
1. Attempt to launch through application launcher

### Outcome

#### What did you expect?

I expected the application to launch.

#### What happened instead?

Nothing in the GUI, errors in the terminal. Specifically (with `-v`),
[code]

### Operating system

Guix GNU/Linux

### Application version

Element 1.10.8

### Ho

[2022-04-03 19:40] Marie-Joseph commented on #21658
Other points of note:
* all other Flatpak applications launch fine, including others using the same runtime
* I will send logs if there's a way to do without the application launching

[2022-04-03 19:51] robintown commented on #21658
The Flatpak package is maintained by the community, so please open your issue here instead: https://github.com/flathub/im.riot.Riot/issues

[2022-04-03 19:51] #21658 closed

[2022-04-03 20:10] WardPearce commented on #15023
The incoming call sound makes me jump every time, element feels more like a cheap horror film to me currently. Custom notifcaiton sounds or even just a softer call sound would be awesome.

Isn't a new concept, but Microsoft did a interesting [article](https://www.microsoft.com/design/articles/designing-the-microsoft-soundscape/) about notifcaiton sound design.

Basically just a soft curve introduc

[2022-04-03 20:31] sjthiessen commented on #19944
Hey there! I'd like to add the following to this list
- [ ] add support for non-anonymous polls

[2022-04-03 23:02] bradyt commented on #20321
TL;DR, underscores are silently dropped.

Another gotcha moment. User wants to send underscores as text. Since some markdown makes it through, they might expect all markdown makes it. `> a quote` makes it through, despite Element converting to html quote, the IRC bridge converts it back to markdown, so it is preserved. On the other hand, `_some underscored text_` is converted by element to italic

[2022-04-03 23:09] ostwilkens commented on #20321
The markdown support causes more trouble than it's worth. I'm chatting, not writing a readme or blogpost.

[2022-04-03 23:22] robintown commented on #21655
As you mentioned in the PR, this issue occurs on Brave Browser, which is not currently one of our [supported environments](https://github.com/vector-im/element-web#supported-environments). If you can reproduce this in a supported browser, feel free to re-open.

[2022-04-03 23:22] #21655 closed

[2022-04-03 23:25] robintown commented on #19009
Brave Browser is not currently one of our [supported environments](https://github.com/vector-im/element-web#supported-environments), so I'm closing this. If you can reproduce in a supported browser, feel free to re-open.

[2022-04-03 23:25] #19009 closed

[2022-04-03 23:50] yaya-usman commented on #21631
Ohh ok this is element desktop not web... Ok, let me try and setup element desktop to see if I can repro the issue

[2022-04-04 01:50] AverytheFurry opened #21659 "URL Previews enabled 'accidentally?' in encrypted room"
### Steps to reproduce

idk how reproducible this is, but this is all I remember doing
1. Create a new encrypted & private room on the matrix.org homeserver
2. Paste a link which can preview
3. See preview
4. Close element
5. Open element
6. No preview?

### Outcome

#### What did you expect?
I expected there to be no preview in an encrypted room. I assume that this is a bug because it was later r

[2022-04-04 04:41] ShivraniAJ commented on #21654
Can you please guide and assign this issue to me? I would like to fix this issue.

[2022-04-04 06:34] #21493 closed

[2022-04-04 06:54] #21460 closed

[2022-04-04 07:26] EECvision commented on #21656
Hi @SimonBrandner, I am an outreachy applicant. Can you guide me on how to work on this issue? I have been working on an issue that is related to the UI theme switching see #19514. I think that working on this issue would enable me to fix the UI theme switching issue.

[2022-04-04 07:48] EECvision opened #21660 "Placeholder on the sign-in page inputs does not hide when typing."
### Steps to reproduce

1. Go to the sign-in page of app.element.io

2. Start typing in the inputs

### Outcome

#### What did you expect?
I expect the placeholder to hide when I start typing
![issue6](https://user-images.githubusercontent.com/63562663/161497039-96917d18-462d-4ac4-a4ab-bfff4f29188e.PNG)

#### What happened instead?
text is written over the placeholder
![issue5](https://user-images

[2022-04-04 07:50] EECvision commented on #21660
Hi, I am an outreachy applicant. I can work on this issue, can you assign it to me? Thank you

[2022-04-04 08:02] goelesha commented on #21656
Hi @SimonBrandner @robintown. Can you elaborate more on the issue?
I am interested in working on this issue.

[2022-04-04 08:10] goelesha commented on #21659
@AverytheFurry Can you pls elaborate more. I tried the same steps which you mentioned in the description but after sending a link to my private room I didn't see any preview. I have attached a screenshot for your reference.
<img width="584" alt="Screenshot 2022-04-04 at 1 38 43 PM" src="https://user-images.githubusercontent.com/54431564/161501601-dfefe9de-e2da-467c-945c-5ed52a552e95.png">

[2022-04-04 08:11] gsouquet commented on #21660
I can not reproduce this issue
Does this happen in incognito too? It looks like you are using some sort of password manager?

[2022-04-04 08:13] goelesha commented on #21652
@SimonBrandner Can you pls guide me about this issue and assign it to me. I would like to work on it.

[2022-04-04 08:24] gsouquet commented on #21656
@goelesha I would not particularly recommend someone new to Element to work on this as there are a lot of undocumented things around themes and how Element is built that one will face when working on this

[2022-04-04 08:28] gsouquet commented on #21654
Looks like you have a good grasp on where things are 👍
Nice one spotting this

[2022-04-04 08:31] ara4n commented on #21541
I am currently getting this almost every morning.

[2022-04-04 08:38] gsouquet commented on #21646
True as well in the room list message preview

<img width="263" alt="Screen Shot 2022-04-04 at 09 38 06" src="https://user-images.githubusercontent.com/769871/161506454-f63f0ab5-bca4-46b4-862f-ffa0a03b0a15.png">
n

[2022-04-04 08:56] EECvision commented on #21656
That's okay.

[2022-04-04 09:01] EECvision commented on #21660
You are right, this does not happen in incognito. I understand that my password manager may have been the cause. Thank you for looking into it.

[2022-04-04 10:06] Jumeb commented on #19724
hello @andybalaam, I would love to work on this issue as my first outreachy contribution. Please could you assign it to me.

[2022-04-04 11:09] kittykat commented on #21659
I can recreate when creating room on

[code]

and viewing on

[code]

[2022-04-04 11:10] kittykat opened #21661 "Joined room shows preview instead of timeline"
### Steps to reproduce

1. Create a private and encrypted room
2. Send a message to it
3. Open develop in a new tab

### Outcome

#### What did you expect?
See room

#### What happened instead?
See "Room can't be previewed. Do you want to join it? Join the descussion" dialog

![Screenshot from 2022-04-04 12-06-44](https://user-images.githubusercontent.com/51663/161531415-0db617b0-c19f-44a4-aed6-b1

[2022-04-04 11:16] HarHarLinks commented on #21631
yep, as stated in the OP

---

I've looked at element android, which appears to use this variation (matching dark mode and all), except so far I find it is used consistently:
![image](https://user-images.githubusercontent.com/2803622/161532207-41f382c2-06e9-4a99-8048-71b1987a2b4b.png)

It looks really good on my high PPI ("retina") phone display, but as I already stated earlier does in my opinion

[2022-04-04 11:32] #21648 closed

[2022-04-04 11:36] #21496 closed

[2022-04-04 11:54] kittykat commented on #21661
I can also reproduce this in `!YgGhYUhqaotdNCnTKf:matrix.org` with `Element version: 1.10.8; Olm version: 3.2.8`

[2022-04-04 12:56] frakic opened #21662 "Thread summary counts a deleted message and shows a blank"
### Steps to reproduce

1. Where are you starting? What can you see?
 -I've posted a message to an existing thread
2. What do you click?
 -I delete that message
3. More steps…
 -I view that thread's summary in timeline and thread list

Timeline:
![image](https://user-images.githubusercontent.com/18530109/161547833-1528896f-b6f6-409f-93bb-87b6904c2882.png)

Thread list:
![image](https://user-images

[2022-04-04 12:59] bmarty commented on #19977
I have encountered the issue today, I agree this is not great, and this should be fixed.

[2022-04-04 13:12] clokep opened #21663 "Unexpected behavior of thread icon when reading a thread"
### Steps to reproduce

1. Start reading a thread (e.g. by clicking on the thread summary in the main timeline).
2. Notice that there's another unread thread (via the dot on the thread icon):

![image](https://user-images.githubusercontent.com/517124/161549863-1a466b41-f9e1-4792-b061-564853c12eae.png)

3. Click on the thread icon.

### Outcome

#### What did you expect?

I expected to see the list

[2022-04-04 13:23] gsouquet commented on #21663
In the same vein as https://github.com/vector-im/element-web/issues/21487
We might want to take a deeper look at what the right panel remembers

[2022-04-04 13:34] #21660 closed

[2022-04-04 13:36] gaelledel opened #21664 "PIP not discarded after a Jitsi call"
### Steps to reproduce

Where are you starting? What can you see?
 - When leaving a Jitsi call in Element, the PIP remains. It is impossible to get rid of it

<img width="1344" alt="Screenshot 2022-04-04 at 12 59 05" src="https://user-images.githubusercontent.com/76945183/161556044-5d82a3d3-7d0a-4de4-972c-bbc5a20a7f46.png">

### Outcome

#### What did you expect?
The PIP to be discarded when I lea

[2022-04-04 13:38] robintown commented on #21664
Duplicate of https://github.com/vector-im/element-web/issues/21648

[2022-04-04 13:38] #21664 closed

[2022-04-04 14:36] Sinharitik589 commented on #19724
Hey ! ,I have an ongoing PR against this issue you may look into other issues.

[2022-04-04 17:41] kbrosnan opened #21666 "Room with empty published address"
### Steps to reproduce

1. I have a room that does not have a published address, only on one computer/client in every other client shows #fedora:fedoraproject.org
2. Going into the room settings does not allow me to update it.

Room settings
![Screenshot 2022-04-04 at 10-25-49 Element 2 _________ and 6096 others](https://user-images.githubusercontent.com/250273/161600117-0b991048-b2d5-47a5-87f3-20

[2022-04-04 18:12] ShadowJonathan opened #21667 "Trying to send `m.room.message` manually via `/devtools` in an encrypted room encrypts it"
### Steps to reproduce

1. In an encrypted DM, invoke `/devtools`
2. "Send Custom Event"
3. Use `m.room.message`, fill in event
4. Send

### Outcome

#### What did you expect?

It to be sent as unencrypted, as a "custom event" that is not specially interpreted.

#### What happened instead?

It being sent as an encrypted event, exactly what I don't want.

### Operating system

PopOS 21.10

### Appl

[2022-04-04 18:24] janogarcia opened #21668 "Thread view lacks a loading state"
### Steps to reproduce

Click on an existing thread either from the main timeline (thread summary, or "Reply in thread" contextual action) or the thread list.

### Outcome

#### What did you expect?

The thread view container to show a loading indicator if the loading isn't close to instant.

#### What happened instead?

An empty thread view container is shown with no feedback on loading activity,

[2022-04-04 18:27] janogarcia commented on #21335
@robintown 👍 Tightly related https://github.com/vector-im/element-web/issues/21668

@gsouquet Should we merge both somehow or is it preferable to keep them separate?

[2022-04-04 18:30] timokoesters opened #21669 "Element depends on optional power level fields to show "change powerlevel" UI"
### Steps to reproduce

Create a room with a power levels event like this:
[code]

Then element will not show the "change powerlevel" UI to the admin.

![Screenshot_20220404_202914](https://user-images.githubusercontent.com/25297359/161608293-340e0b1d-1b13-4039-b9e0-a28faa7d8218.png)

[2022-04-04 18:35] janogarcia opened #21670 "Broken gradient effect when hovering the thread summary"
### Steps to reproduce

Hover over a thread summary in the main timeline.

### Outcome

The gradient effect underneath the caret icon is not rendered correctly.

<img src="https://user-images.githubusercontent.com/60790/161609064-6f5fffd4-ecde-4749-aeba-76d56f6ffd15.png" width="279">

### Operating system

macOS Monterey

### Browser information

Safari 15.3 (17612.4.9.1.8)

### URL for webapp

de

[2022-04-04 18:58] timokoesters opened #21680 "Element Web calls don't work if /thirdparty/user/im.vector.protocol.sip_virtual is not implemented"
### Steps to reproduce

1. Connect to Conduit homeserver
2. Start a voice call
3. See this request fail in devtools:
`GET https://matrix.redacted.com/_matrix/client/r0/thirdparty/user/im.vector.protocol.sip_virtual?native_mxid=@testuser2:REDACTED.com`

From web to android and android to web. (both users on the same conduit server)
If web calls android, CORS error (because /thirdparty is not implem

[2022-04-04 19:19] janogarcia opened #21672 "Clicking on user names in the thread view will cause jumps in the timeline"
### Steps to reproduce

When viewing a thread, click on a user name.

### Outcome

#### What did you expect?

Same behavior as in the main timeline (i.e., adds a user pill in the composer, without introducing any unexpected jump in the timeline position).

#### What happened instead?

- When clicking on the root message's author name it will jump to that message position in the main timeline.
- Wh

[2022-04-04 19:19] SimonBrandner commented on #21652
This issue requires input from the design team, so I would recommend choosing a different issue as this might take quite some time for the design team to work through

[2022-04-04 19:23] m0rtis0 commented on #5388
Any updates on this?

[2022-04-04 19:28] soumyag123 commented on #21670
@janogarcia can you please assign me this issue?

[2022-04-04 19:57] Penguin-Guru commented on #5800
It would be nice if this could also warn users how long the operation could take. I'm running one right now that's over an hour in. The window has been pure white with the same spinner in the center the entire time, so I assume it's working.

[2022-04-05 01:10] endim8 commented on #14099
is there any progress on this?

[2022-04-05 06:23] bolu-tife opened #21674 "Rephrasing instruction on configuring app in setting development environment"
### Your use case

#### What would you like to do?
I want to rephrase the instruction on configuring the app (making a copy of the config.sample.json and renaming it as config.json)
#### Why would you like to do it?
This would help new contributors to set up their development environment with ease
#### How would you like to achieve it?
I would rephrase the instruction

### Have you considered any

[2022-04-05 06:53] su-ex commented on #14099
You can use [SchildiChat](https://schildi.chat), which has this implemented: https://matrix.org/blog/2021/10/08/this-week-in-matrix-2021-10-08#schildichat
Feel free to pick the changes and make this into a PR for Element.
![2021-10-08-schildichat](https://user-images.githubusercontent.com/9221456/161696005-bf429a3f-37ed-437b-9886-878d3a0a4e5d.png)

[2022-04-05 07:19] dwt opened #21675 "Connect to Mac Address Book"
### Your use case

#### What would you like to do?
I would like the ability to link matrix chat partners to entries in my system address book.

#### Why would you like to do it?
I have lots of contacts and find it hard to keep track a) what they are named, and what abilities to contact them I have. To centralise this information for almost all other forms of contact I use my address book, which a)

[2022-04-05 07:20] gsouquet opened #21676 "Accepting an invite where the other party has already left"
### Your use case

#### What would you like to do?

Improving the invite screen when the other party has already left the room when the recipient accepts

#### Why would you like to do it?

It is currently a bit off putting, clicking "accept invite" gives a modal saying "The person who invited you has already left." and does not dismiss the invite

#### How would you like to achieve it?

To automa

[2022-04-05 07:42] gsouquet commented on #21670
@soumyag123 this issue is not really up for grabs as threads is a project under active development

[2022-04-05 07:48] johannes-krude opened #21677 "Downloading files fails due to Content Security Policy"
### Steps to reproduce

I configured the `Content-Security-Policy` in nginx for element-web as described in https://github.com/vector-im/element-web/#configuration-best-practices.

### Outcome

Our element-web users can no longer download files. The download spinner keeps rotating and the following error message appears in the firefox log.

![screenshot_2022-04-05_09:04:49](https://user-images.git

[2022-04-05 07:49] Sinharitik589 commented on #21589
@gsouquet  can you assign it to me.I am working on it.

[2022-04-05 07:51] johannes-krude commented on #21677
Doing a rageshake results in `Failed to send logs: No connected database`.

[2022-04-05 08:00] gsouquet commented on #21589
@Sinharitik589 I don't think this is ready to get worked on, we first need to get input from the design team

[2022-04-05 08:01] gsouquet commented on #21668
Duplicate of https://github.com/vector-im/element-web/issues/21335

[2022-04-05 08:01] #21668 closed

[2022-04-05 08:02] EECvision commented on #21676
Hi @gsouquet, can you assign this issue to me?

[2022-04-05 08:03] gsouquet commented on #20075
Closing to make https://github.com/vector-im/element-web/issues/21043 the canonical issue about node 17

[2022-04-05 08:03] #20075 closed

[2022-04-05 08:12] andybalaam opened #21678 "Out-of-order messages"
### Steps to reproduce

1. In a room with some threads (threads enabled in labs)
2. Some messages sent, including a thread. The last reply in the thread was yesterday.

### Outcome

#### What did you expect?
Messages from today to be below messages from yesterday

#### What happened instead?
Yesterday's message was below today's

![image](https://user-images.githubusercontent.com/76812/161708995-e

[2022-04-05 08:28] kittykat commented on #21670
@soumyag123 you may want to have a look at some of the [issues labelled with "Help Wanted"](https://github.com/vector-im/element-web/labels/Help%20Wanted). Some of those are also marked as "good first issue", which means they're more suitable for newcomers to the project.

[2022-04-05 08:42] gsouquet opened #21679 "Can't add notification keyword with a leading dot"
### Steps to reproduce

1. Go to settings > notifications
2. Add `...push complete` as a notification keyword
3. Hit save

### Outcome

#### What did you expect?

For the keyword to be added

#### What happened instead?

A dialog said "An error occurred whilst saving your notification preferences."

This is due to synapse failing on that API call

[code]

#### What to do?

If we can't technically