[2022-04-05 08:55] kittykat commented on #21678
I've occasionally seen this, but not producibly

[2022-04-05 09:03] justjanne commented on #19934
If I jump to a message that has never previously been viewed with that client, it loads perfectly and is centered in the view.

If I jump to a message close to the messages I’ve loaded previously, it also is centered perfectly in the view.

If I jump to a message that’s far away in the history, but to which I’ve jumped before, it loads, but the view scrolls just past the message so the actual mess

[2022-04-05 10:10] #21659 closed

[2022-04-05 10:11] dbkr commented on #21661
Have given this o-uncommon - re-label if we see more reports.

[2022-04-05 10:12] gsouquet commented on #21084
Closing in favour of https://github.com/vector-im/element-web/issues/21502

[2022-04-05 10:14] gsouquet commented on #21592
It looks like https://github.com/matrix-org/matrix-js-sdk/pull/2264 has fixed the issue, no one seems to be able to reproduce the issue anymore

[2022-04-05 10:16] dbkr commented on #21666
You could try clear cache & reload in settings and see if the alias appears after that

[2022-04-05 10:20] kittykat commented on #21592
I haven't had the issue again, so going to close

[2022-04-05 10:20] #21592 closed

[2022-04-05 10:28] dbkr commented on #21678
If the messages couldn't get from one homeserver to another until a later day, this is considered a feature: the alternative being that the new message appear in the 'correct' place, somewhere back in the timeline. It's a bit concerning that the message didn't come through until later.

[2022-04-05 10:39] dbkr commented on #21679
This probably just needs us to sanitise the pattern (ie. remove the leading '.'s) before passing it as the rule ID

[2022-04-05 10:39] andybalaam commented on #21678
I'm 95% sure this was client side, not server side.  After refreshing my browser tab it was fixed.

[2022-04-05 11:45] gsouquet commented on #21679
I personally would like to have a notification that starts with a dot, in a room i'm a member of I'd like to be notified when the automatic event says `...Push complete!`

[2022-04-05 12:11] ara4n opened #21681 "Opening a Jitsi widget leaves you with a stuck PIP"
### Steps to reproduce

1. Open a Jitsi widget in a room (n.b. not a video call button)
2. Join and exit the jitsi
3. Every room you subsequently look at has a Jitsi PIP open, which you then can't get rid of

### Outcome

#### What did you expect?

PIP should only apply to Video calls, not random widgets that happen to be in a room.

### Operating system

_No response_

### Application version

ni

[2022-04-05 12:16] robintown commented on #21681
Duplicate of https://github.com/vector-im/element-web/issues/21648, assuming your Nightly is a few days stale

[2022-04-05 12:16] #21681 closed

[2022-04-05 12:42] goelesha commented on #15261
@SimonBrandner I am an Outreachy Applicant. I would like to work on this, can you pls assign this to me.

I tried reproducing the issue. For me, at 300% zoom, the image doesn't become blurred but shrinks somewhat. Like this
<img width="572" alt="Screenshot 2022-04-05 at 6 08 19 PM" src="https://user-images.githubusercontent.com/54431564/161755831-4f190b12-2978-4af3-b7df-5a56b4e4bbe1.png">

Ideally

[2022-04-05 13:09] robintown opened #21682 "Changing power levels from 'Admin' to '100' results in a warning"
### Steps to reproduce

1. Create a new room
2. In that room, open your own user info
3. Change your role from 'Admin' to 'Custom level (100)'
![Screenshot 2022-04-05 at 09-07-47 Element File transfers](https://user-images.githubusercontent.com/48614497/161760687-a0d1c220-af9f-481f-b977-932d34a23c29.png)
5. Click in the input box, and then click out of it

### Outcome

#### What did you expect?

N

[2022-04-05 13:17] robintown commented on #21210
I can no longer reproduce this

[2022-04-05 13:17] #21210 closed

[2022-04-05 13:19] robintown commented on #20799
A solution to this could be to wait until the user actually presses the 'Go' button before jumping.

[2022-04-05 13:27] lampholder opened #21683 "Widget fullscreen UX feels like a toggle, but isn't (resulting in **suprise**)"
### Your use case

#### What would you like to do?
I would like to:
- click the two diagonal arrows to open the widget full screen
- click it _again_ to go back to pinned

Instead I click it again and it disappears! And I am surprised.

### Have you considered any alternatives?

_No response_

### Additional context

This feedback has been echoed by a customer, too.

[2022-04-05 13:31] 3nprob commented on #6463
reminder that this is sill relevant

[2022-04-05 13:40] geckolinux opened #21684 "Element recent 1.10.x versions unusable due to UI lockup bug"
### Steps to reproduce

Hi, I've been using the Element desktop app on openSUSE Tumbleweed for years. Since about a month or two ago, Element has become unusable on my system because of a new bug where the interface locks up. It usually happens a few minutes after starting the app and switching between different 1:1 direct chats with my contacts. Upon switching, it goes into some kind of loop as i

[2022-04-05 13:53] robintown commented on #21684
@geckolinux Does https://github.com/vector-im/element-web/issues/21147 look like the issue you're experiencing, or is it different?

[2022-04-05 14:01] geckolinux commented on #21684
Hi @robintown thanks a lot for the fast triage. Yes, that does indeed look like what I'm seeing. Sorry I didn't find that one, I tried searching but it's hard to find the right words to describe this bug. Close this as a dupe?

[2022-04-05 14:08] JokerGermany opened #21685 "After clearing the cache a upgraded room isn't in the space anymore"
### Steps to reproduce

Yesterday i had to clear the cache because of a sticky message.
After this i can only see the old room of #datenschutzraum:matrix.org in the #privacy-space-de:matrix.org space
The new one is only listed in "other rooms"
when i leave the old room, the #datenschutzraum:matrix.org isn't visible in the #privacy-space-de:matrix.org space anymore.
If i join the room #datenschutzr

[2022-04-05 14:15] janogarcia opened #21686 "Implement Threads Beta feedback form"
Implement the contents for the Threads Beta feedback form, so that we can add a bit more useful context and set the right expectations for things that are still in the works.

Ref. https://www.figma.com/file/T309ztx0sNyOOK6NKVLHsK/Threads?node-id=3907%3A316966

[2022-04-05 14:19] Jumeb commented on #21589
Hello, @andybalaam I would love to work on this issue, could you please assign it to me.

[2022-04-05 14:20] richvdh commented on #21147
https://bugs.chromium.org/p/chromium/issues/detail?id=1301067 suggests the common thread may be the window manager in use - users of xfwm4 and MATE have reported it.

(Element-web 1.10.4 is the last version before the switch to Electron v17, so is the last version without this bug.)

[2022-04-05 14:23] geckolinux commented on #21147
Hmm OK, FWIW I'm on the latest Cinnamon version, which internally implements `libmuffin` (so no separate WM process, it's wrapped into the `cinnamon` process), similar to `metacity` from Gnome.

[2022-04-05 14:24] #21684 closed

[2022-04-05 15:13] jryans commented on #21683
Yes, this is effectively the same as https://github.com/vector-im/element-web/issues/20506. We tried to improve this somewhat in https://github.com/matrix-org/matrix-react-sdk/pull/7734 by explicitly showing both maximise and pin actions, but perhaps it's not enough.

To summarise the current state, at the moment, "pinned" and "maximised" are really locations a widget moves to (as opposed to indep

[2022-04-05 15:24] kbrosnan commented on #21666
That did reset it. Thank you.

[2022-04-05 15:28] Jumeb commented on #21682
@robintown I would love to work on this issue
Can you please assign it to me.

[2022-04-05 15:32] robintown commented on #21682
Sure! You're assigned now.

[2022-04-05 15:36] DashieTM opened #21687 "Advanced audio settings for Jitsi"
### Settings and jitsi features for video rooms

#### What would you like to do?
The current implementation of video rooms is easy to use, but removes a lot of settings and features that one could normally adjust.
A good example is the video sharing feature that was very welcome with the regular jitsi.

My proposal here is to create a new settings tab (likely inside element settings) that should o

[2022-04-05 15:45] Jumeb commented on #21682
I could not replicate your same exact problem, but I found out the following

1. If I try to demote my self to a moderator or default, I am being warned and I take cancel
2. But the value moderator or default remain, then when I try to get my Role back as Admin I am being warned.

I don't know if I solve my problem it will solve yours, so I am just going to solve the problem I have.

[2022-04-05 16:01] #21472 closed

[2022-04-05 16:13] MadLittleMods commented on #20799
@robintown We can simplify 👍

It was cool having the pick and go option but it doesn't work everywhere 😭

[2022-04-05 16:15] #21351 closed

[2022-04-05 16:43] robintown commented on #21651
Yeah, and actually, I still find the gradient a bit insufficient for legibility against certain images, so a plinth would be welcome.

[2022-04-05 16:51] robintown commented on #21682
@Jumeb Please reference this video to reproduce the issue:

https://user-images.githubusercontent.com/48614497/161807037-9d55a718-7ebf-4708-bd3c-7b2614dc5c8d.mp4

[2022-04-05 17:06] Jumeb commented on #21682
Thanks, I can reproduce the error

[2022-04-05 17:20] robintown opened #21689 "Thread layout is broken for bubbles"
### Steps to reproduce

1. Enable bubble layout
2. View a thread

### Outcome

#### What did you expect?

The display name should be in the right place, and there should be a normal amount of margin between messages.

#### What happened instead?

![Screenshot 2022-04-06 at 09-00-24 Element Test room](https://user-images.githubusercontent.com/48614497/161980448-5fac1d1b-6dbe-486a-b487-016106c08760.

[2022-04-05 17:26] #21238 closed

[2022-04-05 17:27] robintown opened #21690 "Thread composer and options button have lost their right margins"
### Steps to reproduce

Open a thread

### Outcome

#### What did you expect?

The composer and the options button should both have a right margin.

#### What happened instead?

![Screenshot 2022-04-05 at 13-24-02 Element Test room](https://user-images.githubusercontent.com/48614497/161814650-786f20b1-ebdb-478a-97af-11f3c540a7a0.png)

### Operating system

NixOS unstable

### Browser information

[2022-04-05 18:20] dscotese opened #21691 "Element crashed when I shut down Windows. I didn't shut down Element first."
### Steps to reproduce

Element had been open for several hours.  WIndows said it needed to restart to apply an update.  I close programs (NOT Element) that cause problems, and shutdown/Update/Restart (an option under Power in Windows), and got an Exception message.  an image of it is on my phone so I'll add it in a moment.

### Outcome

#### What did you expect?
Element should have shutdown witho

[2022-04-05 18:20] dscotese opened #32220 "Element crashed when I shut down Windows. I didn't shut down Element first."
### Steps to reproduce

Element had been open for several hours.  WIndows said it needed to restart to apply an update.  I close programs (NOT Element) that cause problems, and shutdown/Update/Restart (an option under Power in Windows), and got an Exception message.  an image of it is on my phone so I'll add it in a moment.

### Outcome

#### What did you expect?
Element should have shutdown witho

[2022-04-05 18:21] Sinharitik589 commented on #21634
Can i take this issue?

[2022-04-05 18:22] SimonBrandner commented on #21634
I've assigned you to the issue. If you need any help/have any questions be sure to visit [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org)!

[2022-04-05 18:25] dscotese commented on #21691
![20220405_110255](https://user-images.githubusercontent.com/1767796/161824342-2010a451-239c-4d3d-b961-27d6aecd10a0.jpg)

[2022-04-05 21:35] DashieTM commented on #21687
I did some more digging, apparently you can set these flags in a browser or even inside a link to get it done:
![image](https://user-images.githubusercontent.com/72016555/161853430-a9e6ab0a-7868-487f-a18f-9fe5b9cccfef.png)
perhaps like this: https://jitsi.riot.im/FJfDIRKXoziupWDXPvmatrixorg8bnv8zlihlu#config.disableHPF=true&config.diableNS=true&config.disableAGC=true

these options are also found

[2022-04-05 22:09] 532910 commented on #18164
I dunno how to reproduce and this issue is not about the error itself. It's about link style.

[2022-04-05 23:19] Raymondss12 opened #21692 "Delivery Status"
### Your use case

#### What would you like to do?
We need to see if an outgoing message has been delivered
#### Why would you like to do it?
It would be nice to see if your message is delivered
#### How would you like to achieve it?

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-04-06 00:02] robintown commented on #21692
Send status is indicated by a check to the right of a message:

![Screenshot 2022-04-05 at 20-01-28 Element Test room](https://user-images.githubusercontent.com/48614497/161870283-264147d0-40f5-4ee9-b0d4-950a96f5decd.png)

[2022-04-06 00:05] robintown commented on #21661
I can reproduce this consistently, bumping to o-occasional

[2022-04-06 00:38] Raymondss12 commented on #21692
That shows that your message has been sent. It doesn't show if it has been delivered successfully. E.g Whatsapp shows double checkmark when message is delivered.

[2022-04-06 08:46] babolivier commented on #9422
I've seen it happen on develop just now, have rageshaken ^

[2022-04-06 09:20] Ugzuzg commented on #21426
The deselection feature is a must for me. I constantly keep selecting a room with no expected messages in the near future as a workaround to prevent me from accidentally marking something as read if I didn't actually read it.

[2022-04-06 09:30] ara4n opened #21693 "Failed syncs not being reported in the UI"
### Steps to reproduce

1. empirically my client can't sync, and my JS console is full of /sync timeouts.
2. i restarted the client to try to unstick it
3. it now is showing me stale messages with no indication in the UI that the content is stale.

### Outcome

#### What did you expect?

cannot connect warnings.

#### What happened instead?

nothing.

### Operating system

macOS

### Application v

[2022-04-06 10:00] ara4n opened #21694 "Edit fallbacks are leaking into the timeline on Nightly"
### Steps to reproduce

1. Launch the app
2. Look at the timeline for messages which arrive in the incremental sync
3. Note that edits are not shown correctly; the fallbacks are showing rather than being aggregated correctly - instead the edit is shown as an emote after the edited message?
4. This may require hidden events to be enabled (but even if so, the edit should be hidden, surely, not leaki

[2022-04-06 10:45] axelsimon opened #21695 "Element search should understand matrix.to links"
### Your use case

#### What would you like to do?
People are likely to copy-paste a matrix.to URL and think that's the identifier of the room they want to join, and then use the search function (<kbd>ctrl</kbd>+<kbd>K</kbd>) to find it.

Search should be smart enough to recognise a matrix.to link (such as https://matrix.to/#/#webrtc:matrix.org) and strip everything before the room ID to help the

[2022-04-06 12:51] #21690 closed

[2022-04-06 13:04] pherwaniharsh commented on #20118
I'm also not able to see the total number of interacted votes, let alone the selected votes for the options within a poll at all. Whether or not I actually vote in it myself or not.

[2022-04-06 13:48] turt2live commented on #20118
@pherwaniharsh that would be a different, new, issue.

[2022-04-06 14:25] theoryshaw opened #21696 "EtherCalc: works for a while then indicates it can't be embeddable anymore"
### Steps to reproduce

In this room. https://matrix.to/#/#101_W_33rd_St:matrix.org

I added an ethercalc spreadsheet, and it works for a couple days, and then indicates it can't be embeddable anymore.

This has happened a couple times,

![image](https://user-images.githubusercontent.com/507113/161996642-d76c91d2-b81b-4ad1-8a91-9763a78fbac7.png)

### Outcome

Would expect the ethercalc embed to be

[2022-04-06 15:16] kalikiana opened #21698 "Bridged WhatsApp messages not marked as read in WhatsApp"
### Steps to reproduce

1. I'm looking at Element, responding, reading etc
2. I'm checking my phone to find all of the same messages unread
3. I'm also seeing unreads for my own messages

Not sure if I should've filed this against https://github.com/mautrix/whatsapp but I have no idea about the configuration on One and wether this would be an upstream issue or not.

I also tried changing both **Re

[2022-04-06 15:17] anoadragon453 opened #21699 "Inconsistent grammer in device sign out modal"
### Outcome

This modal appeared while trying to sign out **a single device** from my user settings.

![image](https://user-images.githubusercontent.com/1342360/162008086-0288f840-bd40-4b23-94f5-40590fd8084f.png)

The title talks of multiple devices, whereas the content implies there is only one device. The content is correct, though in either case both the title and content should match the numbe

[2022-04-06 15:47] turt2live opened #21700 "Threads don't respect "order by unread first" ordering in room list"
### Steps to reproduce

1. Be in a room with threads
2. Have that room set to Mentions Only
3. Order your room list by "unread first"
4. Look at a different room
5. People continue to engage with a thread
6. Room doesn't move to top of room list

### Outcome

#### What did you expect?

The room to follow the regular ordering of the importance algorithm.

#### What happened instead?

The room was u

[2022-04-06 16:20] robintown commented on #21672
Fixed by https://github.com/matrix-org/matrix-react-sdk/pull/8149/

[2022-04-06 16:20] #21672 closed

[2022-04-06 16:35] robintown opened #21701 "Multiple effects can play at the same time"
### Steps to reproduce

1. Send `/confetti`
2. While the confetti effect is playing, also send `/spaceinvaders`

### Outcome

#### What did you expect?

When the space invaders effect starts playing, the confetti effect should be stopped.

#### What happened instead?

Both effects play at the same time, resulting in flickering:

https://user-images.githubusercontent.com/48614497/162023607-79497747

[2022-04-06 16:38] turt2live commented on #21416
I've caught it in the act again on today's nightly.

[2022-04-06 17:08] #21517 closed

[2022-04-06 17:18] tobiasBora commented on #81
I managed to log as guest using the guest API: https://spec.matrix.org/v1.2/client-server-api/#guest-access

In the Javascript Matrix SDK client: https://matrix.org/sdks/#matrix-org-js-sdk I can log in browser using:

[code]

[2022-04-06 17:48] kalikiana commented on #21698
Maybe mautrix/whatsapp/issues/450 is related?

[2022-04-06 20:01] EECvision commented on #21701
Hi @robintown, I am outreachy applicant. Please, can you assign me this issue

[2022-04-06 20:07] EECvision commented on #21699
Hi @anoadragon453, I am an outreachy applicant. Please can you assign me this issue. Thank you.

[2022-04-06 20:13] robintown commented on #21701
You're assigned now 👍

[2022-04-06 20:17] luixxiul opened #21702 "Link buttons on UserPanel are not inlined"
### Steps to reproduce

1. Select a specific user
2. Open the user panel
3. Move your mouse around the link area

### Outcome

#### What did you expect?

Only the strings of the link should be clickable as below.

![after](https://user-images.githubusercontent.com/3362943/162062553-47056cac-7cda-4951-b0fd-026dc9d05dc2.png)

I have a fix and will submit it soon.

#### What happened instead?

The ro

[2022-04-06 20:39] EECvision commented on #21701
Thank you

[2022-04-06 23:15] axelsimon commented on #15055
Necroposting, but hopefully for the greater good.

@turt2live i think only when Element is installed and it detects a `~/.config/Riot` does it create an `~/.config/Element` but leave it mostly empty. At least that's what happened in my case.

It may be a case of simply moving everything in `~/.config/Riot` to `~/.config/Element` to migrate, but it would be good to check and have that documented so

[2022-04-07 03:11] #18803 closed

[2022-04-07 04:28] SimonBrandner commented on #18803
@michaelgaultjr, why have you closed the issue? Is it gone?

[2022-04-07 04:38] michaelgaultjr commented on #18803
I personally haven't noticed it happening recently, and there hasn't really any other information on it so I thought I should close it, I can reopen it if should stay open until officially resolved

[2022-04-07 04:40] SimonBrandner commented on #18803
Ah, I see, it was just a little confusing to see the issue closed out of nowhere :sweat_smile: Let us know if you ever see it again

[2022-04-07 06:22] gsouquet opened #21704 "Notification panel not loading"
### Steps to reproduce

1. Open notification panel

### Outcome

#### What did you expect?

To see my notifications

#### What happened instead?

Infinite spinner

[code]

### Operating system

_No response_

### Browser information

_No response_

### URL for webapp

_No response_

### Application version

_No response_

### Homeserver

_No response_

### Will you send logs?

No

[2022-04-07 07:35] frederik-elwert commented on #20702
Came across the same issue, and it leaves me puzzled: What kind of upgrade is required? An upgrade of the room? Of the Element client? Of my account? Would be helpful if the pill linked to some kind of documentation that tells you what options you actually have to make this work.

[2022-04-07 07:42] ttheshreeyasingh commented on #19120
Hi, can I please be assigned this issue?

[2022-04-07 10:15] daniellekirkwood opened #21705 "Analytics: Add click tracking to the onboarding buttons"
### Your use case

#### What would you like to do?
Add click tracking to these buttons
<img width="788" alt="Screen Shot 2022-04-07 at 11 09 25" src="https://user-images.githubusercontent.com/89144281/162176802-7e9ebb9b-d55a-489e-8a30-0508bb61d5c5.png">

#### Why would you like to do it?
So that we can see how successful this screen is, how many users click these buttons and complete to action.

#

[2022-04-07 10:22] daniellekirkwood commented on #21705
I don't have permissions to assign this but for the person triaging, 👋  it's triaged and for the Delight team :)

[2022-04-07 11:24] #19934 closed

[2022-04-07 11:34] #21647 closed

[2022-04-07 12:13] pherwaniharsh opened #21706 "Polls simply dont work, takes no input and shows no data to the admin"
### Steps to reproduce

1. Where are you starting? What can you see?

I have a space in which i have a polls room, that only i can send a Poll/Messages in (as an admin). Upon making a poll, The poll shows up fine, but takes in no input from the members, even if they do vote in. It takes only takes my vote (must be because of the restrictions i put on sending messages in the room? I doubt it since

[2022-04-07 12:15] HarHarLinks commented on #21701
:frowning_face:

[2022-04-07 12:46] #21633 closed

[2022-04-07 12:52] EECvision commented on #18889
Hi @gsouquet, regarding the issue mentioned above, the link to `settings` has been styled correctly. However, I noticed that from my element app, the message appears when I am in an e2e room. Please, can you confirm if it is the same for you?

I am also curious to know why the message is shown in E2E rooms.

The tips I get from here may help me to solve the issue permanently. Thank you

[2022-04-07 13:44] novocaine commented on #21434
not seeing this lately, assuming its related to threads and has been fixed

[2022-04-07 13:44] #21434 closed

[2022-04-07 13:57] lampholder opened #21708 "We still show the "add phone number" UX in user settings even if no identity server is in use"
### Steps to reproduce

1. Disable your connection to the identity server
2. Try and add a phone number
3. Observe: a 500 error (_after_ you've been told that the SMS has been sent)

### Outcome

#### What did you expect?
- The add phone number UX should be suppressed when there is no identity server.
- Really, the "SMS has been sent" confirmation should be conditional on a 200 from the identity s

[2022-04-07 14:37] JokerGermany opened #21709 "Images uploaded with uppercase file extension are not uploaded as images"
### Steps to reproduce

1. Where are you starting? What can you see?
Upload a jpg file with *:JPG as Name

This is the same picture.
One is .JPG
the other is .jpg

![grafik](https://user-images.githubusercontent.com/30293477/162224350-35eb6f7f-0b52-4444-bf4c-6504eeaa7f34.png)

### Outcome

#### What did you expect?
See the picture
#### What happened instead?
It's only an attachment

### Operating

[2022-04-07 15:08] sudoforge opened #21710 "As a user, I'd like the Room Search modal to prioritize unread messages"
### Your use case

#### What would you like to do?

I would like the Room Search (`<ctrl-k>`) modal to display rooms and DMs with unread messages first, if the user has not yet entered in a search query.

#### Why would you like to do it?

Slack has a similar feature to Room Search, which they call the "Quick Switcher". It enables similar functionality; moving between different "channels" (rooms)

[2022-04-07 15:10] robintown opened #21711 "Edits increment the message count in threads"
### Steps to reproduce

On a server with threads support:
1. Send a message in a thread
2. Edit the message
3. View the thread summary from another account

### Outcome

#### What did you expect?

The thread message count should be correct

#### What happened instead?

The thread message count was 1 more than the actual count

### Operating system

NixOS unstable

### Browser information

Firefox

[2022-04-07 15:19] KSPAtlas commented on #21710
+1

[2022-04-07 16:03] Half-Shot commented on #21694
Confirmed that this only happens with hidden events turned on.

[2022-04-07 17:02] ttheshreeyasingh commented on #20800
Hi, can I be assigned this issue?

[2022-04-07 17:03] dbkr commented on #21687
I think this is just referring to jitsi calls in rooms rather than the feature that we've been calling, "Video Rooms", right? Either way, this is a meta-bug of lots different things, so would be better at least split out into, "Expose these jitsi settings" or similar. Bear in mind though that jitsi is not in our long-term plan, so these probably won't get attention.

[2022-04-07 17:04] ttheshreeyasingh commented on #14621
@sakshi-0206 If you're not currently working on this issue? Can I be assigned this issue as well?

[2022-04-07 17:06] ttheshreeyasingh commented on #20578
@ankur12-1610 Hi, are you still working on this issue? If not, can I please be assigned the issue?

[2022-04-07 17:06] dbkr commented on #21691
This is electron crashing in some way, so we probably can't action this specifically (we don't yet have crash reporting hooked up for native crashes like this). I'll leave this open for the time being in case similar reports arrive.

[2022-04-07 17:07] ttheshreeyasingh commented on #20310
@shryasss Hi, are you still working on this issue? If not, can I be assigned the issue as well?

[2022-04-07 17:09] dbkr commented on #21693
I see this on a regular basis, although only after seeing the sync spinner for some time: seems if it takes longer than a minute-ish to do the catchup sync, the spinner goes away and the client sits there looking like it's ready but not actually being up to date. Probably when the first sync request times out?

[2022-04-07 17:21] bbhtt commented on #21704
Saw it today on develop.element.io (Element version: cec31d0e714e-react-233278546bda-js-dde4285cdf5f
Olm version: 3.2.8) but a different debug logs. Maybe same issue?

[code]

[2022-04-07 17:34] dbkr commented on #21709
I can't reproduce this, although I was trying on macOS rather than windows or Ubuntu. Could you also specify how you're uploading? There are several ways and they may not all follow identical code paths.

[2022-04-07 17:41] dbkr commented on #21041
Sounds like this is no longer an issue if you can no longer reproduce it?

[2022-04-07 17:41] #21041 closed

[2022-04-07 17:42] JokerGermany commented on #21709
Sorry my bad, the Problem was not a uppercase Problem, the PRoblem is that it was an 0kb File which was uploaded.
(I Think the camera disconnected and element didn't recognize something went wrong)
The issue can be closed, but a uploadcheck would be nice

[2022-04-07 18:02] DashieTM commented on #21687
Yes, it's about these settings. I have made a few buttons for the base settings of jitsi, however, something like voice activation will be more tricky. In this case I will not delve into that issue and instead divert my attention towards the proper system you are working on, I assume it's the element-call?

[2022-04-07 18:04] #21709 closed

[2022-04-07 18:11] EECvision commented on #20578
yes, I am still working on it.

[2022-04-07 19:20] pandafy opened #21713 "Reporting messages is broken"
### Steps to reproduce

On `develop.element.io`, when I tried to report messages the reporting failed.

### Outcome

#### What did you expect?
Message being reported successfully.

#### What happened instead?

[code]

![Screenshot from 2022-04-08 00-39-26](https://user-images.githubusercontent.com/32094433/162279894-739278b5-d8de-4192-aaaf-aa363685932a.png)

### Operating system

Ubuntu 20.04

###

[2022-04-07 19:45] aminomancer commented on #21336
This started happening to me too, but on Windows 10 v20H2 and now 21H1. The element browser area randomly becomes white. The titlebar and menubar are still visible but none of the commands work (e.g. view > preferences). Closing the window and then reopening it from the tray icon doesn't help. The process has to be killed. And it will happen again eventually. I'm not sure if this is the same thing

[2022-04-07 20:35] EECvision opened #21714 "Timeline search with empty text box should do nothing."
### Steps to reproduce

1. Where are you starting? What can you see?
2. What do you click?

Click on the search icon to toggle the search bar on.
![Screenshot (24)_LI](https://user-images.githubusercontent.com/63562663/162290233-4747ef03-7523-47a9-934d-431cda82bb96.jpg)

Click search or hit enter
![Screenshot (26)_LI](https://user-images.githubusercontent.com/63562663/162290593-cd34204b-32f7-4408-

[2022-04-07 20:36] EECvision commented on #21714
Hi, I am an outreachy applicant. I want to work on this issue.

[2022-04-07 22:07] turt2live commented on #21713
This does not block the release - affects develop-only code

[2022-04-08 01:35] MadLittleMods opened #21715 "Leaving a space is hard to find"
### Your use case

#### What would you like to do?

Leave  a space

![](https://user-images.githubusercontent.com/558581/162345702-64fc332f-2173-4927-add1-8807eb7452c4.png)

#### How would you like to achieve it?

Make the "Leave space" option more obvious and probably available on the spaces landing page. When I first switched to the space, my first thought was, "is this even possible?"

Currentl

[2022-04-08 08:05] t3chguy commented on #21701
Duplicate of https://github.com/vector-im/element-web/issues/16015

[2022-04-08 08:05] #21701 closed

[2022-04-08 08:11] #21689 closed

[2022-04-08 08:12] t3chguy commented on #20702
Yes a room upgrade

For an Admin clicking it does walk you through what is necessary with an explanation. For those without permissions to do the upgrade such does not happen.

[2022-04-08 08:18] t3chguy commented on #21698
Yeah this issue should be either reported to EMS/ Element One's support or the bridge. Element Web has no whatsapp specific code.

[2022-04-08 08:18] #21698 closed

[2022-04-08 08:21] t3chguy commented on #21661
This tends to happen if that room gets corrupted due to /sync exploding

[2022-04-08 08:27] t3chguy commented on #21692
Delivery to what though? From your server to their server? To one of their devices? To all of their devices?

[2022-04-08 08:43] 4nd3r commented on #15261
Problem is still present.

![image](https://user-images.githubusercontent.com/7166727/162396916-8eba84b9-f593-4fe2-9dc6-48d6db1905a6.png)

Microsoft Edge, page zoom 150%.

Also made video:
https://kvlt.ee/element-web-15261.ogv

[2022-04-08 08:43] 4nd3r commented on #15261
Problem is still present.

See video (Microsoft Edge, page zoom 150%):
https://kvlt.ee/element-web-15261.ogv

[2022-04-08 08:50] t3chguy commented on #21676
We don't get state updates for rooms we are invited to, so this sounds like a spec/server issue rather than a client one?

[2022-04-08 08:50] janogarcia opened #21716 "All threads in thread list get updated with the contents of the latest reply in a new thread"
### Steps to reproduce

1. Start a new thread by using "Reply in thread" contextual action.
2. Go back to the thread list.

### Outcome

#### What did you expect?

The new thread to be correctly rendered in the thread list.

#### What happened instead?

- All threads summaries in the thread list are showing the contents of the latest reply in the new thread.
- All timestamps in the thread list are

[2022-04-08 08:56] t3chguy commented on #5800
Well the warning would have to be "If your server has insufficient resources it might take longer than you remain alive" given there's no way to know how long it will take

[2022-04-08 09:01] t3chguy commented on #16635
We bake the version in nowadays

[2022-04-08 09:01] #16635 closed

[2022-04-08 09:01] t3chguy commented on #9583
This is gone now

[2022-04-08 09:01] #9583 closed

[2022-04-08 09:02] t3chguy commented on #17399
Its in quick settings with dev mode enabled

[2022-04-08 09:02] #17399 closed

[2022-04-08 09:02] t3chguy commented on #20683
Done

[2022-04-08 09:02] #20683 closed

[2022-04-08 09:03] JokerGermany opened #21717 "Show read recipients despite events are grouped"
### Your use case

When events are grouped you can't see on a first glance the read recipients
![grafik](https://user-images.githubusercontent.com/30293477/162401718-cdefd99b-2fbb-4ca1-a8c0-89095e97e277.png)
You need to extend it.
![grafik](https://user-images.githubusercontent.com/30293477/162402135-78c71c49-6673-4ba2-aba0-6e98ced46d31.png)

It would be nice if the read recipients would be shown

[2022-04-08 09:08] t3chguy commented on #19977
This was done specifically by design

[2022-04-08 09:14] t3chguy commented on #21646
Duplicate of https://github.com/vector-im/element-web/issues/19945#issuecomment-992699506

[2022-04-08 09:14] #21646 closed

[2022-04-08 09:34] #21704 closed

[2022-04-08 09:43] t3chguy commented on #21657
[code]

This is an issue with your server, possibly around federation or caching.

[2022-04-08 09:43] #21657 closed

[2022-04-08 09:50] t3chguy commented on #21645
Closing in favour of https://github.com/vector-im/element-web/issues/15076 - it'll never be possible to avoid clashing shortcuts with all DE's/OS'es/Browsers

[2022-04-08 09:50] #21645 closed

[2022-04-08 10:09] hughns commented on #2671
There is a proposed implementation of this for Element Web in https://github.com/matrix-org/matrix-react-sdk/pull/8259

[2022-04-08 10:32] ara4n commented on #21694
this basically makes "show hidden events" unusable, thanks to the extreme noise of the edits.

please can we un-regress it? i depend on "show hidden events" this when demoing Matrix.

[2022-04-08 10:33] benparsons opened #21718 "Use a different icon for Element Nightly"
### Your use case

#### What would you like to do?

Easily differentiate Desktop and Desktop Nightly

#### Why would you like to do it?

Because I'm runing them both and it would help to separate them

#### How would you like to achieve it?

Use a different icon - Firefox Nightly do this, it's a darker version of the existing logo, works well.

### Have you considered any alternatives?

_No respon

[2022-04-08 10:34] t3chguy commented on #21718
Duplicate of https://github.com/vector-im/element-web/issues/14592

[2022-04-08 10:34] #21718 closed

[2022-04-08 10:40] t3chguy commented on #21694
Regressed by https://github.com/matrix-org/matrix-react-sdk/pull/7962

[2022-04-08 10:54] t3chguy opened #21719 "Threads soft crash when switching rooms"
Only affects degraded mode to my knowledge

[2022-04-08 11:10] #21694 closed

[2022-04-08 11:16] AlBundy33 opened #21720 "voice calls sometimes not working"
### Steps to reproduce

the problem is a little bit strange.
We are useing different clients: element desktop app on windows, linux and macos and also the webclient.

Writing messages is working as expected.

But sometimes we have the problem that we don't hear each other if we start a voice call.
Sometimes it helps to restart the call.
Sometimes we have to restart the call multiple times and some

[2022-04-08 11:29] t3chguy commented on #21103
Closing in favour of https://github.com/vector-im/element-web/issues/21354

[2022-04-08 11:29] #21103 closed

[2022-04-08 11:40] bkil commented on #21354
Somewhat related: https://github.com/vector-im/element-web/issues/21288

[2022-04-08 11:43] Yajo opened #21721 "Balloons 🎈"
### Your use case

#### What would you like to do?

I want to send balloons 🎈 and it would be nice to see them flying around, just like confetti 🎉

#### Why would you like to do it?

Because sending confetti 🎉  is nice, but not enough!

#### How would you like to achieve it?

Just entering one 🎈 emoji in one message.

### Have you considered any alternatives?

When #415 gets fixed, I guess could s

[2022-04-08 12:00] HarHarLinks commented on #20683
For anyone searching like I did: they are now in the `/devtools` modal

[2022-04-08 12:04] t3chguy commented on #21721
Duplicate of https://github.com/vector-im/element-web/issues/16368

[2022-04-08 12:04] #21721 closed

[2022-04-08 12:12] karlabbott opened #21722 "Old calls sometimes ring the user when reloading a room"
### Steps to reproduce

1. Where are you starting? What can you see?
Make a 1:1 video call using Element web at some point. Close out the tab Element is in.

Re-open element and go to the room that you made the 1:1 call in.

### Outcome

#### What did you expect?

To enter the room and not get a call.

#### What happened instead?

Entered the room and was notified I had a call from the other user.

[2022-04-08 12:21] rafaelbn commented on #16368
![balloon-colors](https://user-images.githubusercontent.com/8736623/162434547-068fbd7a-cef5-4e6f-a72c-eed86ffde30a.gif)

[2022-04-08 12:27] bolu-tife commented on #21679
I have worked on this issue and the keyword tags allow dots.

[2022-04-08 12:55] Iitar opened #21723 "Contact: Networking status"
### Your use case

#### What would you like to do?
it's good to know

#### Why would you like to do it?
I don't want to talk to myself or a walls

#### How would you like to achieve it?
1) Only my contacts in the People list should be sent a status.
2) Multi-user rooms of more than 16-20 contacts should be forcibly restricted - do not send out or request status automatically (server limitation, ma

[2022-04-08 12:56] janogarcia commented on #20853
Closing as this has been fixed in a recent PR.

[2022-04-08 12:56] #20853 closed

[2022-04-08 12:57] janogarcia commented on #20853
<img width="1188" alt="Small dot (8px) on high contrast icon" src="https://user-images.githubusercontent.com/60790/162440073-46779998-d0f8-4cdb-87fa-62fad8b05a92.png">

[2022-04-08 13:26] #21719 closed

[2022-04-08 13:31] pvagner commented on #21436
Hello,
My workaround is as follows:
* Press ctrl+k to jump to the filter entry
* Type in a few characters
* Press tab key several times to jump to the room list.
Unfortunatelly it's not very pleasant experience for screen reader users.

[2022-04-08 14:19] #21713 closed

[2022-04-08 14:22] SimonBrandner commented on #19120
There is already a PR assigned to this issue, sorry

[2022-04-08 14:26] SimonBrandner commented on #21722
It seems you're not the only one to have come across this bug, as it's been reported previously. I'm going to close this issue now so we can focus on the older issue. Please watch, vote or comment on that issue if there is any additional information you can provide.

Duplicate of  https://github.com/vector-im/element-web/issues/21294

[2022-04-08 14:26] #21722 closed

[2022-04-08 14:31] benparsons opened #21724 "Add a Button to get back to /#/home"
### Your use case

#### What would you like to do?

Get to /#/home via the UI, so that custom versions of that page are more valuable.

#### Why would you like to do it?

To make use of the page for a customer.

#### How would you like to achieve it?

Add an (optional) button/link somewhere, perhaps above the main menu (Avatar button) or inside the menu itself.

### Have you considered any alterna

[2022-04-08 14:36] tulir opened #21725 "Hidden events cause room to be marked as unread"
### Steps to reproduce

0. Use latest develop version
1. Enable showing hidden events in timeline
2. Receive a hidden event (e.g. a reaction)

### Outcome

#### What did you expect?

Room is not marked as unread.

app.element.io works as expected (with hidden events enabled manually), so it seems like a recent regression.

#### What happened instead?

Room is marked as unread and bumped to the top

[2022-04-08 14:38] benparsons commented on #21724
@robintown 6442 looks useful, but do you think it's the same? The per-Space Explore Rooms page isn't a customisable HTML page is it?

[2022-04-08 14:39] robintown commented on #21724
Actually, this already exists, if this comment from Michael is still true: https://github.com/vector-im/element-web/issues/16691#issuecomment-800111626

[2022-04-08 14:39] #21724 closed, assigned to nobody

[2022-04-08 15:04] t3chguy commented on #21724
Yup, see chat.mozilla.org for an example

![image](https://user-images.githubusercontent.com/2403652/162469583-5f972b98-87af-4150-b796-ee69601b984b.png)

[2022-04-08 15:07] benparsons commented on #21724
OK thanks. Will leave this closed but can imagine we would want a better UX (even a top level button) for this to be really useful a a portal/landing page for customers.

[2022-04-08 15:08] robintown commented on #21724
FTR, the reason I linked https://github.com/matrix-org/matrix-react-sdk/pull/6442 is that it takes you back to the home page if you click on the 'Home' space while it's selected.

[2022-04-08 15:11] Raymondss12 commented on #21692
Well this depends whether it's for direct messages or rooms. For direct messages you should be able to see when the message you've sent has been delivered on the other user's phone. Basically the double checkmark concept in WhatsApp and signal. For rooms you could have it when you long press the message you sent you can see all users the message has been delivered to.

[2022-04-08 15:12] theoryshaw commented on #21696
Hi, more than will, just not sure how to export out logs.  Is there a 101 somewhere on how to do this?

Also, fyi, the error message changed to this now...

![image](https://user-images.githubusercontent.com/507113/162471190-037a8e8e-5fd6-4f13-851b-ae5199a8efca.png)

[2022-04-08 15:13] t3chguy commented on #21692
Right, but in Matrix a message has multiple levels of delivery

You send a message
-> Delivered to your server
-> Delivered to the recipient's server
-> Delivered to a recipient's device

The Matrix spec only lets us know when its delivered to your server, nothing more

[2022-04-08 15:26] theoryshaw commented on #21696
I think I figured it out. The following is the .tar file.
https://www.dropbox.com/s/enbx6bfa39qvcct/rageshake.tar?dl=0

Let me know if this is what you're looking for.

[2022-04-08 15:56] Iitar opened #21726 "Contact: Alarm"
### Your use case

#### What would you like to do?
Play the audible signal on the other side at the contact being called.

#### Why would you like to do it?
Attract the attention of a contact or search for a mobile device nearby.

#### How would you like to achieve it?
Implementation at client and protocol level. Contact context menu or pop-up button: Attract attention.

If an incoming packet with

[2022-04-08 16:51] mrusme commented on #17845
For me it seems that even if KeePassXC is unlocked, Element is not able to retrieve the key that it initially stored. After logging in for the first time and restarting the element-desktop, KeePassXC requests access for Element to its own key:

![screenshot_2022-04-08-113836](https://user-images.githubusercontent.com/151967/162485257-08ea658a-0578-406c-a998-3ff772d35254.png)

When I allow, Element

[2022-04-08 17:03] danielfomin96 commented on #17845
@mrusme This seems to be an additional problem, which can be worked around by disabling "Confirm when passwords are retrieved by clients" in the Secret Service Integration Settings of KeePassXC. At least this worked for me.
Of course this work around decreases the security a little.

[2022-04-08 17:04] danielfomin96 commented on #17845
I would also like to point out that I did not observe the issue of this ticket anymore.

[2022-04-08 17:10] mrusme commented on #17845
Just tried this, unfortunately it doesn't help. In the Authorization tab it doesn't even seem to list element-desktop whatsoever.

I'm wondering whether this is an element-desktop bug or more like a KeepassXC issue.

[2022-04-08 17:13] danielfomin96 commented on #17845
Just to make sure, you don't see an electron entry in the Authorization tab as well, right? Because I see electron instead of element-desktop in this tab.

[2022-04-08 17:15] mrusme commented on #17845
I restarted element one more time and now I see the authorization:

![screenshot_2022-04-08-121429](https://user-images.githubusercontent.com/151967/162490285-75c1f96a-9638-47ab-9556-ebef68e0a80d.png)

However, element still shows the error for every message, so it still doesn't seem to be able to retrieve the key.

[2022-04-08 17:17] mrusme commented on #17845
I enabled "Show notification when passwords are retrieved by clients" and I can see two dunst notifications every time I launch element, btw. So it seem that KeepassXC is allowing element to access the key and element should be able to use it.

[2022-04-08 17:30] ttheshreeyasingh commented on #19120
That PR has gone stale and the user was unassigned as the required changes weren't made, the colors were hardcoded in the existing PR solution and thus, PR wasn't merged

[2022-04-08 17:45] dbkr commented on #21720
Filling in the rest of the template would really help here, specifically at least the homeserver field: if it's not matrix.org then the HS may be having turn setup issues. The other thing that would help is logs from both sides after a failed call. Without any of these, this probably isn't actionable.

[2022-04-08 17:48] dbkr commented on #21723
There's a lot of implementation detail here but I'm not really sure what you're asking for - this sounds like the presence feature? Note that the "What would you like to do?" field is intended to ask what you'd like to achieve with the client that you currently cannot.

[2022-04-08 17:54] dbkr commented on #21726
This is also quite heavy on implementation detail but I'm not sure what you're actually asking for - a feature that causes a sound to be played on another user's device and nothing else?

[2022-04-08 18:01] mrusme commented on #17845
I tried the "Re-request encryption keys" link multiple times while having another session opened, but it won't work either. I then opened a third session and tried again but I still can't seem to retrieve any key.

Element basically seems to become completely unusable when there's an issue with the key.

I've then signed out. KeepassXC popped up, asking me for the passphrase. When I pressed enter,

[2022-04-08 18:53] mrusme commented on #17845
Turns out it's a KeePassXC issue in first place. Apparently the latest version, 2.7.1, is _incompatible_ with the database from the previous version that I used, 2.6.6.

Nevertheless, the key issue with element-desktop where it becomes unusable as soon as the key disappears should still be addressed in a way or the other. Re-requesting keys don't seem to work in that case.

[2022-04-08 18:56] t3chguy commented on #17845
That's a different key

This shows that your cryptographic identity wasn't loaded so encryption is entirely disabled

[2022-04-08 19:33] Raymondss12 commented on #21692
Yeah but there is no way to activate "Delivered to a recipient's device". Which is very crucial for many users.

[2022-04-08 19:59] t3chguy commented on #21692
That's a Matrix spec issue, not an Element one. For a privacy oriented product it's not exactly crucial.

[2022-04-08 21:18] jph168 opened #21727 "Element Nightly App Crashing on Startup (Linux)"
### Steps to reproduce

Last Known Good Element Nightly Version: 2022011101 Feb-11 08:23
First Bad Element Nightly Version: 2022021102 Feb-11 14:35
Latest Element Stable Release: 1.10.8 Unaffected

Immediate Difference between:
Non Broken
Resetting the UI components after locale change
Resetting the UI components after locale change
Changing application language to en-us
Fetching translation json

[2022-04-08 21:50] AlBundy33 commented on #21720
server is histed in our compamy but I don't know what implementation is used.
-> I'll ask our admins

where can I find the client-logs for the windows and macos desktop apps?

[2022-04-08 22:18] robintown commented on #21727
It would help to know more about your operating system. What distro are you using?

[2022-04-08 22:20] jph168 commented on #21727
Manjaro Linux

[2022-04-08 22:22] robintown commented on #21727
Duplicate of https://github.com/vector-im/element-web/issues/20926

[2022-04-08 22:22] #21727 closed

[2022-04-08 22:27] jph168 commented on #21727
oof this Duplicate isn't very Specific about it being Element Nightly.

[2022-04-08 22:34] jph168 commented on #21727
This Duplicate isn't very Specific about it being Element Nightly or very Specific about any Actual Specifics.

[2022-04-08 23:46] Pattygeek commented on #20310
@SimonBrandner I will like to be assigned this issue.

[2022-04-08 23:54] netnut404 commented on #17942
I should add that I have tried every matrix client I can get on my debian arm64 and they all are oretty alpha, and have pretty huge issues in one way or another  so having the flagship client on the architecture would go a long way  (I have been  trying to use a Matrix client on a librem5).

[2022-04-09 00:13] Pattygeek commented on #21501
@gsouquet Hi, I am an outreachy applicant, please can you assign this issue to me?

[2022-04-09 00:14] Pattygeek commented on #21478
@gsouquet Hi, I am an outreachy applicant, please can you assign this issue to me?

[2022-04-09 00:18] Pattygeek commented on #21388
@gsouquet Hi, I am an outreachy applicant, please can you assign this issue to me?

[2022-04-09 00:20] Pattygeek commented on #21263
@dbkr t Hi, I am an outreachy applicant, please can you assign this issue to me?

[2022-04-09 01:08] Iitar commented on #21726
Yes, I only ask for this

[2022-04-09 01:09] robintown commented on #17606
Fixed by https://github.com/matrix-org/matrix-react-sdk/pull/8263

[2022-04-09 01:12] Iitar commented on #21723
Yes, I'm describing a presence feature for multi-user rooms that won't create a huge number of system packages.

[2022-04-09 01:44] robintown commented on #21478
@Pattygeek Since this issue is specific to the configuration of the meet.element.io deployment, it needs to be addressed internally by our ops team.

[2022-04-09 01:57] robintown commented on #20154
Since this is caused by the previous behavior of un-highlighting events on scroll, this is fixed by https://github.com/matrix-org/matrix-react-sdk/pull/8263

[2022-04-09 01:57] #20154 closed

[2022-04-09 02:02] robintown commented on #19852
Fixed by https://github.com/matrix-org/matrix-react-sdk/pull/7167

[2022-04-09 02:02] #19852 closed

[2022-04-09 04:58] #20920 closed

[2022-04-09 05:16] #21287 closed

[2022-04-09 06:09] Nourio commented on #21521
Was there a reason for removing the avatars? It followed the design philosophy of Discord, and it's nice to be able to see who's in the room before joining the call.

[2022-04-09 06:50] SimonBrandner commented on #21501
I've assigned you to the issue. If you need any help/have any questions be sure to visit [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org)!

[2022-04-09 06:51] SimonBrandner commented on #20310
I've assigned you to the issue. If you need any help/have any questions be sure to visit [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org)!

[2022-04-09 08:41] luixxiul commented on #21287
I will keep an eye on UI in Japanese for a regression.

For Japanese users: もしボタン内のテキストの表示に不自然なところ、regressionなどがありましたらお知らせください。対処を試みます。

[2022-04-09 09:50] yaya-usman commented on #21000
@gsouquet , i am an outreachy applicant, i am interested in this issue, but i want to get some things clear, don't you think we should remove the `explore room` link since it's basically pointing to the `space home`, which already lists the rooms and chats within the space in which you can manage from there. Or do you have a suggestion where `explore rooms` should point to cos space home seems to

[2022-04-09 09:59] luixxiul opened #21728 "Keep developer guides for projects updated"
### Your use case

#### What would you like to do?

I would like to have the latest developer guides for the projects under `matrix-org` such as `matrix-react-sdk` which reflect the latest internal discussion. For example, I would like to have a style guide on usage of spacing variables in https://github.com/matrix-org/matrix-react-sdk#developer-guide with the graphic on https://github.com/matrix-

[2022-04-09 10:00] luixxiul commented on #21728
Please transfer this issue if there is another proper place, thanks.

[2022-04-09 10:17] SimonBrandner commented on #21263
I've assigned you to the issue. If you need any help/have any questions be sure to visit [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org)!

[2022-04-09 10:17] SimonBrandner commented on #21388
I've assigned you to the issue. If you need any help/have any questions be sure to visit [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org)!

[2022-04-09 10:18] SimonBrandner commented on #19120
Ah, sorry! I've assigned you to the issue. If you need any help/have any questions be sure to visit [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org)!

[2022-04-09 10:21] zwopdrek opened #21729 "Element Web warns of unencrypted message in E2EE room"
### Steps to reproduce

Unfortunately, no reproduction has been found yet. Will update this if something is discovered. For now, the following observations have been made:

1. There was a E2EE room inside a space.
2. A user in the room had a buggy view of the room (it appeared like an unnamed group chat with a list of people)
3. That user sent a message to the room.
4. Multiple element-web clients

[2022-04-09 10:21] zwopdrek commented on #21729
Logs will be sent as soon as I find out how to trigger the issue.

[2022-04-09 11:35] bolu-tife commented on #21695
Hello, I would like to work on this.

[2022-04-09 12:08] robintown commented on #21000
@yaya-usman This issue needs input from the design team before it would become actionable, so I would advise looking for other issues.

[2022-04-09 13:01] SimonBrandner commented on #21695
Thank you for your interest in this issue. We will normally not assign the issue to an external contributor until they have provided at least a draft PR which is taking the right direction. For further details, see our [guidance on assigning issues](https://github.com/vector-im/element-meta/wiki/Guidance-on-assigning-issues).

If you have any technical questions about this issue, you can ask for h

[2022-04-09 13:45] elsiehupp commented on #19120
@ttheshreeyasingh if it's any help, you could take a look at my comments on [@pedr0luiz's stalled pull request](https://github.com/vector-im/element-desktop/pull/274). Basically my impression is that in order to make the colors available during the pre-startup phase, you would probably need to pre-cache them (along with the theming mode) before quitting the previous time. In particular [you could

[2022-04-09 13:49] elsiehupp commented on #19120
@ttheshreeyasingh and if you end up extending `electron-window-state` you could do something like [my WIP pull request](https://github.com/mawie81/electron-window-state/pull/74) over on their repository (assuming your version actually works). Granted, my pull request over there has not received any response, so it may instead be worth publishing a fork (if you can't get in touch with the `electron

[2022-04-09 13:53] elsiehupp commented on #19120
According to the `electron-window-state` developer's [personal website](https://marcel.wiehle.me/), his contact email is [`marcel@wiehle.me`](mailto:marcel@wiehle.me).

[2022-04-09 16:01] yaya-usman commented on #21581
@robintown how do you enable bubble layout?

[2022-04-09 16:02] goelesha commented on #21581
@robintown Myself Esha Goel. I am an Outreachy Applicant. I was able to reproduce the issue. Can you pls assign it to me?

[2022-04-09 16:06] SimonBrandner commented on #21581
Thank you for your interest in this issue. We will normally not assign the issue to an external contributor until they have provided at least a draft PR which is taking the right direction. For further details, see our [guidance on assigning issues](https://github.com/vector-im/element-meta/wiki/Guidance-on-assigning-issues).

If you have any technical questions about this issue, you can ask for h

[2022-04-09 16:10] robintown commented on #21581
Also, this issue needs input from the design team before it can be actionable.

[2022-04-09 16:12] goelesha commented on #21171
@globau Can you pls elaborate on the issue?
I tried reproducing the issue but could not identify the problem exactly. Below are some screenshots for your reference.
<img width="1136" alt="Screenshot 2022-04-09 at 9 38 59 PM" src="https://user-images.githubusercontent.com/54431564/162582159-58bb3da8-83f7-4a84-a6fb-7eefd7246d6b.png">
<img width="990" alt="Screenshot 2022-04-09 at 9 40 14 PM" src="ht

[2022-04-09 16:15] yaya-usman commented on #21581
Ok i figured it out, but it seems to be working on my browser, check the image below

![bubble](https://user-images.githubusercontent.com/38439166/162582291-e86fe4ff-f6b8-45d0-81d3-31ad70d64a3c.PNG)

[2022-04-09 16:16] yaya-usman commented on #21581
ohh ok

[2022-04-09 16:17] globau commented on #21171
Make sure the typeface you're using has a specific weight for 300.  There's a discussion on the referenced pr.

[2022-04-09 16:20] goelesha commented on #21581
Thanks for your response. I will look for some other issues to work on.

[2022-04-09 17:12] GyokuroT commented on #6617
still an issue on multiple devices.

[2022-04-09 17:42] Penguin-Guru commented on #5800
That sounds good to me. In my case, I had to kill the process after letting it run for about 26 hours. It seems there was a malfunction but I can't be sure.

[2022-04-09 18:54] goelesha commented on #21171
@globau I was able to reproduce it using Fira Sans Extralight. Like this:
<img width="1082" alt="Screenshot 2022-04-09 at 11 16 55 PM" src="https://user-images.githubusercontent.com/54431564/162585577-913069ee-cfa8-4875-88ea-df0fd9c57a35.png">

[2022-04-09 23:07] anoadragon453 commented on #21699
@EECvision I don't have the authority to do that, but I (and hopefully others) can see that you've submitted [a PR](https://github.com/matrix-org/matrix-react-sdk/pull/8253) to fix this. Thank you for doing that!

[2022-04-09 23:30] EECvision commented on #21699
Okay, thank you.

[2022-04-10 03:10] #21654 closed

[2022-04-10 06:12] SimonBrandner commented on #21699
Thank you for your interest in this issue. We will normally not assign the issue to an external contributor until they have provided at least a draft PR which is taking the right direction. For further details, see our [guidance on assigning issues](https://github.com/vector-im/element-meta/wiki/Guidance-on-assigning-issues).

If you have any technical questions about this issue, you can ask for h

[2022-04-10 09:43] kubax opened #21730 "Sidebar hiding "Rooms" and "Persons" on every start if no Space is available"
### Steps to reproduce

Every restart of Element-desktop (affacting Elements-web also) the "Rooms" and "Persons" button on the sidebar is hidden, if no Space is created. When a space is created, the Roms and Persons Button keep persistent over restart of the application.

As i don't see a use (for me) in spaces, i don't use them. But i see a use in the Persons and Rooms button, because i have many

[2022-04-10 13:52] Inlife-raphael commented on #20237
Same issue on Arch Linux, details:

[code]

Installed with the official package.

It doesn't take long once there are the "electron threads" running as daemons.

To be precise, it takes 2 seconds to start on Brave Browser 100.1.37.111
It takes 20 seconds to start on Desktop if it ever starts.

**I didn't have this issue on Windows!**

I'd like to share logs but where are they?

[2022-04-10 15:01] EECvision commented on #21715
Hi, I am an outreachy applicant. I can work on this issue. Can you assign me?

Thank you.

[2022-04-10 15:16] SimonBrandner commented on #21715
Thank you for your interest in this issue. We will normally not assign the issue to an external contributor until they have provided at least a draft PR which is taking the right direction. For further details, see our [guidance on assigning issues](https://github.com/vector-im/element-meta/wiki/Guidance-on-assigning-issues).

If you have any technical questions about this issue, you can ask for h

[2022-04-10 15:30] EECvision commented on #21715
Alright, thanks for the information.

[2022-04-10 15:32] bolu-tife commented on #21695
Thank you. I have drafted a pull request for this issue.

[2022-04-10 16:38] UmbraChimera commented on #14323
Is there still not a way to get the "the authenticity of this message can't be confirmed on this device" to go away? I don't know why it's showing up this time but not on any other of my installs I verify.

[2022-04-10 18:33] luixxiul opened #21731 "RTL: Text items in a list are not aligned"
### Steps to reproduce

Please see: https://developer.apple.com/design/human-interface-guidelines/right-to-left/overview/text-and-characters/

1. Go to https://matrix.to/#/#edgarabic:matrix.org
2. Open the room panel
3. See the user list

### Outcome

#### What did you expect?

- The items of the user list should be aligned to the left side of the panel.
- Only the user name should be displayed in

[2022-04-10 19:24] ara4n commented on #21541
Yup, i've had this every single time i've unslept my laptop over the last week.

[2022-04-10 20:19] olivialivia commented on #21482
Hi! Found this issue the other day and as I've not seen much recent activity on it, I fixed it

[2022-04-10 20:38] robintown commented on #21521
@Nourio It was removed because we wanted to avoid adding complexity to the room list. We're still considering showing that information somewhere else, so the avatars may yet return in some form.

[2022-04-10 20:39] Mewsen commented on #6278
This is so important, how is this not implemented yet... imo the element desktop client is unusable for conference calls without it...

[2022-04-11 05:27] k0gen commented on #3320
On macOS do:
`open Element.app --args --proxy-server=socks5://127.0.0.1:9050`

Element should at least respect system default network settings (witch is not in macOS case)

[2022-04-11 07:58] #21662 closed

[2022-04-11 07:58] #21716 closed

[2022-04-11 07:58] #21711 closed

[2022-04-11 08:17] t3chguy commented on #21729
What client was the user who sent the unencrypted message using?

[2022-04-11 08:40] pierre-alain-b commented on #15806
I totally agree this is needed!
I've asked a related question here: https://github.com/matrix-org/synapse/issues/11185

[2022-04-11 08:52] t3chguy commented on #21730
Duplicate of https://github.com/vector-im/element-web/issues/21006

[2022-04-11 08:52] #21730 closed

[2022-04-11 09:05] t3chguy commented on #15806
Closing as not an Element issue

[2022-04-11 09:05] #15806 closed

[2022-04-11 09:10] #21337 closed

[2022-04-11 10:32] luixxiul commented on #21728
Thank you very much for listing the links.

I've been specifically expecting the guide on styling with CSS other than one on https://github.com/matrix-org/matrix-react-sdk#developer-guide (which only explains how to name elements), especially design specifications and guidelines about implementation, such as about usage of variables, font weight (what to be styled with a bold font), font color (wh

[2022-04-11 10:36] squahtx opened #21732 "Can't view or remove a room from a space when it is not the latest room in the upgrade history"
### Steps to reproduce

1. Create a space.
2. Create a room. Do not add the room to the space yet.
3. Upgrade the room: `/upgraderoom 6`
4. Add the old room to the space:
   `curl $'https://matrix.org/_matrix/client/r0/rooms/\u0021fhuUBbrIMGHGaPSbDk%3Amatrix.org/state/m.space.child/\u0021pLQLHMyNhDXQNFeIGr%3Amatrix.org' -X "PUT" -H "Authorization: Bearer syt_<your access token>" -H "Content-Type:

[2022-04-11 10:40] t3chguy commented on #21732
Duplicate of https://github.com/vector-im/element-web/issues/21002

[2022-04-11 10:40] #21732 closed

[2022-04-11 10:42] t3chguy commented on #21728
Such doesn't exist yet, and will likely not exist coherently until the Design team finishes Compound (UI kit) and we can start applying it to the codebase. Right now there isn't much consistency.

[2022-04-11 12:03] AceTheCreator commented on #21723
@dbkr Can I look into this issue?

[2022-04-11 12:04] AceTheCreator commented on #21717
@dbkr Is this issue been assigned to anyone yet?

[2022-04-11 12:05] AceTheCreator commented on #21710
@dbkr Interested in this issue... Can i pick it up?

[2022-04-11 12:32] robintown commented on #21710
@AceTheCreator This is probably best handled as part of [ongoing work to develop a search scoring system](https://github.com/vector-im/element-web/issues/21641), so this issue isn't available for others to work on, currently

[2022-04-11 12:35] robintown commented on #21717
@AceTheCreator Thank you for your interest in this issue. We will normally not assign the issue to an external contributor until they have provided at least a draft PR which is taking the right direction. For further details, see our [guidance on assigning issues](https://github.com/vector-im/element-meta/wiki/Guidance-on-assigning-issues).

This issue is likely to be a bit difficult, but if you h

[2022-04-11 12:39] #21731 closed

[2022-04-11 12:41] erikjohnston commented on #21332
Just happened again with me. This is particularly annoying as it forgets **all** your preferences.

[2022-04-11 13:17] Dominaezzz opened #21733 "Test for @t3chguy"
### Steps to reproduce

1. Where are you starting? What can you see?
2. What do you click?
3. More steps…

### Outcome

#### What did you expect?

#### What happened instead?

### Operating system

_No response_

### Application version

_No response_

### How did you install the app?

_No response_

### Homeserver

_No response_

### Will you send logs?

No

[2022-04-11 13:17] #21733 closed

[2022-04-11 13:17] Dominaezzz opened #21734 "Test again @t3chguy"
### Steps to reproduce

1. Where are you starting? What can you see?
2. What do you click?
3. More steps…

### Outcome

#### What did you expect?

#### What happened instead?

### Operating system

_No response_

### Application version

_No response_

### How did you install the app?

_No response_

### Homeserver

_No response_

### Will you send logs?

No

[2022-04-11 13:17] #21734 closed

[2022-04-11 13:46] zwopdrek commented on #21729
This seems to happen because the user's client is not synced properly. The user does not see the room name, instead they see a list of users. They do see the room avatar correctly. Presumably, they don't see the "encryped" flag for the room, and that's why they send unencrypted messages to the room.

[2022-04-11 14:48] niquewoodhouse commented on #20186
Closing this issue because it's intentional and not a bug, thanks

[2022-04-11 14:53] janogarcia opened #21735 "Persist scrolling position of thread list when navigating threads"
### Steps to reproduce

1. Go to the thread list.
2. Open a thread.
3. Go back to thread list by using the back button in the Threads panel.

### Outcome

#### What did you expect?

The scroll position in the thread list to be preserved.

#### What happened instead?

The scroll position is reset to the most recently updated thread.

#### What would you like to do?

Persist scrolling position of th

[2022-04-11 14:58] t3chguy opened #21736 "Test Issue"
Content

[2022-04-11 15:25] ilmari commented on #19742
Buttons in other dialogs (e.g. report content, devtools) don't have visible focus state either.

[2022-04-11 15:30] janogarcia opened #21737 "Thread list is sometimes stuck in the empty state"
### Steps to reproduce

1. Reload the browser tab when viewing a room with threads. Other than user initiated, reloads can also happen when updating the client to a new version.
2. Without scrolling the main timeline, open the thread panel.

### Outcome

#### What did you expect?

The thread list to be populated with the room's threads.

#### What happened instead?

- The thread list is showing th

[2022-04-11 15:50] #20186 closed

[2022-04-11 15:56] novocaine opened #21738 "Automated performance testing"
### Your use case

#### What would you like to do?

Run performance tests against key functionality of the application (e.g. rendering, room switching) as part of CI.

#### Why would you like to do it?

Element has frequent performance regressions. We should guard against this to prevent it occurring; its often only detected a while later and its really difficult to tell which change caused the re

[2022-04-11 16:00] Dominaezzz opened #21739 "Test Issue"
Content

[2022-04-11 16:01] #21739 closed

[2022-04-11 16:03] robintown opened #21740 "Rooms with lots of hidden events render very slowly"
### Steps to reproduce

Visit a room with 100s of hidden events

### Outcome

#### What did you expect?

Fast rendering

#### What happened instead?

Slow rendering, due to hitting the setting store for every hidden event on every render. This is a regression, and we should test that timeline rendering doesn't do localstorage I/O / settings lookups, so this doesn't happen again.

### Operating sys

[2022-04-11 16:11] janogarcia opened #21741 "Thread panel open state is not preserved on reloading the browser tab for currently viewed room"
### Steps to reproduce

1. Open the threads panel in any room.
2. Reload the browser tab. Other than user initiated, reloads can also happen when updating the client to a new version.

### Outcome

#### What did you expect?

The threads panel to stay open after reloading the tab.

#### What happened instead?

The threads panel is closed.

This only seems the affect the room you were currently view

[2022-04-11 16:14] justjanne opened #21742 "Opening a permalink to a message in a thread then entering a different room complains about a missing message"
### Steps to reproduce

1. Enter Room A. Room A contains no threads. Room A contains a permalink to a message in a thread of Room B.
![Room A with the mouse hovering over the permalink to the message in Room B](https://user-images.githubusercontent.com/3933349/162784122-f7714771-477d-4ebd-90de-161ceb10c221.png)
3. Click on the link. Room B opens. The thread panel of Room B opens and scrolls to the

[2022-04-11 16:32] janogarcia opened #21743 "Prevent threads to be started on thread replies that are returned in search results"
### Steps to reproduce

1. Search for a thread reply.
2. In the search results, hover over the matching thread reply and click on the "Reply in thread" button.

### Outcome

#### What did you expect?

The thread panel to show the matching thread reply in context, in the thread that it belongs to.

#### What happened instead?

The thread panel is showing the thread reply without any context which s

[2022-04-11 18:40] HarHarLinks commented on #21482
@t3chguy since #8278 only fixes this issue partly, do you want to reopen (and perhaps rename) or open another one?

[2022-04-11 18:57] ShadowJonathan commented on #18072
In the Element Design room today, there was someone asking for the original design proposal (In wide screen, align all messages (including the user's own) to the left of the screen.

Could this issue maybe be reopened? Or should a seperate issue be made to address this? (Considering the feature is now out of labs)

[2022-04-11 19:01] yaya-usman commented on #17978
@gsouquet hi,this issue doesn't seem obvious, I doubt if most people will notice the misalignment, it's very hard to notice, so I think it should be closed. I can work on it if it's necessary

[2022-04-11 19:10] robintown opened #21745 "Right panel chat has lost its right margins"
### Steps to reproduce

1. Maximize a widget
2. Open the chat panel

### Outcome

#### What did you expect?

The timeline and composer should be distanced from the right side of the panel.

#### What happened instead?

![Screenshot 2022-04-11 at 15-08-58 Element testing](https://user-images.githubusercontent.com/48614497/162812151-c6b78f8e-19b3-4299-91ab-e4b5ddf46563.png)

### Operating system

Ni

[2022-04-11 19:26] robintown commented on #21710
I misread a bit, this is asking for *discovery* of unread rooms rather than prioritizing them in search results. Regardless, this needs input from design before it can be worked on.

[2022-04-11 19:26] BloodyIron commented on #6278
The auto-gain is really obnoxious, it keeps turning it down way too low and people can't hear me. Need to turn volume back up, only for it to go back down. :/ no way to turn off or adjust behaviour...

[2022-04-11 19:34] robintown commented on #16368
The product team has decided to not add any more effects beyond the five that are currently offered. See [this document](https://github.com/vector-im/element-meta/blob/develop/docs/chat_effects.md) for the rationale.

[2022-04-11 19:34] #16368 closed

[2022-04-11 19:39] skolmer commented on #16368
Thanks for sharing your thoughts. Totally makes sense to me. Just noticed that the shared document is missing the "fireworks" effect.

[2022-04-11 19:52] #21682 closed

[2022-04-11 20:22] turt2live commented on #18655
Screenshots of the designs for inspiration (in no particular order):
![ModeratorView](https://user-images.githubusercontent.com/1190097/162825331-feded7a6-70b7-478e-af0e-ea3a51272b22.png)
![RequestSent](https://user-images.githubusercontent.com/1190097/162825335-a6acab89-1294-47aa-877e-aabcb6189225.png)
![RequestToJoin](https://user-images.githubusercontent.com/1190097/162825336-f86b1be3-992d-42fc

[2022-04-11 22:38] sudoforge commented on #21710
If we mean prioritization of rooms based on user interaction, then yes, this is about _discovery_ rather than _prioritization_, although I'd wager that we'd want to block on this until after #21641 is completed, so that unread rooms can be prioritized, too.

[2022-04-11 22:45] netnut404 commented on #6153
As try as I might, I cannot reproduce your successful build @[mdimura](https://github.com/mdimura)  with your script I end up at the end missing the electron-builder inside the .bin dir

[2022-04-12 02:10] robintown commented on #21745
@EECvision You're welcome to submit a fix for this issue, though since it is a regression that we likely want to make sure is fixed by the time of the next release, I'm going to leave it unassigned.

[2022-04-12 02:21] robintown commented on #21723
@Iitar Presence is a feature that already exists, so it's still a bit difficult to tell what features you're requesting. What do you mean by 'system packages'?

[2022-04-12 04:54] tleydxdy commented on #6278
I have resorted to using https://github.com/joeywatts/disable-autogain-control-extension

[2022-04-12 07:00] AlBundy33 commented on #21720
We are using Synapse 1.55.0

Is there a way to have a look at the client-logs before uploading them?

[2022-04-12 08:10] andybalaam commented on #9422
I got this again this morning, rageshake ^

[2022-04-12 08:20] kittykat commented on #20031
I'm going to close this issue for the reason that Michael gave above :+1:

[2022-04-12 08:44] t3chguy commented on #18655
Its not moved, the People right panel card remains, just won't show knocks to prevent noise/spam.

Settings already has a people section (people with non-default power levels) - this just extends that list.

<img width="1060" alt="image" src="https://user-images.githubusercontent.com/2403652/162919807-c760059f-5f06-4e38-90c8-22d808b1145b.png">

[2022-04-12 08:54] gsouquet commented on #19993
This looks outdated as the designs have changed and breadcrumbs are not in a dropdown menu

[2022-04-12 08:54] #19993 closed

[2022-04-12 09:29] daniellekirkwood opened #21747 "Threads: Response to Thread showing as latest message for All Threads in the Thread list."
### Steps to reproduce

I sent a thread message in one thread "Thanks, I'm happy to translate" and when I go to the Thread list the entire thread list shows my message in one thread as the most recent response in all the threads...

<img width="416" alt="Screenshot 2022-04-12 at 10 27 58" src="https://user-images.githubusercontent.com/89144281/162928602-55d4e310-227b-4619-a46f-58e904d06736.png">

[2022-04-12 09:36] justjanne commented on #20088
I’ve created a few test files for this, with intrinsic sizes of 200×200, 2×2, and 0×0. I can reliably reproduce the issue with these files.

* [black circle](https://user-images.githubusercontent.com/3933349/162929734-d79c9777-fe01-4970-8201-b8f79fe08dee.svg)
* [black circle (sizeless)](https://user-images.githubusercontent.com/3933349/162929740-088c385a-46dc-456f-8a5f-3d6c26241eb6.svg)
* [black c

[2022-04-12 09:45] daniellekirkwood commented on #17406
<img width="490" alt="Screenshot 2022-04-12 at 10 44 06" src="https://user-images.githubusercontent.com/89144281/162931582-91eccd39-6778-4656-a7dd-75100b0442f2.png">

I suggest changing the copy in the hover over to say: "XXX members" when the drawer is open (as seen in the screenshot).
If the drawer is closed the copy reads the same: "View all XXX members"

Whoever picks this up, please comment h

[2022-04-12 09:49] t3chguy commented on #21747
Please update your nightly, this has already been fixed.

[2022-04-12 09:49] #21747 closed

[2022-04-12 09:56] daniellekirkwood commented on #20169
<img width="390" alt="Screenshot 2022-04-12 at 10 55 32" src="https://user-images.githubusercontent.com/89144281/162934003-f3d9092d-26e4-46f5-988d-bcc7f4412ac3.png">

I think the suggestion here is to change "All rooms" to "All conversations". Is this because users don't necessarily associate DMs with Rooms and so you believe that there may be confusion? "Conversations" covers all room types from

[2022-04-12 09:59] daniellekirkwood commented on #16992
I'm going to remove the Needs-Product label as it would be great to have a drag&drop functionality in the app.

Ideally;
* Subspaces can be drag&drop to move the ordering in the left panel (similarly to spaces).
- [ ] Question: Can subspaces be drag&drop to different Spaces? Should we do that Design, can we do that Engineering?
* Rooms can be drag&drop into Spaces or subspaces.

[2022-04-12 10:17] fkwp opened #21748 "Error inviting a user into a room"
### Steps to reproduce

1. Created a new room
2. Added some users (works)
3. Adding the next user stoped working (Error message: You do not have permission to invite people to this room.)

### Outcome

#### What did you expect?
User to be added/invited to the room

#### What happened instead?
Error msg:  You do not have permission to invite people to this room.

from the debug logs the relevant li

[2022-04-12 10:20] t3chguy commented on #21748
Duplicate of https://github.com/vector-im/element-web/issues/17269

[2022-04-12 10:20] #21748 closed

[2022-04-12 10:21] t3chguy commented on #20169
Conversations doesn't cover all room types, non-standard rooms will be shown here too, e.g IoT, announcement rooms, voice rooms, etc

[2022-04-12 10:35] ShadowJonathan commented on #16992
Additional questions;
- [ ] If you drag a subspace between two spaces you own, would they "copy", or "move"?
- [ ] Similarly, if you drag a subspace from a non-owned space to an owned one, would they unambiguously copy?
- [ ] What about dragging a subspace from a space to the main bar? Would it be "pinned" in the sidebar? (Would this be "move" or "copy" as well?)

[2022-04-12 10:37] t3chguy commented on #16992
Keep in mind sometimes permissions might make it so you cannot `move` as you may not have the required permission to remove it from the "from" space.

This is out of scope as it'd require spec work.

[2022-04-12 11:09] luixxiul commented on #21745
I don't think this is a regression due to recent changes as there has not been right margin since 1.10.4 at least.

![1-10-4](https://user-images.githubusercontent.com/3362943/162947070-eadc44e2-be0d-4d7e-a44f-11daeeae4419.png)

[2022-04-12 11:13] t3chguy commented on #19156
Possibly the /sync response contained the highlight count increase but not the event

The room in question is non-e2ee so the client blindly trusts the counts provided by the server.

[2022-04-12 11:17] t3chguy commented on #21456
This whole area of code has been rewritten, presuming this got fixed - do shout if it recurs!

[2022-04-12 11:17] #21456 closed

[2022-04-12 11:19] t3chguy commented on #21686
@janogarcia is this considered done?
It looks very similar to the Figma comp, only differences I see are

+ tooltip positioning (tech debt)
+ Threads Beta feedback dialog

<img width="768" alt="image" src="https://user-images.githubusercontent.com/2403652/162948851-9a40ab35-25ed-408f-bfcd-79121b9f3cb1.png">

The latter we can change trivially but it'll also affect the search & spaces feedback dial

[2022-04-12 11:20] t3chguy commented on #21100
This will have been an issue with degraded mode which we are not considering for long term support.

[2022-04-12 11:23] ara4n opened #21749 "Voice messages show up as ugly UUIDs in Room Preview"
### Steps to reproduce

1. Send a voice message
2. Look at the room in question in the RoomList
3. Room Preview includes a fugly UUID

<img width="359" alt="Screenshot 2022-04-12 at 12 19 40" src="https://user-images.githubusercontent.com/1294269/162949463-dcd65a06-0ae9-4f16-8573-ab07429b6cc6.png">

### Outcome

#### What did you expect?

Pretty preview (e.g. "Voice message" or nothing at all)

##

[2022-04-12 11:30] t3chguy commented on #21450
matrix.org now supports MSC3666 - EW needs a tiny bit of support

[2022-04-12 11:40] t3chguy opened #21750 "Replying to search results in threads is broken"
### Steps to reproduce

1. Search for a threads response
2. Click Reply on one of the results

### Outcome

#### What did you expect?

Thread to open with the selected event ready for a reply

#### What happened instead?

The search closed, thread did not open, and the reply prompt was over the main timeline

### Operating system

N/A

### Browser information

N/A

### URL for webapp

N/A

### App

[2022-04-12 11:44] novocaine commented on #20143
@turt2live can you provide more detail about how to reproduce this please?

[2022-04-12 11:46] janogarcia commented on #21545
**Design input**

It looks like some ugly UX debt.

Unsure we have such a busy state already that we can reuse.

Ref. https://github.com/matrix-org/matrix-react-sdk/pull/8143#issuecomment-1096612558

[2022-04-12 12:02] robintown commented on #21745
@luixxiul I'm not referring to a right margin within the timeline, but rather the gray border between the timeline+composer and the edge of the card

[2022-04-12 12:08] robintown commented on #21720
Yes, you can open the browser console to view the logs locally

[2022-04-12 12:13] t3chguy opened #21751 "Thread summary is not displayed for root messages in encrypted search results"
### Steps to reproduce

1. Where are you starting? What can you see?
2. What do you click?
3. More steps…

### Outcome

#### What did you expect?

#### What happened instead?

### Operating system

_No response_

### Browser information

_No response_

### URL for webapp

_No response_

### Application version

_No response_

### Homeserver

_No response_

### Will you send logs?

No

[2022-04-12 12:13] t3chguy opened #32219 "Thread summary is not displayed for root messages in encrypted search results"
Encrypted variant of https://github.com/vector-im/element-web/issues/21450

[2022-04-12 12:21] #20098 closed

[2022-04-12 12:30] andybalaam opened #21752 "Pressing Esc does not mark room as read"
### Steps to reproduce

1. Sometimes, when I switch into a room
2. and press Esc to clear mark the room as read

### Outcome

#### What did you expect?
It should mark the room as read, causing the indicator in the top-right to disappear: ![image](https://user-images.githubusercontent.com/76812/162962586-ffa0b0fc-f303-433f-a5ee-19804568fe0a.png)

#### What happened instead?
Nothing happens.  I hamm

[2022-04-12 12:33] tgurr opened #21753 "feature_thread: false in config.json doesn't hide the reply in thread icon"
### Steps to reproduce

1. Main chat(room) view
2. Hover a message
3. Observe the available reply options
4. Notice "Reply in thread" icon is still shown, despite the feature being disabled in config.json
![feature_thread_false](https://user-images.githubusercontent.com/414984/162962614-fe155724-8f97-442a-80a9-667ed09da204.png)

Relevant config.json part:
[code]

Labs is correctly not shown/access

[2022-04-12 12:38] MountainX opened #21754 "Cannot find module './i18n/strings/en-us.json"
### Steps to reproduce

1. Where are you starting? What can you see?

Running element-desktop 1.10.8-2 (https://archlinux.org/packages/community/x86_64/element-desktop/) on Arch Linux KDE. System is fully updated as of today.

I launched element-desktop like this:
/usr/lib/electron17/electron /usr/lib/element/app.asar

2. I see the following output in the console:

    /home/user/.config/Element e

[2022-04-12 12:50] t3chguy commented on #19762
@daniellekirkwood is this done? It is marked as Shipped yet still open

[2022-04-12 12:56] dbkr commented on #21753
I believe this is intentional and is the feature in its transition phase from labs to stable - someone should be able to confirm

[2022-04-12 12:56] MountainX opened #21755 "Hovering over the message reply/options will sometimes cause Element to become unresponsive."
### Steps to reproduce

1. Where are you starting? What can you see?

In an Element room, reading messages. Get ready to reply to one using the reply feature. Hover mouse over the upper left area just above the message (where I can react or reply or choose options).

2. What do you click?
Nothing yet...

3. More steps…
Before I can click reply, while just pointing the mouse to this area, Element h

[2022-04-12 13:03] #21755 closed

[2022-04-12 13:04] dbkr commented on #21754
I don't think I'd expect it to work just giving app.asar as an argument - app.asar is just the code of the desktop app itself. In fact I'm not sure how it even got that far. I'd suggest sticking to the instructions in the README, or if you want to try anything more exotic, you get to keep both pieces. ;)

[2022-04-12 13:11] dbkr commented on #21754
Oh, I just looked and this is actually how arch launches Element (I'm still slightly surprised it works...) I'm not sure why this would be failing though - it suggests the installation (or build?) has gone wrong somehow. I think this would be one for the arch package maintainers: the Arch package is an unofficial, 3rd party package.

[2022-04-12 13:16] #21699 closed

[2022-04-12 13:20] t3chguy commented on #21753
I think given the config dictates that the Beta cannot be enabled, the prompts to enable it should not be present.

[2022-04-12 13:38] novocaine commented on #19762
@gsouquet where is this at?

[2022-04-12 13:42] #21450 closed

[2022-04-12 13:58] t3chguy commented on #21656
@robintown only if we make themes all include both a light & dark variant but right now custom themes are not such and neither is the high contrast theme.

[2022-04-12 14:01] olivialivia commented on #21482
Hi @t3chguy, I'm working on the copy button and before I commit anything I was wondering if you'd prefer it to look like:

![copy](https://user-images.githubusercontent.com/94136530/162977284-903a00fc-2067-4fd8-980d-c51de9e2b0aa.png)
- this using `<AccessibleButton>` + some CSS to style it

OR

![image](https://user-images.githubusercontent.com/94136530/162977320-b887e27b-2106-4b9c-8a40-4b052f1347

[2022-04-12 14:03] turt2live commented on #20143
1. Have lots of DMs
2. Click DMs metaspace
3. Element freezes for 15 seconds

I can only assume it's because the room list is terrible at rendering so many rooms so quickly.

[2022-04-12 14:03] t3chguy commented on #21482
Definitely avoid adding more height like in your latter proposal please

[2022-04-12 14:18] novocaine commented on #20143
1. Do you mean lots of separate DM rooms open? How many?
2. Do you mean the "People" metaspace?

Does the same thing happen for home?

[2022-04-12 14:19] t3chguy commented on #20143
This will be because the DM metaspace removes the height limit on the `People` sublist so if you have a lot of DMs then the lack of lazy rendering will really hurt

[2022-04-12 14:24] #21753 closed

[2022-04-12 14:28] bkil commented on #21563
Thanks, I was looking for that as well. Could you perhaps somehow document this on the interface, so people would not need to go through GitHub to find out about the solution?

[2022-04-12 14:36] t3chguy commented on #19692
@kittykat is this done? The board says Status: Shipped

[2022-04-12 14:50] ivy-reps opened #21756 "Increase voice message duration from 2 minutes until 10 minutes, or custom one regulable by client configuration"
### Your use case

#### What would you like to do?
Increase voice message duration from 2 minutes until 10 minutes, or custom one regulable by client configuration

#### Why would you like to do it?
Because 2 minutes limit sometimes not enough, and limit intrudes in the stream of speaking and breaks it. Me and my coroomer forgetting what and how you want to say something.

#### How would you like

[2022-04-12 14:54] robintown commented on #21233
Also https://github.com/vector-im/element-web/issues/17362

[2022-04-12 15:01] ivy-reps commented on #21756
@t3chguy, thank you very much. I've spent 4 hours on searching such switch, or input, or a part of configuration of synapse. I used Google with many different requests, but found nothing. Thank you very much!

[2022-04-12 15:13] MonkeyBars3k commented on #18898
"Settings > Prefs > Display Communities instead of Spaces" has been removed in today's release, so now I don't know of a way to hide this large sidebar that unnecessarily takes up space (pun intended) for users not interested in the feature.

This is a UX downgrade for us. Does anyone know of a way to hide this thing on the desktop client?

[2022-04-12 15:15] janogarcia opened #21757 "Wrong alignment for thread panel footer contents in Safari"
### Steps to reproduce

Open the thread panel on Safari.

### Outcome

#### What did you expect?

The footer contents for the Beta label and feedback button to be aligned to the right.

#### What happened instead?

It's aligned to the left.

We just need to change the value for the `justify-content: end;` declaration for `.mx_ThreadPanel .mx_BaseCard_footer` to be  `justify-content: flex-end;`

-

[2022-04-12 15:16] ostwilkens commented on #18898
Today the Spaces bar popped up again, and I can't find a way to disable it.
My current workaround is to use uBlock to hide the div.

Element is for me, since long ago, feature complete. What I am now missing is to disable features I don't need. Spaces and markdown come to mind.

[2022-04-12 15:16] turt2live commented on #20143
err, yes, sorry: People metaspace.

as a more accurate count from the issue description: I have about 2000 DMs.

[2022-04-12 15:21] turt2live commented on #21545
We do have a disabled/busy state for buttons.

[2022-04-12 15:22] turt2live commented on #17055
In random (brief) review of this, we might be able to leverage an EventEmitter interface as glue between the current dispatcher and a few key areas to build confidence that this is actually a [solvable] problem. If it goes well, we'd go all-in on event emitters.

[2022-04-12 15:32] t3chguy commented on #14621
Clearing assignment as per https://github.com/vector-im/element-meta/wiki/Guidance-on-assigning-issues - anyone is welcome to work on this, once you have a draft feel free to mention it here and we can set assignment then!

[2022-04-12 15:35] justjanne commented on #19891
## Investigation

The list has a maximum width equivalent to the width of the largest element, or a given fixed maximum. If the longest element is an actual space (not the users own profile item, nor the settings or "create new space" item) the issue can occur.

The issue occurs because at that point the width of the entire panel is determined by the width of this longest space name. When hovering

[2022-04-12 15:37] ivy-reps commented on #18620
Scrubbing already presented in nightly build of Element. With Respect, it will be great if you guys will focus on the subject of that issue. Of course, it's your decision what to be focused on.

Of course it's good to have scrubbing (@ShadowJonathan) and rightly working background play functionality, and remembering of place of pause, but these all things are not about the subject of that issue.

[2022-04-12 15:52] #19891 closed

[2022-04-12 15:53] t3chguy commented on #21749
We just show the event `body` - EW sets that body to be `Voice message` - the sender here is setting it to something different

@ara4n what client sent that voice message? It should be providing a human-friendly `body` as per the spec

[2022-04-12 16:01] EECvision commented on #21745
Alright.

[2022-04-12 16:07] meichthys commented on #18898
It's not ideal and won't work for large deployments, but a quick hack is:
`Ctrl - Shift - I` then search for `mx_SpacePanel collapsed` in the `Elements` pane then in the `Styles` sub-pane scroll to the bottom and click into the center box shown below and modify the first number to be `0`.
This seems to survive a restart of the app and also preserves the user provile badge.
![image](https://user-im

[2022-04-12 16:17] t3chguy commented on #11624
The count is provided by the server, it is also shown as an estimate with the `~`

https://spec.matrix.org/v1.2/client-server-api/#post_matrixclientv3search

count | integer | An approximate count of the total number of results found.
-- | -- | --

[2022-04-12 16:50] BloodyIron commented on #6278
While that can work as a stop-gap, convincing others to use that is really problematic. Also, using that on mobile?

[2022-04-12 16:51] t3chguy commented on #6278
Any solution from this repo won't work on mobile

[2022-04-12 17:35] thany opened #21758 "Taking up too much space"
### Steps to reproduce

1. Start Element
2. Observe the space being wasted

### Outcome

#### What did you expect?

A sidebar that doesn't take more space than it needs.

#### What happened instead?

This nonsense happened:
![image](https://user-images.githubusercontent.com/152227/163020780-8b15fd64-a416-4508-8788-c527d78c16d0.png)

Also why duplicate the settings cog? It doesn't need to be always

[2022-04-12 17:37] thany commented on #21758
I would recommend merging the two sidebars again. It never needed this split, there is absolutely no advantage to wasting an entire additional vertical bar for this.

[2022-04-12 17:40] thany commented on #21758
And suddenly now this happened:

![image](https://user-images.githubusercontent.com/152227/163021758-8f0b4d17-4fb9-4ceb-9efe-0d7257c86533.png)

This "home" appeared. Why is it so brightly bordered? Why is it there? Clicking it doesn't even do anything.

[2022-04-12 17:42] janogarcia opened #21759 "Implement improved spacing for the thread list and timeline."
**Changelog**

- Changed root message avatar size to 32px (the previous value of 36px was a design bug 🙃🐛).
- Changed the unread dots size to 8px and adjusted their spacing, bringing them closer to the timestamp and leaving more breathing room for the hover state.
- Updated the inner padding for the thread panel and around the avatar for better visual balance and to better fit 12-hour timestamps.

[2022-04-12 17:47] luixxiul commented on #21745
It is fairly easy to fix the margin issue if it would be possible to add another `:not()`, which I hesitate to do so as it makes the style inheritance even more complex, but there is another regression which should be addressed that the border-radius settings on top and bottom right are also gone, and it looks not so easy to fix the root cause without introducing other regressions.

(Background co

[2022-04-12 17:47] ploafmaster opened #21760 "Thread return button error"
### Steps to reproduce

I was in a room with a thread - I clicked the thread to open and typed a message. Then I clicked the `<` button in the top left of the thread panel and got the "something went wrong" screen. It will not go away even after clearing cache and reloading, or after quitting the desktop client and restarting. I already submitted debug logs to this effect.

### Outcome

I don't kn

[2022-04-12 18:02] thany commented on #21758
Actually,

[code]

Now how do I make this permanent? Do you accept a PR?

[2022-04-12 18:03] robintown commented on #21758
Duplicate of https://github.com/vector-im/element-web/issues/18898

[2022-04-12 18:03] #21758 closed

[2022-04-12 18:04] thany commented on #21758
It is not a duplicate.

That one asks to DISBALE it, I'm asking to MERGE it.

Please stop closing my issues willy-nilly. It's really annoying. Especially when I'm facing an already annoying issue.

[2022-04-12 18:07] thany commented on #21758
Btw, result of my CSS change before it was so rudely interrupted:

![image](https://user-images.githubusercontent.com/152227/163025830-4237d43e-4029-451d-ac81-b9ba7e731e6c.png)

What's better, this or disabling it? Forcing those spaces in a separate sidebar is nonsense either way.

[2022-04-12 18:12] thany commented on #18898
Try this bit so you won't loose the profile button that also inexplicably moved to the new monstrosity bar:

[code]

As said, it doesn't survive a restart if you apply it through devtools (and frankly, regular users shouldn't have to be put through this, but instead new releases should be put through better testing procedures).

If you can find how to do it permanantly, please let us know.

[2022-04-12 18:12] robintown commented on #21758
I've marked this as a duplicate, because merging the two bars together would be a prerequisite for disabling the spaces bar, as the user menu currently lives exclusively in that bar, so design would almost certainly need to consider them together.

My assumption that this should be resolved by disabling the spaces bar is because it appears that you aren't in any spaces. Unless you're asking for a

[2022-04-12 18:45] richvdh commented on #9967
As I understand https://github.com/matrix-org/synapse/issues/5364, it's asking for the homeserver to return a 4xx when you try to `PUT /_matrix/client/v3/rooms/{roomId}/send` an event that edits someone else's message. How exactly does this manifest in element-web? Given the UI doesn't offer the option to edit someone else's message, I'm surprised you care about the behaviour here.

[2022-04-12 19:28] dbkr commented on #21760
We don't seem to have got for this yet

[2022-04-12 19:53] MadLittleMods opened #21761 "Remove the `Configure your app` (server configuration provisioning link) for app.element.io"
### Your use case

#### What would you like to do?

Remove the `Configure your app` (server configuration provisioning link) section on https://app.element.io/mobile_guide/. They are redundant on `app.element.io` because `matrix.org` and `vector.im` are already the defaults in Android/[iOS](https://github.com/vector-im/element-ios/blob/0a92018e766a54091edba450a745618c559f9e3e/Config/BuildSettings.

[2022-04-12 20:04] t3chguy commented on #21760
This is fixed on develop and only happens on outdated homeservers.

[2022-04-12 20:04] #21760 closed

[2022-04-12 20:14] mrusme commented on #17845
I'm running into the same issue all over again. `element-desktop` again can't seem to be able to read the key, even though I get the confirmation from KeePassXC. Hence, `element-desktop` is yet again not able to decrypt messages anymore.

I'm starting to believe it's actually a KeePassXC issue, so I will report this there as well.

[2022-04-12 20:25] paulvt opened #21762 "Broke threads sidebar view"
### Steps to reproduce

1. I opened two Elements on different accounts, and started a test thread in a DM room between the two accounts
2. Writing messages back and forth in de sidebar worked
3. Then I clicked the "<" button next to Thread in the sidebar header to get to the main sidebar view

### Outcome

#### What did you expect?
I expected to go back to the main sidebar view.

#### What happene

[2022-04-12 20:29] MadLittleMods opened #21763 "Add Smart App Banner to prompt users to download the native iOS app"
### Your use case

#### What would you like to do?

Add [Smart App Banner](https://developer.apple.com/documentation/webkit/promoting_apps_with_smart_app_banners) to prompt users to download the native iOS app from the App Store.

<img src="https://user-images.githubusercontent.com/558581/163048464-a9018434-f54c-4158-8721-89725ec57feb.png" width="376">

#### Why would you like to do it?

Element W

[2022-04-12 20:37] robintown commented on #21762
This is fixed on develop and only happens on outdated homeservers.

[2022-04-12 20:37] #21762 closed

[2022-04-12 20:42] PF4Public commented on #17188
Still the same with electron-18

[2022-04-12 20:44] MReschenberg opened #21764 "UI becomes invisible with forced colors or high contrast mode enabled"
### Steps to reproduce

STR:
1. Open element in firefox
2. Enable forced colors mode (about:preferences > "colors", or "manage colors" depending on your version > set dropdown to "always" > OK )
3. View a chat room in Element.

### Outcome

Expected:
Message options (Reply, thread, edit, etc.) icons remain visible
Unread indicators remain visible
Room options, notification settings icons remain vi

[2022-04-12 21:25] G2G2G2G commented on #17188
I mounted /tmp to a ramfs and bought another stick of ram just for element

[2022-04-12 21:28] turt2live opened #21765 "Received mention in a thread, but mention didn't appear as a notification"
### Steps to reproduce

Unclear. Steps taken were: Receive mention in an encrypted room in a thread, where the room is set to 'Mentions Only' notification level

### Outcome

#### What did you expect?

A red badge somewhere.

#### What happened instead?

I heard the ping noise but didn't find the room because there was no badge or count. My room list is also sorted by activity (unread first) and t

[2022-04-12 21:30] turt2live commented on #21765
to add: now that I've seen the thread, the room is stuck as unread (bold, no count).

[2022-04-12 21:34] PF4Public commented on #17188
Enough! I've submitted a PR.

@G2G2G2G it would be awesome if you could try building that PR and testing whether it solves the issue.

[2022-04-12 21:36] turt2live commented on #21700
upgraded to S-Major because "disabling threads" is not satisfactory as a workaround.

[2022-04-12 21:45] G2G2G2G commented on #17188
I build this https://aur.archlinux.org/packages/element-desktop-nightly-bin I avoid electron & npm like the plague.
IDK where to add your thing, I see it's just 1 line..
nothing is in the build dir, I think cuz this AUR uses the .deb package

I believe in your pull request though

[2022-04-12 21:49] turt2live opened #21766 "Threads reply fallback cannot be clicked to jump to message"
### Steps to reproduce

1. Have someone start a thread
2. Be on a client with threads *disabled*
3. Click the rendered reply-looking thing for their message

### Outcome

#### What did you expect?

For the timeline to jump as it does with a non-thread reply.

#### What happened instead?

Nothing. Literally nothing. My click was eaten.

### Operating system

Windows 10

### Application version

Nig

[2022-04-12 21:50] PF4Public commented on #17188
Yep, with pre-built packages you have to wait for the next release.

[2022-04-12 22:06] turt2live commented on #18517
These should use our `Field` component, not whatever nightmare they are currently using:

![image](https://user-images.githubusercontent.com/1190097/163062407-66d0b681-3f6e-496d-86c6-375e5f32a7c6.png)
![image](https://user-images.githubusercontent.com/1190097/163062413-f3a52b8d-a184-4bc9-9790-f57f00a3f106.png)

(dark theme looks particularly bad)

----

Steps:
1. Go to user settings
2. "Security &

[2022-04-12 22:11] turt2live commented on #18620
it may be a 1 line change, but it's still important that the user experience be suited for longer messages. Code complexity is not the same as feature complexity.

[2022-04-12 23:46] #19199 closed

[2022-04-13 02:17] MountainX commented on #21147
I reported it with KDE Plasma 5, Olm version: 3.2.8, electron17 17.4.0-1, Element 1.10.8-2 on Arch Linux.

[2022-04-13 02:20] sentinel-sam commented on #21545
Kindly assign this issue to me, I'll like to work on it.

[2022-04-13 02:33] robintown commented on #21545
@sentinel-sam You're more than welcome to submit a fix, though our [current policy](https://github.com/vector-im/element-meta/wiki/Guidance-on-assigning-issues) is to wait until at least a draft PR has been submitted before assigning a new external contributor to an issue.

[2022-04-13 02:37] sentinel-sam commented on #21545
Ok, I'll be on stand by then.

[2022-04-13 06:01] janogarcia commented on #21545
@turt2live Thanks! Other than being disabled, does that button busy state show any form of feedback on progress/activity (loading spinner or similar)?

[2022-04-13 06:03] turt2live commented on #21545
We don't have a consistent design, but can put the spinner there. We tend to put the spinner in a convenient place rather than consistent.

[2022-04-13 06:25] janogarcia commented on #21545
Good to know that we can use it (we'll eventually fix any arbitrary inconsistencies). 👍

[2022-04-13 06:32] paulvt commented on #21762
Thanks for the quick response! I could indeed not reproduce it on develop.
My Synapse is blocked by the database changes, I had not time. I will put more effort in it then 🙂.

[2022-04-13 07:00] fobuss opened #21767 "Not opening a room"
### Steps to reproduce

1. Open application
2. Go to room where you've posted a message with Element Nightly

### Outcome

#### What did you expect?
As a user I should see all messages in the room.

#### What happened instead?

Getting _Something went wrong_ message.

### Operating system

MacOS 12.3.12

### Application version

Version 1.10.9 (1.10.9)

### How did you install the app?

from https

[2022-04-13 07:31] TPiUnikie commented on #19218
Hi,
patch the language language-helper.ts in Docker buildfile:
[code]
or directly from command line
`patch src/language-helper.ts language-helper.patch`
[language-helper.zip](https://github.com/vector-im/element-web/files/8479078/language-helper.zip)

[2022-04-13 07:45] lheckemann opened #21768 "Room leave progress indicator shouldn't be modal"
### Steps to reproduce

1. Leave a room.

### Outcome

#### What did you expect?

The room to disappear from my list, and to be able to continue using the app as normal.

#### What happened instead?

A modal spinner appeared, blocking any further interaction until the leave request was complete(?).

### Operating system

Linux

### Browser information

Firefox 98.0.2

### URL for webapp

app.eleme

[2022-04-13 07:56] t3chguy commented on #21767
Your logs aren't showing up and you didn't fill the Homeserver field, what version is your homeserver? There is a known bug with threads with older homeservers - https://github.com/vector-im/element-web/issues/21762

[2022-04-13 07:56] Johennes opened #21769 "Show URL when hovering link in Element Desktop"
### Your use case

#### What would you like to do?

When hovering a link in a message, it would be helpful if the target URL would be shown somewhere.

![Screenshot 2022-04-13 at 09 50 50](https://user-images.githubusercontent.com/1137962/163127479-231fc456-b8c3-4b80-a3b9-472a98770622.png)

In Element Web, the browser itself usually solves this problem, e.g. by showing the URL somewhere in the bot

[2022-04-13 08:03] t3chguy commented on #21767
I found your logs, for next time please include the issue link as per the form.

Duplicate of https://github.com/vector-im/element-web/issues/21762

[2022-04-13 08:03] #21767 closed

[2022-04-13 08:10] #17799 closed

[2022-04-13 08:16] #21757 closed

[2022-04-13 08:17] novocaine opened #21770 "Thread summary didn't show the last message"
### Steps to reproduce

I suspect this is a race condition that only occurs sometimes, but in my case I'd just restarted ED after an update, which re-opened in a room with threads in it. Then I noticed this thread summary:

<img width="641" alt="Screenshot 2022-04-13 at 09 15 17" src="https://user-images.githubusercontent.com/57377/163131695-1f484bb0-f78f-49c6-86a9-8fa601fc64de.png">

However, ima

[2022-04-13 08:29] janogarcia commented on #21670
@t3chguy It can be fixed for Safari 15.3 and below by changing the declaration for the background gradient.

Apparently, there's a bug that is triggered when transitioning from a colored stop to a purely transparent one, just as we're currently doing:

`linear-gradient(270deg, #F4F6FA 52.6%, transparent 100%)`

To fix it change the hex colors to HSLa or RGBa:

`linear-gradient(270deg, hsla(220, 37

[2022-04-13 08:40] t3chguy commented on #21754
Duplicate of https://github.com/vector-im/element-web/issues/19218

[2022-04-13 08:40] #21754 closed

[2022-04-13 08:44] t3chguy commented on #21768
Duplicate of https://github.com/vector-im/element-web/issues/6405

[2022-04-13 08:44] #21768 closed

[2022-04-13 08:56] t3chguy commented on #21670
@janogarcia had to use `rgba(255, 255, 255, 0)` otherwise it'd require introducing a new variable - $system-transparent which serves no purpose other than to work around a bug in Safari 15.3 - from a quick stackoverflow search this should still work

Is the move from 52.6% to 50% intentional?

[2022-04-13 09:38] t3chguy commented on #21769
Closing in favour of https://github.com/vector-im/element-web/issues/6532

[2022-04-13 09:38] #21769 closed

[2022-04-13 09:39] janogarcia commented on #21670
@t3chguy I'd recommend, if possible, using Sass `change-color()` function as a way of returning the expected color for this type of gradients in a systematic way that still doesn't require defining a new variable (rather than fading it to a different hue).

`background: change-color($color, $alpha: 0);`

As for the updated percentage value, I sort of rounded it / cleaned it up, as the 52.6% value

[2022-04-13 09:44] t3chguy commented on #21670
@janogarcia

1. We don't use SASS but instead postCSS
2. We have to do this operation at runtime due to how custom (JSON) themes work using css variables `--system`

[2022-04-13 09:48] Stebalien commented on #21613
I ran into this issue once, but it disappeared after I restarted Element. In case it's relevant, the thread started with a reply to a message in another thread.

I.e.:

1. Message A:
    1. Threaded: Message B
    2. Threaded: Message C
2. Message D, reply to C.
    1. Message E

[2022-04-13 10:19] janogarcia commented on #21670
I'll need to learn more about our CSS and runtime theming setup.

[2022-04-13 10:27] janogarcia commented on #21670
I guess the hardcoded white transparent value you proposed using in the PR won't work with custom theming either.

[2022-04-13 10:52] ara4n commented on #5940
Thanks to https://github.com/vector-im/element-web/issues/4674 we look to be drifting towards a GFM-flavoured dialect of commonmark anyway?

[2022-04-13 10:58] t3chguy commented on #5940
I think lack of strikethrough and table syntax are glaring differences

[2022-04-13 10:59] ptman commented on #5940
Missing tables wouldn't be that bad if html is passed through, but I think it's stripped?

[2022-04-13 11:13] gsouquet commented on #20788
@daniellekirkwood would be good to define what we're aiming for here

[2022-04-13 11:24] #21670 closed

[2022-04-13 11:42] novocaine opened #21771 "Reinstate "View Source" for events without being in developer mode"
### Your use case

#### What would you like to do?

See "developer mode" in the context menu for events, without enabling developer mode.

#### Why would you like to do it?

Element should be open. This is a tricky balance to strike, and we hide other developer options in "developer mode", but for this one, we think it having prominence for all users is important.

### Have you considered any alte

[2022-04-13 11:50] rtest12 commented on #12020
No one has new beautiful ideas?

[2022-04-13 12:04] t3chguy commented on #21763
I wonder if the smart banner can work dynamically, because we can't hardcode it into index.html as the iOS app being pointed to may be the wrong one depending on the deployment - and given Element is all static files, would need to be injected after reading config.json

[2022-04-13 12:07] t3chguy commented on #21763
https://stackoverflow.com/questions/31289530/load-ios-smart-app-banner-through-javascript claims it doesn't work if injected async, but is rather old so may no longer be the case

[2022-04-13 12:23] seancolsen opened #21772 "Pressing the back button on a thread makes the room unusable"
### Steps to reproduce

1. Enable beta threads feature.
2. Open a thread.
3. Click the "<" button.
4. Expect the thread to close.
5. Observe the room to display an error "Something went wrong!"

![Peek 2022-04-13 08-19](https://user-images.githubusercontent.com/42411/163178485-e7e3a330-1764-45df-bb4e-948556084031.gif)

### Work around

If I sign out and back in, then I can access the room again

#

[2022-04-13 12:25] robintown commented on #21772
This is fixed on develop and only happens on outdated homeservers, though we will be releasing a hotfix for this soon.

[2022-04-13 12:25] #21772 closed

[2022-04-13 12:25] acxz commented on #19218
@TPiUnikie do you want to send in the patch as a PR? It would help all of us.

[2022-04-13 12:30] t3chguy commented on #21772
https://github.com/vector-im/element-web/issues/21762

[2022-04-13 12:30] Xiretza commented on #21771
For anyone else that just wants "View source" back right now: developer mode can be activated by sending `/devtools` to any room, then checking "Developer mode" in the window that appears ([source](https://github.com/vector-im/element-web/issues/20683#issuecomment-1092786889)). This has all become quite obscure - that menu used to be accessible via right click on a room -> Room Settings -> Advance

[2022-04-13 12:33] t3chguy commented on #21771
Yup, because room settings isn't always available for spaces, so now it lives in more accessible places like the room menu
<img width="355" alt="image" src="https://user-images.githubusercontent.com/2403652/163180587-f3437887-8af5-4a8b-97b0-f50ce1d92467.png">
And quick settings
<img width="256" alt="image" src="https://user-images.githubusercontent.com/2403652/163180620-59ec8216-f202-45ab-acef-ff6

[2022-04-13 12:39] Xiretza commented on #21771
Huh, I never really realized that menu existed, and it seems to have quite a few more options than the *other* room menu (clicking the three dots or right clicking on a room in the room list).

I didn't even think to look there because in my mind that menu has only ever existed as an additional hurdle to get to the actual application settings.

Anyway, neither of those options exist without develo

[2022-04-13 12:41] t3chguy commented on #21771
Somewhat discoverable, it is listed in `/help`

[2022-04-13 12:47] Xiretza commented on #21771
That's a useful command - but I'm not sure how many people would think of entering it into a very graphical chat client such as Element. I've certainly never come across it in my >1.5 years of using it.

[2022-04-13 13:06] Xiretza opened #21773 "Make Developer Tools accessible through GUI"
### Your use case

#### What would you like to do?

Currently, the "Developer Tools" modal seems to only be accessible by sending the "/devtools" command to a room. It should also be accessible through a more discoverable graphical menu.

#### Why would you like to do it?

I don't know any concrete design policies for Element, but personally I find the current state quite surprising - with a prima

[2022-04-13 13:06] luixxiul opened #21774 "Regressions on the right chat panel with bubble message layout enabled"
### Steps to reproduce

1. Change the message layout to `Message bubbles`
1. Create a room
2. Add a widget to the room
3. Maximize the widget
4. Post something to the chat
6. Reply in thread

### Outcome

#### What did you expect?

- There should not be overflow of anything.
- The style rules for the chat and thread right panel should be integrated.

#### What happened instead?

- [ ] Read avatar

[2022-04-13 13:15] BillCarsonFr commented on #21771
Can it be there when using develop.element.io by default and not when using app.element.io.
I find it hard to see why it would be of any interest for a regular user.

[2022-04-13 13:17] t3chguy commented on #21771
Just noticed, Element Android hides View Source until you enable Developer Mode in settings

[2022-04-13 13:17] robintown commented on #21773
It is accessible through the GUI as described in https://github.com/vector-im/element-web/issues/21771#issuecomment-1097996672, though I agree that the setting to enable developer mode in the first place could stand to be accessible somewhere in the non-developer GUI

[2022-04-13 13:18] ara4n opened #21775 "Lots of UISIs from EI->EW"
Filing a bug to track two rageshakes, where everything sent from my EI to my EW was UISI

[2022-04-13 13:26] Xiretza commented on #21773
Agreed - while it is accessible through the GUI when developer mode is active, the only way to enable developer mode is through the exact menu in question. Making it possible to enable developer mode through the main Settings menu would also solve this catch-22, but the main Settings menu doesn't (currently) have an "Advanced" tab that this setting would obviously fit into.

[2022-04-13 13:30] t3chguy commented on #21773
So this used to be possible but requires show_labs_settings to be enabled in the config.json so it was actually restrictive to you needing a development build/config.

[2022-04-13 14:07] ordian opened #21776 "Channel doen't load anymore after viewing a thread"
### Steps to reproduce

1. Open a channel
2. Open an existing thread (or create a new one)
3. Press "go back" <- button

### Outcome

#### What did you expect?

The thread window to close.

#### What happened instead?

Something went wrong! screen shows up. It doesn't go away after the restart.

### Operating system

Arch Linux

### Application version

Element version: 1.10.9 Olm version: 3.2.8

[2022-04-13 14:09] t3chguy commented on #21776
Duplicate of https://github.com/vector-im/element-web/issues/21762

[2022-04-13 14:23] Iitar commented on #21723
to robintown:
Contact presence service messages. The xmpp protocol generates about 80% of the traffic of multi-user rooms with presence messages only, this will be eliminated here, nobody needs this information from everyone.

This function is not available. I don't know who is offline, invisible, online, away or do not disturb.

[2022-04-13 14:27] t3chguy commented on #21771
The context menu in which it is located can have up to 13 options rendered, removing the one which 95% of users don't need is sane

[2022-04-13 14:30] t3chguy commented on #21482
I don't think this is great tbh, blind copying would never come in handy to me personally

[2022-04-13 14:34] t3chguy commented on #21723
Then your server or that of your peers has presence disabled.

<img width="104" alt="image" src="https://user-images.githubusercontent.com/2403652/163204466-c126ba6b-19fb-456e-bcbc-096dcb1b20c2.png">

Presence is a thing which Element supports, assuming your Matrix server actually gives it the data.

[2022-04-13 14:37] HarHarLinks commented on #21482
Unless current behaviour changes, the main use would be copying encrypted body without looking at it. But yeah not too likely you need that.

I decided to comment here because that PR is already merged and this is still open, should I really go back to that?

[2022-04-13 14:51] novocaine opened #21777 "Discourage enabling threads if the user's homeserver doesn't have threads support"
### Your use case

#### What would you like to do?

Discourage users from enabling threads if their homeserver does not have threads support as per [MSC 3440](https://github.com/matrix-org/matrix-spec-proposals/pull/3440).

#### Why would you like to do it?

The threads experience is significantly degraded without server-side support, and not fit for general use. We should try to avoid promoting t

[2022-04-13 14:54] novocaine commented on #21777
There will be a bunch of existing users who have already enabled it at this point - I wonder if we should consider doing anything about that?

[2022-04-13 15:18] bbhtt opened #21778 "Metaspaces tend to disappear from sidebar"
### Steps to reproduce

1. Enable meta spaces in settings Home, Favourites, People etc.
2. Refresh/reload the page. (Not sure if this is the exact trigger)
3. See that meta spaces gone from sidebar:

![image](https://user-images.githubusercontent.com/62639087/163212995-e06c982f-f3d4-4b2a-bc64-1032a9a44b68.png)

![image](https://user-images.githubusercontent.com/62639087/163213094-2a83806d-351e-4ec

[2022-04-13 15:22] #21778 closed

[2022-04-13 15:23] bbhtt commented on #21778
Ah, thanks. Couldn't find that issue.

[2022-04-13 15:28] chagai95 opened #21779 "Logout a device if users don't put in their encryption key"
### Steps to reproduce

When the force encryption setup is configured:

* login
* close the tab

Shouldn't the user be logged out?

### Outcome

#### What did you expect?
The device should be logged out.
#### What happened instead?
All rooms are compromised and the UI is all red everywhere.

### Operating system

Windows

### Browser information

Version 93.0.4577.63 (Official Build) (64-bit)

###

[2022-04-13 15:33] janogarcia opened #21780 "Horizontal alignment for media and reaction containers in threads is off"
### Steps to reproduce

In a thread, react to a text reply, or upload some media (image, GIF, video, or sticker) after a text message.

### Outcome

#### What did you expect?

The left edge of text messages, their reactions, and media to be aligned to the same vertical line.

#### What happened instead?

The left edge of containers for reactions and media (image, GIF, video, or sticker) are not al

[2022-04-13 15:33] #21745 closed

[2022-04-13 15:39] robintown commented on #21723
(To be specific, matrix.org has presence disabled, so you'll need to be on a server other than matrix.org)

[2022-04-13 15:41] #21766 closed

[2022-04-13 15:51] robintown commented on #21779
Unsure whether it's possible to get a /logout request through just before tab close, but it's probably worth a try.

[2022-04-13 15:54] chagai95 commented on #21779
Maybe you can force an alert before closing the tab? Or just logout the device after a while if the encryption key was not set?

[2022-04-13 15:55] t3chguy commented on #21779
This would need to be done by the HS - given if Element is closed it can't do anything.

[2022-04-13 15:57] janogarcia opened #21781 "Glitch after following a search result and then switching rooms"
### Steps to reproduce

1. While in a room (Room A) search in "All rooms" for a thread reply from a different room (Room B).
2. In the search results, locate the desired thread reply from Room B and click on it. You should now be taken to Room B.
3. Now, click on Room A on the left sidebar.

### Outcome

#### What did you expect?

Go back to Room A without any unexpected warnings.

#### What happe

[2022-04-13 16:16] robintown commented on #21781
Duplicate of https://github.com/vector-im/element-web/issues/21742

[2022-04-13 16:16] #21781 closed

[2022-04-13 17:06] t3chguy commented on #21432
This is causing e2e test flakes right now

![Uploading image.png…]()

[2022-04-13 17:08] turt2live commented on #21276
I have the same issue, but did not have a badge on the Home space. The DM invite was completely silent until I accidentally ran across it.

[2022-04-13 17:09] t3chguy commented on #21084
#21502 doesn't currently cover this and its already a mess so would prefer splitting out issues

[2022-04-13 17:14] t3chguy commented on #2349
Threads are now in Beta as of 1.10.9
Further development ongoing in smaller issues

[2022-04-13 18:00] goelesha opened #21782 "Font Size preview doesn't change on changing the message layout"
### Steps to reproduce

1. Where are you starting? What can you see?
Open appearance in the setting on the element web in the browser. When I change the message layout the font size preview doesn't get changed. Instead, it changes on refreshing the page.

### Outcome

#### What did you expect?
If initially I have IRC message layout set in the appearance settings and now I change it to a modern mes

[2022-04-13 18:20] robintown opened #21783 "The 'on' versus 'noisy' distinction for notifications is confusing"
### Steps to reproduce

Open notification settings

### Outcome

#### What did you expect?

To be able to understand that setting a particular notification category to 'on' will not cause it to play sounds or vibrate any of my devices.

#### What happened instead?

A long-term failure to understand the conceptual design of notifications.

I assumed that 'on' would cause sounds for those notificati

[2022-04-13 19:04] m-o-e commented on #19268
Can confirm high idle CPU usage on OSX (Monterey, 12.3.1).

For me it appears to correlate to the number
of messages in the backlog.

**I can reproduce it like this**:

1. Create a new, empty room

2. While the room is empty: <1% CPU

3. Type one message. Idle CPU raises to ~15%.

4. Every additional message adds around 2% to the idle CPU load
    until it plateaus at around 50%.

It sticks to thi

[2022-04-13 19:08] grinapo commented on #2349
@t3chguy Could you, or anyone please also link the latest spec used as a base of the implementation? There are way too much comments to find it easily. Thanks!

[2022-04-13 19:14] m-o-e commented on #19268
Fwiw, for anyone else who's affected by this on OSX,
You can use this [Keyboard Maestro](https://www.keyboardmaestro.com/) macro to auto-hide
Element whenever it goes out of focus:

<details>
<summary>🪄</summary>

![2022-04-13_21-09-29](https://user-images.githubusercontent.com/1622080/163252871-b7a340fb-75dd-4037-8cb1-7b9db496473e.jpg)
</details>

Doesn't affect the UX and stops it from churning

[2022-04-13 19:16] janogarcia commented on #21084
@t3chguy With the changes we recently implemented there's plenty room for it (screenshot below from current develop). Moreover, with the [new spacing updates](https://github.com/vector-im/element-web/issues/21759) that I requested there will be an additional 4px there.

<img src="https://user-images.githubusercontent.com/60790/163253560-71504596-7a2a-4937-b307-34914896bfb7.png" width="88">

[2022-04-13 19:16] t3chguy commented on #2349
https://github.com/matrix-org/matrix-doc/pull/3440l

[2022-04-13 19:29] janogarcia commented on #21777
What if they have already enabled it? They should still be able to "Leave the beta".

And if they want to enable it back after having disabled it?

[2022-04-13 19:46] luixxiul commented on #21774
None of those overflow issues are reproduced on the modern message layout- they are specific to the message bubble layout.

[2022-04-13 20:05] kalaksi commented on #19268
I just updated to 1.10.9 on Ubuntu using apt and I now have this issue too. One core is constantly used 50-60% and it goes away if I minimize or close the window. No animations or anything moving in the window.
I don't think I've had this before, or at least haven't had this for long, since I usually notice from the sound of fans if my computer isn't really idling.

[2022-04-13 20:11] yaya-usman commented on #21780
@janogarcia i'm interested in this issue, can i get assigned. I'll drop a draft PR soon

[2022-04-13 20:16] yaya-usman commented on #21780
@janogarcia it seems to be aligned properly for me here.

![1](https://user-images.githubusercontent.com/38439166/163262945-8781c6c6-d071-4d4e-931e-2cc0339d5497.PNG)

[2022-04-13 20:16] yaya-usman commented on #21780
@janogarcia it seems to be aligned properly for me here.

![1](https://user-images.githubusercontent.com/38439166/163262945-8781c6c6-d071-4d4e-931e-2cc0339d5497.PNG)

[2022-04-13 20:45] andrewperry commented on #2349
The biggest problem I have with threads is that it becomes very difficult to follow the conversation and if someone comments on a thread a day or two later, their response gets lost. If the message appears in the usual 'timeline' like a quoting reply as well as being able to browse the thread, then that will be great. If it doesn't then it will be as painful as Slack etc.

[2022-04-13 21:01] turt2live commented on #2349
Please open new issues for further discussion about threads :)

Locking this as resolved in the meantime.

[2022-04-13 21:04] turt2live opened #21784 "Replies to [tall] images have repeating spinners"
### Steps to reproduce

1. Have someone reply to an image
2. Carefully watch the preview while the image loads

### Outcome

#### What did you expect?

A single spinner, like in the original image

#### What happened instead?

![image](https://user-images.githubusercontent.com/1190097/163269980-76f17d52-58cc-4185-ba79-099a7e33082d.png)

There is a second spinner below the centered one.

### Operat

[2022-04-13 21:47] yaya-usman opened #21785 "Deleted text shouldn't have share capability"
### Your use case

#### What would you like to do?
I realized if a message is deleted, it stays in the chat space as deleted, also it can be shared as shown in the image below:

![Capture2](https://user-images.githubusercontent.com/38439166/163274983-0efa3359-66b2-44fe-b782-7bec7761c2c9.PNG)

I'll suggest after a chat is deleted each user should be able to delete it entirely from their chat space,

[2022-04-13 23:39] wezm commented on #18898
I use Element on the web and use custom CSS to hide the sidebar permanently with [Stylus](https://github.com/openstyles/stylus). My userstyles for the Element instance look like this:

[code]

[2022-04-14 00:40] UmbraChimera commented on #16318
I tried what @f35f0ef9d0e827dae86552d3899f78fc advised, and it's still happening. Even with a whole new account I made. Any suggestions?

[2022-04-14 03:55] BuiHuynhNam commented on #21713
Hi, when i updated v1.10.9 latest version from **git pull upstream master**, It failed to start

![Screen Shot 2022-04-14 at 10 54 30 AM](https://user-images.githubusercontent.com/44636715/163310651-a2158e1d-d0e0-44b8-a754-0ac8004f896a.png)

[2022-04-14 04:36] jjj333-p opened #21786 "Quick way to delete messages with a single click keybinding"
### Your use case

#### What would you like to do?
When you hold down the alt key or some kind of keybinding, the little menu options when hovering the mouse includes a delete button that has no confirmation prompt.

#### Why would you like to do it?
When you want to delete several messages it is a hassle to 3 dots > delete > confirm, and it would be nice to have some keybinding to be able to dele

[2022-04-14 05:20] ajinkya-xebrium opened #21787 "After opting for using 'Threads' beta, the conversations are showing blank for the respective room"
### Steps to reproduce

1. Click 'Threads' icon in any room and it shows following message wiping out all messages -
**********************
Something went wrong!
Please [create a new issue](https://github.com/vector-im/element-web/issues/new/choose) on GitHub so that we can investigate this bug.

If you've submitted a bug via GitHub, debug logs can help us track down the problem. Debug logs contai

[2022-04-14 05:29] turt2live commented on #21713
@BuiHuynhNam it looks like you're running into a different error than what is described here. Please visit [#element-web:matrix.org](https://matrix.to/#/#element-web:matrix.org) on Matrix for support.

[2022-04-14 06:21] rumpelsepp opened #21788 "Design: Line break on Monospace Font in Media Preview"
### Steps to reproduce

1. Choose IRC Layout
2. Change font to `monospace`, font size 14.
3. Send a audio file to a chat

### Outcome

![image](https://user-images.githubusercontent.com/1961699/163325586-6b98573a-8e0b-4826-a5d4-84c144962f86.png)

The last zero has a line break. I figure that a mini CSS adaption could fix this issue well. :)

### Operating system

Arch Linux

### Browser informatio

[2022-04-14 06:29] MountainX commented on #21147
I have seen it recover after a while in some cases, but I was attempting to let it recover just now and it core dumped. I had opened it in a console, so I have that output:

    $ /usr/lib/electron17/electron /usr/lib/element/app.asar
    /home/user/.config/Element exists: yes
    /home/user/.config/Riot exists: no
    No update_base_url is defined: auto update is disabled
    Fetching translation

[2022-04-14 06:37] BuiHuynhNam commented on #21713
Thank you

[2022-04-14 07:34] SimonBrandner commented on #21786
It seems you're not the only one to have come across this bug, as it's been reported previously. I'm going to close this issue now so we can focus on the older issue. Please watch, vote or comment on that issue if there is any additional information you can provide.

Duplicate of https://github.com/vector-im/element-web/issues/18711

[2022-04-14 07:34] #21786 closed

[2022-04-14 07:46] MadLittleMods opened #21789 "Filter out flood of member & hidden event spam when we detect the scrollback is full of it"
### Your use case

#### Why would you like to do it?

Rooms can be overwhelmed by bulk spam users joining rooms (thousands and thousands). Each one of those joins and leaves creates an event in the timeline.

Currently in rooms like this and trying to scrollback, you just get stuck on the thousands of member events that we only [paginate 20 at a time](https://github.com/matrix-org/matrix-react-sdk

[2022-04-14 08:10] novocaine commented on #21777
On #2 - we will need to continue to show the beta card for users that have enabled the feature using a home server that doesn't have MSC 3440, so they can disable it.

[2022-04-14 08:11] t3chguy commented on #21789
This will cause the profiles we show on messages to be incorrect, so is not possible until (if) we remove historical profiles.

[2022-04-14 08:15] MadLittleMods commented on #21789
Good caveat 👍

As a user, I'd be totally fine with using the current profile state for the scrollback messages. Or just not have the profile information. Certainly a lot better than not accessing the content.

[2022-04-14 08:20] t3chguy commented on #21789
Also I'm not sure its technically valid in Matrix to change filters mid-stream

[2022-04-14 08:21] t3chguy commented on #21789
This caveat has more issues than you'd expect though, as your push rules need historical profiles to evaluate if a given message pings you or not, so whilst scrolling back you may not have messages highlighted which should be highlighted.

[2022-04-14 08:46] MadLittleMods commented on #21789
Judging by Synapse, it works just fine. I didn't spot anything in the spec mentioning it either (did you see something?)

These all sound like minor problems compared to not being able to read the content. The content is still digestible without profiles. These differences can also be explained in a little hint under a `?` icon next to the button/link or if we want to go extreme, explain it in the

[2022-04-14 09:14] kittykat commented on #17406
This is ready to develop, implementing Danielle's suggestion of changing copy when the right panel is open.

[2022-04-14 09:21] kittykat commented on #17421
Proposed text:

@daniellekirkwood what do you think about making each of those list items a tick box that a user has to tick to show that they understand what will happen? IMO, deactivating an account should be difficult because it's terminal.

[2022-04-14 09:22] novocaine opened #21790 "Discourage enabling threads if the user's homeserver doesn't have threads support"
### Your use case

See https://github.com/vector-im/element-meta/issues/228

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-04-14 09:24] saharhage opened #21791 "Started a thread and the app crashed"
### Steps to reproduce

1- Updated my app to the beta version
2- Started a thread in a room (of 1 other person) (to a message that the other party sent)
3- Sent 3 messages in the popup thread on the right
4- Clicked on the arrow button to close the thread popup => app crashed on this specific conversation
-> Cannot access the room

<img width="1070" alt="Screen Shot 2022-04-14 at 12 22 20 PM" src=

[2022-04-14 09:33] dbkr opened #21792 "Cypress flake: Uncaught exception getting secret storage key"
### Steps to reproduce

1. Where are you starting? What can you see?
2. What do you click?
3. More steps…

### Outcome

I've seen Cypress fail by catching an exception after cypress has shut down the server when it races with the app making requests for secret storage keys: https://github.com/matrix-org/matrix-react-sdk/runs/6021321940

We could catch & ignore unhandled exceptions while shutting d

[2022-04-14 09:38] t3chguy commented on #21789
Missing notifications is major, not minor

[2022-04-14 09:38] t3chguy commented on #21791
See https://github.com/vector-im/element-web/issues/21762

[2022-04-14 09:38] #21791 closed

[2022-04-14 09:43] niquewoodhouse commented on #20321
I think that makes a lot of sense.

<img width="1440" alt="Settings-md" src="https://user-images.githubusercontent.com/1587166/163358426-46e09b71-b348-44cf-9f86-703a27c1d541.png">

Just adding a bit of copy to let people know, for now, how they can disabled/enable temporarily for specific messages.   I don't have enough insights on whether or not md should be off by default so I'd suggest for now

[2022-04-14 09:46] Sinharitik589 commented on #21785
I want to work on this issue .Please assign me.

[2022-04-14 09:51] JasonMahdjoub opened #21793 "Abnormal use of CPU when idle"
### Steps to reproduce

Hi,
My system is Ubuntu 21.04, Linux 5.17.3, Gnome Shell 40, Wayland, Element version 1.10.9

When I let the element-desktop window opened, element use one CPU core at around 10% of usage. If I close the Element window, but without closing it which remains available into the system icons, than the CPU slow down around 0% of usage.
I have tried it into another computer with

[2022-04-14 09:53] yaya-usman commented on #21785
@Sinharitik589 ,sorry i am also an outreachy applicant, so i'll be working on the fix, that's why i opened the issue. @t3chguy can you assign it to me, i'll be dropping a draft PR to this soon

[2022-04-14 10:23] Iitar commented on #21723
I have no status

https://i.postimg.cc/zvVcCgp1/1.png

Win 10, Element, desktop

[2022-04-14 10:39] gsouquet opened #21794 ""Invites" show up in breadcrumb"
### Steps to reproduce

1. Receive an invite
2. View the invite and reject it

### Outcome

#### What did you expect?

For the breadcrumbs to remain unchanged. Especially if I have rejected the invite that is a strong signal that I am not interested in this and would not want to see it again

#### What happened instead?

It shows up in the breadcrumb

### Operating system

_No response_

### Brows

[2022-04-14 10:51] gsouquet commented on #20613
@kittykat what kind of support do you believe is required here? From what I gather this should be ready to work on?
Unless there were some technical limitations to tracking the remaining unchecked list items

[2022-04-14 10:57] kittykat commented on #20613
@gsouquet this was probably requiring support from ops as we needed a posthog upgrade to be able to do time-based tracking. This has now happened.

I've descoped the breadcrumb tracking item, but space invites haven't been marked as implemented.

[2022-04-14 10:59] gsouquet commented on #19349
@niquewoodhouse would you be able to revisit the different alternatives you suggested and propose a way forward.
I personally think that message previews are important but don't think I have useful suggestions to make in this specific scenario

[2022-04-14 11:02] gsouquet commented on #9623
I personally prefer the second approach as it will probably survive future redesign as Nique explained.
@daniellekirkwood are we happy to go ahead with this?

[2022-04-14 11:11] kittykat commented on #9623
Second option looks better to me, we should go with that

[2022-04-14 11:17] justjanne commented on #20088
It’s not just tiny SVGs, nor is it just with message bubbles. From my testing, all tiny images cause this, in all layouts:

* ![2×2 PNG in bubbles layout](https://user-images.githubusercontent.com/3933349/163380173-3977757f-e61a-48f7-93c9-159d553f8542.png)
* ![2×2 SVG in bubbles layout](https://user-images.githubusercontent.com/3933349/163380197-727568b3-9d84-414a-83f7-1040c0deecba.png)
* ![2×2 PN

[2022-04-14 11:33] robintown commented on #21787
See https://github.com/vector-im/element-web/issues/21762

[2022-04-14 11:33] #21787 closed

[2022-04-14 11:48] hagenest opened #21795 ""Something went wrong!" after clickling on the icon to close the new thread view"
### Steps to reproduce

1. Trying out the (great btw) new thread function
2. Click on the icon to close the thread view
3. "Something went wrong!" page appears instead
4. **Clearing the cache and reloading doesn't make the room accesible again**. Other rooms are still working though.

### Outcome

#### What did you expect?

That the thread view closes but the rest of the conversation stays accessi

[2022-04-14 11:55] luixxiul opened #21796 "Looped audio file not replayed"
### Steps to reproduce

1. Create an encrypted new room
2. Upload you favorite 4-5 minute song
3. Listen to the song
4. After the song finished, check the player

### Outcome

#### What did you expect?

Either (a) the song should be replayed or (b) the counter should stop at the end of the song. I am not sure which one is expected.

#### What happened instead?

The counter is reset and started fro

[2022-04-14 11:57] robintown commented on #21795
See https://github.com/vector-im/element-web/issues/21762, you should be using a more recent version of Synapse, but we will be releasing a hotfix for this soon.

[2022-04-14 11:57] #21795 closed

[2022-04-14 12:37] bmarty opened #21797 "Un-igroring a user does not show the messages which was sent while ignoring the user"
### Steps to reproduce

1. Alice and Bob are in a room, and some messages are there.
2. Alice ignores Bob. Bob's messages vanish
3. Bob send new messages. Alice do not see them
4. Alice un-ignores Bob. Old messages from Bob are now visible again, but new messages are not visible

I guess there is no other solution than to perform an initial sync when un-ignoring a user, since the client do not rec

[2022-04-14 12:49] turt2live commented on #21785
I feel this is a feature rather than a bug, as all events (even redacted ones) should be sharable. Let's get a product opinion on this.

[2022-04-14 12:56] yaya-usman commented on #21785
Exactly, i was about to say same thing, it needs redesigning. Thanks for your input.

[2022-04-14 13:08] novocaine opened #21798 "Sometimes the threads unread indicator shows, but I don't seem to have unread threads"
### Steps to reproduce

1. Be reading a threads
2. Notice that the thread unread indicator is showing
3. Go back to the thread list, but there is no thread with an unread marker

### Outcome

#### What did you expect?

Not this

#### What happened instead?

The unread marker is basically stuck and I can't clear it

<img width="527" alt="Screenshot 2022-04-14 at 14 04 32" src="https://user-images.g

[2022-04-14 13:10] novocaine opened #21799 "Sometimes the thread list shows out of order"
### Steps to reproduce

1. Be in the threads list of a room with a lot of threads
2. Scroll right up to the top and then down to the bottom again
3. Notice threads appear out of order

### Outcome

#### What did you expect?

Thread order should be consistent

#### What happened instead?

The last thread shown at the bottom of the list was from 6 days ago

### Operating system

OS X

### Applicatio

[2022-04-14 13:12] AlBundy33 commented on #21720
ok - sounds easy.
I'll try this, next time the issue occurs

[2022-04-14 13:44] dbkr commented on #21793
Debug logs may tell us what's going on, so if anyone experiencing this problem is willing to submit some that may help to diagnose this. Otherwise we'll have to wait until it happens to somehow who's able to get a javascript profile.

[2022-04-14 13:51] dbkr commented on #21796
I suspect the correct behaviour is for the playhead & time to reset to zero and stay there once playback has reached the end (instead of going back to zero and then counting up again which is what it sounds like it happening). Perhaps this could be a good issue for a relatively new person to help with. src/components/views/messages/MAudioBody.tsx / src/components/views/audio_messages/AudioPlayerBa

[2022-04-14 14:03] luixxiul commented on #21796
Also, the file should be able to be replayed, of course :wink:

[2022-04-14 14:40] dbkr opened #21800 "Cypress flake: Race on server query during registration"
### Steps to reproduce

1. Where are you starting? What can you see?
2. What do you click?
3. More steps…

### Outcome

On https://github.com/matrix-org/matrix-react-sdk/runs/6025371148 the cypress test failed when the registration screen didn't get to the right state. Looking at the video, the social login buttons are still visible after the homeserver has been changed, which probably suggests th

[2022-04-14 15:09] niquewoodhouse commented on #19349
Hi @gsouquet I've revisited and my first thought is using the tooltip to say which space it's in is the safest of these options to at least try.  It doesn't solve the underlying problem of seeing at a glance which room is in which space but it's the most straightforward to execute, with our current UI constraints.

![](https://user-images.githubusercontent.com/1587166/155496818-34098be4-e200-44d1-

[2022-04-14 15:23] ShadowJonathan commented on #20321
Nit/bikeshed; I think the subtext should be;

...when the feature is enabled, and;

...when it's not.

[2022-04-14 15:26] progval opened #21801 "Editing message with _ to add a mention prepends \ in the plain text"
### Steps to reproduce

1. From https://riot.im/app/ or https://app.element.io/ join a room bridge to IRC
2. Type `abc_def`
3. Edit the message to add a mention (`@val:e2e.zone` in the example below)

### Outcome

#### What did you expect?

The edit should send `* val: abc_def` to IRC

#### What happened instead?

The edit sends `* val: abc\_def` to IRC

This is because Element added backslashes i

[2022-04-14 15:37] catscratchedme opened #21802 "Performance regression in Element desktop 1.10.9 on Linux"
### Steps to reproduce

I believe this happened on update 1.10.9 on Element desktop on Linux

1. Scrolling through the timeline has become more laggy and less responsive
2. Scrolling up and down on the timeline in Element desktop use to be smooth. Now, if I scroll up and down, it is laggy and jittery. (The messages have already been loaded into cache, so it is not a matter of loading messages from

[2022-04-14 15:41] waldyrious opened #21803 "Replies to threads sent from clients without threads support appear in the thread sporadically"
### Steps to reproduce

I tried the threads feature in a test conversation I had created with myself on gitter, and indeed the responses appear in the thread in both places, but on Element the Gitter messages disappeared after reloading the page. Additionally, the third thread message from Gitter appeared as a regular reply in the main timeline on Element, rather than as a thread message (the firs

[2022-04-14 15:50] goodboy commented on #21793
I already reported this [in the desktop room](https://matrix.to/#/!YTvKGNlinIzlkMTVRl:matrix.org/$nDpZ3gmLanrkbl_6ka5DKEtqb1_Fs_wNMfn9W888BjA?via=matrix.org&via=privacytools.io&via=mozilla.org) but the issue for me appears to be the `electron17` child proc with the `--type=renderer`:

`ps h` gives the following cmd line for that child:

[code]

This is on an arch install fwiw and `strace`-ing the

[2022-04-14 15:53] t3chguy commented on #21790
Fixed by https://github.com/matrix-org/matrix-react-sdk/pull/8318

[2022-04-14 15:53] #21790 closed

[2022-04-14 16:17] catscratchedme commented on #21789
This seems to be the same problem in principle as this previous issue I created, in the sense that the client is spending a lot of time loading messages that the user probably doesn't want to see. (In this case, it's the member join messages; in my older issue, it's the redacted messages).

Even if the member join messages / redacted messages are hidden, the client will still be loading the hidden

[2022-04-14 16:17] dbkr commented on #21793
Unfortunately not much in the log, and the renderer process is just the process that electron runs the app code in, so that's unsurprising. However, it looks like the little animated blue dots on the reply button might have something to do with this, and I suspect they may be animating even when the toolbar isn't visible.

[2022-04-14 16:17] dbkr commented on #21802
Probably the same as https://github.com/vector-im/element-web/issues/21793

[2022-04-14 16:23] dbkr commented on #21793
An illustrative gif:
![invisible blue dot animating](https://user-images.githubusercontent.com/986903/163432174-9bc615c8-1f8f-43e2-a45c-6e4f8035cf4b.gif)

[2022-04-14 16:32] dbkr commented on #21793
Oh, one more thing: if this is the case then a workaround would be to enable the threads beta which will stop the little blue dot from appearing. This probably explains why none of us are seeing this (we all turned threads on).

[2022-04-14 16:34] hsiktas commented on #21793
Confirmed! Turning on the Threads beta hides that blue dot, and the CPU usage goes down.

[2022-04-14 16:58] dinosmm opened #21804 "'Call failed because microphone could not be accessed' when calling 1-on-1 or in room"
### Steps to reproduce

Open a room or 1-on-1 chat, click on either the audio or video call button.

### Outcome

#### What did you expect?
Call to start being established.

#### What happened instead?
Error message:

Unable to access microphone
Call failed because microphone could not be accessed. Check that a microphone is plugged in and set up correctly.

### Operating system

Windows 10

### A

[2022-04-14 17:55] catscratchedme commented on #21793
I've also enabled threads beta, and my scrolling still seems laggy on Element desktop, especially when initially scrolling up in the timeline.

[2022-04-14 18:07] #20088 closed

[2022-04-14 18:18] #6469 closed

[2022-04-14 18:20] MadLittleMods commented on #3818
Related to https://github.com/vector-im/element-web/issues/8821

[2022-04-14 18:22] TNTBOMBOM opened #21805 "Memory issues detected by hardened malloc - libva error: vaGetDriverNameByIndex() failed with unknown libva error, driver_name = (null)"
### Steps to reproduce

1. Install element using [element repository](https://element.io/get-started#nightly) on debian (Although it seems to only say its for nightly, But i have the stable version which is element-desktop version 1.10.9)
2. Install & Run [hardened malloc](https://github.com/GrapheneOS/hardened_malloc), If you want it from repository then add kicksecure repo:

`curl --tlsv1.3 --pr

[2022-04-14 18:23] turt2live commented on #6469
@MadLittleMods why was this closed?

[2022-04-14 18:25] MadLittleMods commented on #6469
@turt2live Based on what you and @yannicka found already. Search does not look like that anymore and https://github.com/vector-im/element-web/issues/5007 tracks the search keyword not being highlighted/pillified.

[2022-04-14 18:27] turt2live commented on #6469
ah, would be good to have updated comments before closing for the context :)

[2022-04-14 18:43] MadLittleMods commented on #8554
Are we good to close this? I count only 3 remaining unchecked tasks. Two of which need issues if they're still actually problems anyway. And I assume there has been a lot more iteration than linked here.

[2022-04-14 18:50] MadLittleMods commented on #3487
Closing as @Half-Shot linked the fix above and no one has reproduced/commented since.

[2022-04-14 18:50] #3487 closed

[2022-04-14 19:01] #6419 closed

[2022-04-14 19:03] yuuyins commented on #18386
emoji and security key verification are broken between desktop and web for me too since a few versions now

[code]

[2022-04-14 19:40] turt2live commented on #8554
Yea, I think if there's any remaining issues then independent ones would be best :)

[2022-04-14 19:40] #8554 closed

[2022-04-14 20:09] dkasak opened #21806 "Username highlights on the dark theme look bad due to brownish colour"
Username highlights on the dark theme look bad while unselected due to the brownish background colour which stands out from the rest of the theme:

![unselected](https://i.imgur.com/Df5u0o9.png)

It's a bit better when selected since it then changes to a grey shade:

![selected](https://i.imgur.com/Ttc502i.png)

I think this is just dark theme bug stemming from the colour not being handpicked but

[2022-04-14 20:17] luixxiul opened #21807 "Thread preview and number not correctly displayed inside the thread panel on the first load"
### Steps to reproduce

1. Create a test room
2. Send `1` as a message
3. Send until `5`
4. Reply in thread to each message fast (send different messages on each thread)
5. Open the thread list on the right panel

### Outcome

#### What did you expect?

- The number of message for each thread should be `1`
- The message preview for each thread should be different

#### What happened instead?

- Th

[2022-04-14 20:18] MadLittleMods commented on #21789
This has to be put in context. The first step is making the messages available to read in any capacity. While arguably readable by waiting hours for the scrollback to get to the mention, I'd much rather be able to get to the message right away where it maybe hasn't highlighted and figure it out because I'm human.

 1. But highlights can still be on the table:
    - While someone's profile could ha

[2022-04-14 20:25] MadLittleMods commented on #4973
Related to https://github.com/vector-im/element-web/issues/19833

[2022-04-14 20:27] #20254 closed

[2022-04-14 20:28] #21381 closed

[2022-04-14 20:31] #19302 closed

[2022-04-14 20:50] MadLittleMods opened #21808 "Message and pill from historical profile not highlighted"
### Steps to reproduce

 1. Have someone mention your user with a pill
 1. Change your display name to something unrelated like `flyingbutterfly`
 1. Have someone mention your user with a pill (the pill should be your new display name now)
 1. Change your display name back to your original name
 1. Refresh the page, maybe a couple of times
 1. Notice how the message and pill from the different dis

[2022-04-14 21:13] #21780 closed

[2022-04-14 21:18] Wendell250 opened #21809 "Some uploaded videos do not play (their embeds are non-interactable)"
### Steps to reproduce

1. Upload a video (drag&drop or via paperclip)
2. Video uploads like usual
3. Video is unplayable

### Outcome

#### What did you expect?
Video to be playable.

#### What happened instead?
The opposite.

After the recent update (1.10.9) *some* video uploads turn out non-interactable.

The upload process works fine, including "Upload files" preview.
![vid_issue1](https://use

[2022-04-14 22:30] robintown commented on #21804
(Context from #element-web is that this error was happening despite media permissions being granted)

[2022-04-14 23:23] #21740 closed

[2022-04-15 02:20] konomikitten commented on #21809
This is affecting me on Linux.

Operating system: Debian Unstable
Application version: Element version: 1.10.9 Olm version: 3.2.8
Homeserver: matrix.org

[2022-04-15 06:29] luixxiul opened #21810 "Spacing and positioning of elements of a message on thread panel and chat panel not consistent"
### Steps to reproduce

1. Enable a maximized widget
2. Send a image file as a message on the chat panel
2. Reply in thread
3. Send the same file to the thread

### Outcome

#### What did you expect?

Consistent spacing, alignment, and placement of elements. The chat panel should follow https://github.com/vector-im/element-web/issues/21759#issue-1202193613 as well.

#### What happened instead?

-

[2022-04-15 07:20] gcp commented on #18898
That has the same problem in that it hides the profile button which you now need to access the Element settings. (If that would have worked, the Spaces sidebar could've just been zapped by uBlock Origin).

If you're using multiple windows side by side this change is also a large usability problem.

[2022-04-15 07:22] SimonBrandner commented on #21806
I believe that the reddish-brownish colour is intentional - it's supposed to catch your attention, the light theme has something similar

[2022-04-15 07:27] SimonBrandner commented on #21723
I am going to close this as the main thing - presence - is already a feature. I would suggest trying a server with presence enabled and seeing how satisfied you are with the features. If you are missing something then, please open a new issue for that feature specifically as it's hard to action issues which include lists of smaller issues

[2022-04-15 07:27] #21723 closed

[2022-04-15 07:30] SimonBrandner commented on #21805
Some of the errors are duplicate of https://github.com/vector-im/element-web/issues/19218

[2022-04-15 07:32] SimonBrandner commented on #21803
This seems to be a duplicate of https://gitlab.com/gitterHQ/webapp/-/issues/2830; Gitter doesn't support stable Matrix threads

[2022-04-15 07:49] Half-Shot opened #21811 "Sending a reaction causes "This event could not be displayed" to appear in the timeline"
### Steps to reproduce

1. Open a room
2. Send a reaction to a message
3. See the reaction appear
4. See "This event could not be displayed" appear in the timeline

### Outcome

#### What did you expect?

The absence of "This event could not be displayed"

#### What happened instead?

The appearance of "This event could not be displayed"

### Operating system

_No response_

### Browser informatio

[2022-04-15 07:54] dkasak commented on #21806
The red is not problematic, but the brownish colour just looks completely out of place in combination with the rest of the theme. We never use brownish tones anywhere else and it's (IMO) a particularly ugly shade.

In the light theme, a yellowish shade is used which works much better.

[2022-04-15 09:45] luixxiul commented on #21759
Working on the thread list:

Without the scroll bar ↓
![list1](https://user-images.githubusercontent.com/3362943/163555887-279a90ea-b226-45a5-a845-f598d05e02c9.png)

With the scroll bar ↓
![list2](https://user-images.githubusercontent.com/3362943/163555923-972e48da-3115-4929-b954-523032e2bda7.png)

[2022-04-15 09:48] Pattygeek commented on #21263
Hi @BurnyBoi please, Can you outline the steps to reproduce this bug?

[2022-04-15 10:23] HarHarLinks commented on #20578
I think this PR has landed in Element Nightly version: 2022041501, as the "Admin tools" in rooms reflect this change.

However in spaces this happens:
![image](https://user-images.githubusercontent.com/2803622/163559946-f3e94cb0-ac4b-4a03-84c7-0523fe3473c7.png)

Thus @turt2live please re-open.

[2022-04-15 10:24] yaya-usman commented on #21811
@Half-Shot can you drop a snapshot of the problem... I tried reproducing, it's not giving the error you stated

[2022-04-15 11:26] #21669 closed

[2022-04-15 11:35] Sinharitik589 commented on #21794
Can you assign it to me?

[2022-04-15 11:37] robintown commented on #21811
@Half-Shot Do you have 'Show hidden events' enabled? A regression with that was fixed just an hour ago.

[2022-04-15 11:41] robintown commented on #21794
@Sinharitik589 Thank you for your interest in this issue. We will normally not assign the issue to an external contributor until they have provided at least a draft PR which is taking the right direction. For further details, see our [guidance on assigning issues](https://github.com/vector-im/element-meta/wiki/Guidance-on-assigning-issues).

If you have any technical questions about this issue, yo

[2022-04-15 12:37] Half-Shot commented on #21811
Yes, if so I'll close.

[2022-04-15 12:37] #21811 closed

[2022-04-15 14:23] #16480 closed

[2022-04-15 14:34] turt2live commented on #21615
the next time this happens we'll need to know what the event types are, as there's potential that the "unsent messages" are actually things like reactions or similarly hidden events.

In the JS console: `mxMatrixClientPeg.get().getRoom("THE_ROOM_ID").getPendingEvents().filter(e => e.status === "not_sent").map(e => e.getType());`

[2022-04-15 14:35] turt2live commented on #21416
This is a threads regression.

[2022-04-15 15:07] flancian opened #21812 "Chat exports should use ISO 8601/RFC 3339 dates, be more informative"
### Steps to reproduce

1. Choose 'Export Chat' in room menu
2. Select any options and press 'Export'

(By the way, thank you so much for making Matrix and Element awesome!)

### Outcome

#### What did you expect?
An export with a filename containing an ISO 8601/RFC 3339 date, and maybe the room name in it. E.g. agora-discuss-2022-04-15.txt or agora-discuss-2022-04-15T17:04:16+02:00.txt (which con

[2022-04-15 15:09] waldyrious commented on #21803
Oh, cool, thanks for pointing me there.

I still think that Element doesn't handle the replies sent from Gitter in a reasonable manner. Showing them in the thread panel, giving the appearance of support, but then lose track of them after a reload, doesn't seem like a good way to handle this situation.

I would rather get an error message of some kind (e.g. "unexpected message format" or something

[2022-04-15 15:25] EECvision commented on #20578
Okay, I will.

[2022-04-15 15:39] robintown commented on #21803
Reopening this to track the reply fallback functionality for threads being unreliable

[2022-04-15 18:53] robintown opened #21813 "Message context menu feels like it should be on the right"
### Steps to reproduce

1. Enable message context menus in labs
2. Right click a message

### Outcome

#### What did you expect?

The menu appears to the right of the cursor as long as there is space, like context menus typically do.

#### What happened instead?

The menu appears to the left of the cursor.

(cc @SimonBrandner)

### Operating system

NixOS unstable

### Browser information

Firefox

[2022-04-15 19:38] Currrupted opened #21814 "Address to private room is visible to network logs due to URL"
### Steps to reproduce

1. Create a private, encrypted room
2. enter the room
3. see the room address in the URL you are currently visiting

![image](https://user-images.githubusercontent.com/13292623/163624366-46530fc0-596d-49a3-bd44-c261d69abe63.png)

### Outcome

#### What did you expect?

The browser should not include the room URL in the address bar, as this information may be visible to the

[2022-04-15 19:59] SimonBrandner opened #21815 "Write tests for message right-click context menu"
It would be good to have some design input regarding what is the exact expected behaviour before the tests are written, so that rewrites can be avoided

[2022-04-15 20:05] t3chguy commented on #21814
With HTTPS only the domain is visible to intermediatry nodes in the network (like your router and ISP). Everything else is encrypted. Furthermore anything after a # in a url isn't sent to the server

See https://en.m.wikipedia.org/wiki/URI_fragment

[2022-04-15 20:10] t3chguy commented on #21814
Closing as a non issue, feel free to check the network requests in your browser devtools and network logs for yourself.

Room ids will be sent to servers ultimately via the Matrix API, given the client must ask for the room for information about that room but that's entirely unrelated to it being in the url or not.

[2022-04-15 20:10] #21814 closed

[2022-04-15 20:28] turt2live commented on #21793
so without too much effort, managed to reproduce this (~200 messages in the timeline)

![image](https://user-images.githubusercontent.com/1190097/163628956-18c6a1fe-6578-40c3-b47f-5751ce9b3886.png)

Top is with animation, bottom is without (not reloaded between profiles - just disabled CSS rules for animation).

The fact that the CPU graph is nearly flat in the top graph confirms the problem, at l

[2022-04-15 20:31] turt2live commented on #21793
purple confirmed to be styles as well:

![image](https://user-images.githubusercontent.com/1190097/163629261-bf6dea1d-2937-485c-85fa-2084470428d3.png)

[2022-04-15 23:03] Currrupted commented on #21814
Oh okay, got it! Thanks for the clarification, this is a relief

[2022-04-16 01:17] #20239 closed

[2022-04-16 01:52] poperigby opened #21816 "Crash when searching encrypted room"
### Steps to reproduce

1. Go to an encrypted room
2. Press the search button
3. Type something in

### Outcome

#### What did you expect?
For Element to not crash.

#### What happened instead?
Element crashed.

### Operating system

Arch Linux

### Application version

Element version: 1.10.9 Olm version: 3.2.8

### How did you install the app?

Arch Linux Packages

### Homeserver

matrix.org

##

[2022-04-16 01:52] poperigby opened #32218 "Crash when searching encrypted room"
### Steps to reproduce

1. Go to an encrypted room
2. Press the search button
3. Type something in

### Outcome

#### What did you expect?
For Element to not crash.

#### What happened instead?
Element crashed.

### Operating system

Arch Linux

### Application version

Element version: 1.10.9 Olm version: 3.2.8

### How did you install the app?

Arch Linux Packages

### Homeserver

matrix.org

##

[2022-04-16 01:56] poperigby commented on #21816
This might sound weird, but the crash only seems to happen when search for "cookies." Searching for "stuff" doesn't cause a crash. It's also a bit inconsistent how long it takes to crash. One time it was as soon as I pressed enter after typing in "cookies," but other times I have to scroll up and down through the results a few times.

[2022-04-16 05:43] yaya-usman commented on #21141
@SimonBrandner can you please check again if it still happens for you... I tried again reproducing, i couldn't. I await your response thanks.

[2022-04-16 06:42] Gage20710 opened #21817 "Volume Control"
### Steps to reproduce

1. Where are you starting? What can you see? Room, Voice Chat
3. What do you click? Volume Slider
4. More steps…

### Outcome

#### What did you expect?
Volume to stay the same when user disconnects when adjusting volume slider
#### What happened instead?
Volume went back to 100% after user disconnects and reconnects

### Operating system

Windows

### Application version

[2022-04-16 07:40] goelesha commented on #21171
@globau On changing the font-weight to 400, the issue is fixed in Safari but I am not able to understand why it still doesn't fix the issue in chrome.

Safari-
<img width="1425" alt="Screenshot 2022-04-16 at 1 08 04 PM" src="https://user-images.githubusercontent.com/54431564/163666435-5d8be982-4a43-4e49-a968-e21777161c4e.png">
Chrome-
<img width="1438" alt="Screenshot 2022-04-16 at 1 08 34 PM" src

[2022-04-16 08:59] progval opened #21818 "Registration captcha is missing in Firefox private browsing"
### Steps to reproduce

The captcha when registering to matrix.org on https://app.element.io/ isn't shown when using Firefox private browsing; and there is no fallback to tell users what is wrong, so they are stuck.

### Outcome

#### What did you expect?

Either find a way to show a captcha that isn't blocked, or show an error message to tell users what to do

#### What happened instead?

Just a

[2022-04-16 09:03] progval opened #21819 "Reloading the registration page should warn about data loss"
### Steps to reproduce

1. Open https://app.element.io/ while not authenticated
2. Click "Create an account"
3. Fill the first form, click "Register" (the captcha page shows up)
4. Refresh the page

There are many reasons to refresh the page at that point, like an issue with the captcha (eg. users who block Javascript by default may need to reload the page after whitlisting recaptcha)

### Outcome

[2022-04-16 09:24] t3chguy commented on #21819
I think the app should warn you on refresh that it'll lose your progress, storing the state like passwords isn't great, this app never stores passwords and it shouldn't start now.

[2022-04-16 09:46] globau commented on #21171
I can't help you with Chrome.

[2022-04-16 10:03] progval commented on #21819
Firefox normally takes care of repopulating fields on page reload.

But here it doesn't for some reason, probably because the form is dynamically created or someting

[2022-04-16 10:22] t3chguy commented on #21819
Well yes, it is an SPA written in React, no way around that.

[2022-04-16 10:40] HarHarLinks commented on #21141
It does still happen
![image](https://user-images.githubusercontent.com/2803622/163671827-f2c4260f-e3f0-4197-97dd-d8585231eb17.png)
Element Nightly version: 2022041601
Olm version: 3.2.8

[2022-04-16 10:45] soloturn commented on #21652
@SimonBrandner @goelesha, @gsouquet the screen should list the 3 options:

1. register device with pass phrase, input field.
2. register device by uploading security key, input field or file upload.
3. reset all

this screen gets displayed under a title "verify this device". is @goelesha allowed to make a propsal in case she has a good idea?

[2022-04-16 10:54] patricksavalle opened #21820 "Better UX for the lowercase username requirement on registration"
### Your use case

#### What would you like to do?

Remove confusion around lowercase username

#### Why would you like to do it?

While on-boarding 10 communities on their own homeservers, I noticed this is a big hurdle for many. Either the warning message is unclear or the requirement is unexpected.

#### How would you like to achieve it?

Just lowercase the name, don't warn, don't ask. Or issue

[2022-04-16 11:09] patricksavalle opened #21821 "Start 'channel' (Telegram-like admin-only post) without having to set permissions"
### Your use case

#### What would you like to do?

Have a button / preset for a room that only allows admins and moderators to post. Call it a channel.

#### Why would you like to do it?

To help migration from Telegram. Normal users don't understand 'permissions'.

#### How would you like to achieve it?

A simple button / option.

### Have you considered any alternatives?

_No response_

### Add

[2022-04-16 11:17] yaya-usman commented on #21141
Alright thanks.

[2022-04-16 11:49] HarHarLinks opened #21822 "Threads list empty"
### Steps to reproduce

1. Enabled threads beta
2. start thread on 2 messages
3. go "back" from thread panel to threads panel

### Outcome

#### What did you expect?
list of threads

#### What happened instead?
- at first the panel was not just empty, but the element that is supposed to hold the list of threads `class="mx_AutoHideScrollbar mx_ScrollPanel mx_RoomView_messagePanel mx_GroupLayout mx_

[2022-04-16 11:53] HarHarLinks opened #21823 "Stuck notification in relation with threads"
### Steps to reproduce

1. Enabled threads beta
2. start thread on 2 messages
3. go "back" from thread panel to threads panel
4. go back and forth between rooms
5. the other person is not even writing messages during this, it feels like it is stuck on my own messages notification somehow

### Outcome

#### What did you expect?
no notification counter

#### What happened instead?
On top of #21822,

[2022-04-16 11:57] HarHarLinks commented on #21821
I disagree with that, as IRC channel is established to mean what a matrix room is. I suggest "announcement room" instead?

I think the idea of a couple presets like this is good for community admin's UX, in fact I suggested something like it in https://github.com/vector-im/element-web/issues/20450. Community admins should be regarded end users and thus not have to deal with raw power levels direct

[2022-04-16 12:51] fcnjd opened #21824 "a11y: arrow-down doesn't get the cursor out of the filter"
### Steps to reproduce

1. Where are you starting? What can you see?
In a logged in Element window, move into the list f rooms and chats, using only a keyboard as a user who is blind and uses a screenreader would do it
2. What do you click?
Inside the list, press the up-arrow until you are at the top, and then again to go into the text box to filter the rooms
3. More steps…
Turning on a screenread

[2022-04-16 12:53] asaayushisingh commented on #21785
Hey! @turt2live I have already solved this issue. Kindly assign me this issue so that i can raise the PR. Thank You!

Hey! @turt2live I have already solved this issue. Kindly assign me this issue so that i can raise the PR. Thank You!

[2022-04-16 13:50] subscribernamegoeshere opened #21825 "regression: on 1.10.10, windows 10/x64, one of sub-processes (element.exe) is creating tenfold or more load when simply visible main gui window."
### Steps to reproduce

1. just updated (two machines) to 1.10.10 element desktop for windows, on two win10 pro x64 machines. only change of the situation is it being 1.10.10 compared to release right before (1.10.9). main gui appears and on a weak older laptop (one of the two involved windows machines) i noticed that the cpu fan getting noisy. researched the situation and figured out exactly, tha

[2022-04-16 13:56] subscribernamegoeshere commented on #21825
could be the very same or tied to this issue also reported about cpu load issues: https://github.com/vector-im/element-web/issues/21793

thanks for considering.

[2022-04-16 14:29] MRAAGH commented on #13648
tl;dr: yes, `app.disableHardwareAcceleration();` fixed everything, and there should probably be a setting for this.

[2022-04-16 15:13] yaya-usman commented on #21785
You don't have to be assigned. You can drop a draft PR. Also as stated up there by @turt2live ,it needs inputs from the design team in order to proceed. But i guess you can still go ahead and drop your PR

[2022-04-16 15:17] Sinharitik589 commented on #21794
@robintown kindly look into the PR , and assign the issue to me,
..

[2022-04-16 15:23] ShadowJonathan opened #21826 "Space Sidebar acts weirdly on hover (when all subspaces are collapsed)"
### Steps to reproduce

1. Find/make a space with a long name
2. Open the sidebar by expanding subspaces
3. Collapse subspaces
4. Mouse over space with long name
5. Observe

### Outcome

#### What did you expect?

No CSS jitter

#### What happened instead?

https://user-images.githubusercontent.com/22740616/163680710-01ae7df9-b6a7-43cc-946a-b60efac76665.mp4

### Operating system

PopOS 21.10

###

[2022-04-16 15:26] asaayushisingh commented on #21785
Hey! @yaya-usman Sure! I will raise the PR for this issue. Thank you!

[2022-04-16 15:45] yaya-usman opened #21827 "Leaving Space is hard to find and some menu Items points to same place"
### Your use case

#### What would you like to do?
- firstly I realized if i wanted to leave a space, i have to go to the settings of the space first before i can leave. Which i think for smoother user experience, there should be a one click menu item to leave the space without directing me to another unrelated modal.
- Secondly if i decided to visit my space dashboard or home i realized the `spac

[2022-04-16 16:29] SimonBrandner commented on #21821
It seems you're not the only one to have come across this bug, as it's been reported previously. I'm going to close this issue now so we can focus on the older issue. Please watch, vote or comment on that issue if there is any additional information you can provide.

This is a duplicate of https://github.com/vector-im/element-web/issues/17915 which has been closed in favour of https://github.com/v

[2022-04-16 16:29] #21821 closed

[2022-04-16 16:35] SimonBrandner commented on #21652
They surely can share their thoughts but the decision is on the design team

[2022-04-16 16:37] SimonBrandner commented on #21825
It seems you're not the only one to have come across this bug, as it's been reported previously. I'm going to close this issue now so we can focus on the older issue. Please watch, vote or comment on that issue if there is any additional information you can provide.

Duplicate of https://github.com/vector-im/element-web/issues/21793

[2022-04-16 16:37] #21825 closed

[2022-04-16 17:03] goelesha commented on #21652
@SimonBrandner @soloturn I would still like to work on this. I will try my best to fix it up.

[2022-04-16 17:26] yaya-usman commented on #20310
@ttheshreeyasingh are you still working on this, I want to link a draft PR to this incase you're not working on it anymore

[2022-04-16 17:38] luixxiul opened #21828 ""Unable to decrypt" message in the thread timeline unaligned"
### Steps to reproduce

1. Create a thread from a test user's account
2. Write something to the thread from your main user's account
3. Receive the message on the test user's account
4. Log in to the test user's account from a browser in the private mode
5. Don't input the Security Key and proceed
6. Open the thread

### Outcome

#### What did you expect?

The error message should be aligned to ot

[2022-04-16 17:40] h3ll0-w00rld opened #21829 "Element Desktop Major slowdown post 30-40 minutes of runtime after latest update."
### Steps to reproduce

Launching the app, waiting / using it for 30-40 minutes

### Outcome

Major slowdown, hogging the CPU (from what HTOP tells me) [Freaking Electron]
![image](https://user-images.githubusercontent.com/96695457/163685596-4b32bea3-debc-4e60-a6c4-3e1454933b42.png)

### Operating system

Arch Linux (Endreavour OS)

### Application version

Element version: 1.10.10 Olm version: 3.

[2022-04-16 17:49] yaya-usman commented on #21141
@HarHarLinks One more question, what behavior would you guys want this to exhibit instead when subspaces name get longer. I am trying to think of a fix. I would appreciate any suggestion

[2022-04-16 19:15] HarHarLinks commented on #21141
![image](https://user-images.githubusercontent.com/2803622/163688422-e16e8ee1-53a7-48d0-9f86-2ac1c9764432.png)
Subspace names are ellipses anyway, it just needs to be adjusted (to happen early enough) so the kebab menu is where it should be

[2022-04-16 20:53] MountainX opened #21830 "libpng warning: iCCP: known incorrect sRGB profile"
### Your use case

#### What would you like to do?

When I open Element-desktop in a console, I see thousands of lines printed with this warning:

    libpng warning: iCCP: known incorrect sRGB profile

I would like the warning to show the filename of the problematic image.

#### Why would you like to do it?

The warning indicates that the image's color profile needs to be converted.

#### How wou

[2022-04-16 20:53] MountainX opened #32217 "libpng warning: iCCP: known incorrect sRGB profile"
### Your use case

#### What would you like to do?

When I open Element-desktop in a console, I see thousands of lines printed with this warning:

    libpng warning: iCCP: known incorrect sRGB profile

I would like the warning to show the filename of the problematic image.

#### Why would you like to do it?

The warning indicates that the image's color profile needs to be converted.

#### How wou

[2022-04-16 22:58] robintown commented on #21817
It's not entirely clear what volume slider you're referring to. Could you perhaps provide a screenshot?

If it's the volume of another participant in Jitsi, that's not something Element really has control over.

[2022-04-16 23:01] robintown commented on #21822
Duplicate ofhttps://github.com/vector-im/element-web/issues/21737

[2022-04-16 23:01] #21822 closed

[2022-04-16 23:16] robintown commented on #21802
Duplicate of https://github.com/vector-im/element-web/issues/21793

[2022-04-16 23:16] #21802 closed

[2022-04-16 23:21] robintown commented on #21824
Will no longer be relevant when the new search experience launches

[2022-04-16 23:22] robintown commented on #21826
Duplicate of https://github.com/vector-im/element-web/issues/19891, which is now fixed on develop

[2022-04-16 23:22] #21826 closed

[2022-04-16 23:27] robintown commented on #16493
This is not fixed, spaces in which you are an admin still hide the 'leave' option from menus

[2022-04-16 23:39] robintown commented on #21827
Duplicate of https://github.com/vector-im/element-web/issues/16493 and https://github.com/vector-im/element-web/issues/21000

[2022-04-16 23:39] #21827 closed

[2022-04-17 01:05] #21793 closed

[2022-04-17 02:46] newptcai commented on #18165
I also get stuck in this status. It actually works but I always get notification to verify my devices each time I start element desktop.

[2022-04-17 03:10] ivy-reps commented on #18620
@turt2live, the user have to decide what limit he will prefer, then the user is the one who is deciding. at least if we are talking about home servers definitely.

Within your reasoning you are:
* limiting the user because you are thinking that it is better for user
* limiting the user to make the decision
* forcing the user to make many messages
* forcing the user to create a huge number of messa

[2022-04-17 04:06] robintown commented on #21829
Duplicate of https://github.com/vector-im/element-web/issues/21793

[2022-04-17 04:06] #21829 closed

[2022-04-17 05:06] asaayushisingh commented on #21785
Hey! @yaya-usman  I could not able to create a new branch to raise the PR.

[2022-04-17 05:37] yaya-usman commented on #21785
What's the error it's giving when you try creating a branch? , Also are you sure you have forked this repo to your account?

[2022-04-17 06:51] turt2live commented on #21785
(please stop using quote reply - there's no threading needed here)

If you're having issues with branching, please use the [#element-dev:matrix.org](https://matrix.to/#/#element-dev:matrix.org) room on Matrix.

[2022-04-17 07:40] SimonBrandner commented on #21141
@yaya-usman, I am unassigning you until there is at least a draft PR linked to the issue

[2022-04-17 09:23] yaya-usman commented on #21141
Dropping a PR now, i just wanted to be clear of what the supposed behavior should be

[2022-04-17 10:49] HarHarLinks commented on #21822
I don't completely understand the very technical description in that issue, are you certain it includes my first point of the missing element resulting in proper broken (not just empty) UI?

[2022-04-17 11:26] qua3k commented on #21805
This isn’t memory corruption caught by hardened_malloc. I’ve seen the same errors when I’m building/testing Chromium and it’s something to do with libva/GPU drivers, which is likely the case if you’re in a VM. It doesn’t really make sense to file this under Element-Desktop because it isn’t an issue on their side but rather an issue with your environment.

The suggestion to test with hardened_mallo

[2022-04-17 12:54] TheReshma opened #21831 "Discrepancy in displaying usernames"
### Steps to reproduce

1. Go to app.element.io in your browser
2. Join this room :  #hookshot:half-shot.uk
3.  Scroll to messages before 15th of April 2022.
4.  You'd see the same user sometimes represented by his username & sometimes by his matrix user id ..
5. This is what I mean :
![image](https://user-images.githubusercontent.com/70228821/163714797-7d6da931-3969-4213-8bc0-d5c978c44c3f.png)
![

[2022-04-17 13:47] robintown commented on #21822
Oh, right, that point about the panel being completely empty is tracked as https://github.com/vector-im/element-web/issues/21335

[2022-04-17 13:50] #21813 closed

[2022-04-17 13:57] ThoreKr commented on #8891
Would it be sufficient to just include these two links ito the "Quick Settings"?

[2022-04-17 14:00] robintown commented on #17957
Closing due to lack of info

[2022-04-17 14:00] #17957 closed

[2022-04-17 14:02] robintown commented on #21831
Duplicate of https://github.com/vector-im/element-web/issues/7417

[2022-04-17 14:02] #21831 closed

[2022-04-17 15:55] TNTBOMBOM commented on #21805
Ah i see, Appreciated for the clarification. Thank You

Closing the ticket.

[2022-04-17 15:55] #21805 closed

[2022-04-17 17:19] HarHarLinks opened #21832 "1:1 e2ee video "call is in an unknown state""
### Steps to reproduce

1. video call from android to ios in e2ee dm
2. look at room on desktop
3. "call is in an unknown state"

![image](https://user-images.githubusercontent.com/2803622/163725396-bf7fe97a-fd4b-4912-ae7c-a073ab0c9144.png)

### Outcome

#### What did you expect?
call in progress

#### What happened instead?
unknown state

### Operating system

arch

### Application version

Eleme

[2022-04-17 19:29] #20578 closed

[2022-04-17 21:38] Akanksha2403 commented on #21817
can u please assign this issue to me?

[2022-04-17 21:41] DooMMasteR opened #21834 "Element always downloads files, the mobile version does not show this behaviour."
### Steps to reproduce

1. Upload a file (video/audio) to a room

### Outcome

#### What did you expect?
Users should see a preview of the file/player and the video should be loaded once the user requests playback.

#### What happened instead?
Element instantly downloads the file.

### Operating system

Windows, Linux, MacOS

### Browser information

Any browser

### URL for webapp

app.element.io

[2022-04-17 22:00] sevmonster commented on #7069
Is this still an issue? I have users that are uploading videos and they are saved as `m.file` events rather than `m.video`. I don't know if it's related to this issue, but all the other "my video won't play" issues that I can find were closed as duplicates of this one. It's not #6426 either (if that is still an issue), as the video in question was a 3MB webm.

[2022-04-17 22:54] Akanksha2403 commented on #18973
can u please assign this issue to me?

[2022-04-17 23:04] Currrupted opened #21835 "Cannot invite users to my space (and rooms)"
### Steps to reproduce

1. Start the Element app for Linux
2. Enable the (experimental?) "Spaces" feature
3. Go to a space you already created
4. On the space home screen, select "Invite"
5. enter the ID of a user
6. click on "Invite"

### Outcome

#### What did you expect?

Being the admin, when selecting "Invite users to this room" I should be able to just invite users to my space.

#### What ha

[2022-04-18 00:35] robintown commented on #21817
@Akanksha2403 Sorry, but we're currently awaiting more info from the reporter.

[2022-04-18 06:03] SamiLehtinen commented on #7069
I were one of users suffering from this problem way too often. Haven't seen the problem for a good while. Yet I also switched to much faster server. But based on my experience, I could assume it's not a practical problem anymore. Of course test cases should cover the situations where post fails. If that's done, then this is also technically fixed.

[2022-04-18 06:37] ssbarnea commented on #19268
I observed serious CPU usage from the "Element Helper (GPU)" (1.10.10) thread on apple silicon even when the app is only on background. It drains the battery. Here is a sample took on it https://sbarnea.com/ss/Sample-of-Element-Helper-GPU-.txt

![](https://sbarnea.com/ss/Screen-Shot-2022-04-18-07-36-43.07.png)

[2022-04-18 06:50] ssbarnea opened #21836 "Invalid Authorization header while trying to remove a room"
### Steps to reproduce

Not sure how to reproduce on random rooms but that happening with https://matrix.to/#/#audreyr_cookiecutter:gitter.im room, which I was unable to leave at all from the web app due to getting "Invalid Authorization header" error.

Still, I was able to perform the same action using the web app, even if versions were the same.

![](https://sbarnea.com/ss/Screen-Shot-2022-04-18

[2022-04-18 06:51] ssbarnea commented on #9975
So true. I got Element in a status that displays this, even if I restart the app without any way to make it function again.

[2022-04-18 07:01] SimonBrandner commented on #18973
Thank you for your interest in this issue. We will normally not assign the issue to an external contributor until they have provided at least a draft PR which is taking the right direction. For further details, see our [guidance on assigning issues](https://github.com/vector-im/element-meta/wiki/Guidance-on-assigning-issues).

If you have any technical questions about this issue, you can ask for h

[2022-04-18 10:44] wizzyxx opened #21837 "Webcam Indicator light is on even after stopping the camera"
### Steps to reproduce

1. Bob started a video call with Alice
2. Alice answers the call
3. Bob stops the video
4. Alice cannot see Bob
5. The indicator light of Bobs webcam is still on

### Outcome

#### What did you expect?

I expected the webcam indicator light will turn off after stopping the camera.

#### What happened instead?

The webcam indicator light is on after stopping the camera.

###

[2022-04-18 12:15] SimonBrandner commented on #21837
This is not an Element bug, this is a chromium bug, see https://bugs.chromium.org/p/chromium/issues/detail?id=642785 - I'll close this issue as there isn't much we can do here

[2022-04-18 12:15] #21837 closed

[2022-04-18 13:11] HarHarLinks opened #21838 "Collapse subsequent leave and re-join if there is no activity in between"
### Steps to reproduce

1. e.g. view https://matrix.to/#/!yjuDlPJPWncSXskCvf:envs.net/$rmRO6LVCK8IQRolrzS48XcL1csNVNC2OgGcuP8Q9VeE?via=envs.net&via=matrix.org in https://matrix.to/#/#matrix-voip:envs.net

### Outcome

#### What did you expect?
Collapse similar to
![image](https://user-images.githubusercontent.com/2803622/163813032-7a904275-3e20-441b-8053-e262b33b8460.png)

#### What happened inste

[2022-04-18 13:22] HarHarLinks opened #21839 "Collapse collapsible timeline events across date borders"
### Your use case

#### What would you like to do?
Collapse collapsible timeline events (room state changes?) such as ACL, join, leave, dis/invite, remove (kick), ban, name change, avatar change, power level change across date borders

#### Why would you like to do it?
collapsing these events in rooms like https://matrix.to/#/#matrix-voip:envs.net or announcement channels that see only irregular a

[2022-04-18 13:22] HarHarLinks commented on #21838
Writing #21839, it came to mind that the reason for this **might** be the UTC date border (my localtime is CE(S)T = UTC+1/2), i.e. the leave happened Tuesday UTC and the rejoin on Wednesday?

[2022-04-18 13:27] robintown commented on #21839
Duplicate of https://github.com/vector-im/element-web/issues/16902

[2022-04-18 13:27] #21839 closed

[2022-04-18 13:31] HarHarLinks opened #21840 "Mix different locales, e.g. Language and Date"
### Your use case

#### What would you like to do?
I want to use English (US) language but German (DD.MM.YYYY) or Danish (YYYY-MM-DD) date locale.

#### Why would you like to do it?
As international person I might be used to one language in-app, e.g. if I was working remote at an international company like Element and write English with my contacts, the UI being in another language can be confusin

[2022-04-18 13:33] HarHarLinks commented on #16902
#### Why would you like to do it?
collapsing these events in rooms like https://matrix.to/#/#matrix-voip:envs.net or announcement channels that see only irregular activity but frequent updates to room state allows to see the conversation instead of just screens full of room state changes

#### How would you like to achieve it?
A day (localtime) is eligible for day-collapsing if there are only regu

[2022-04-18 15:33] Mikaela opened #21841 "SSO login doesn't work for custom profile"
### Steps to reproduce

1. Run `flatpak run im.riot.Riot --profile pikaviestin`
2. Set homeserver URL as `https://pikaviestin.fi/`
3. Select `Continue with authentik`
4. Web browser opens.
5. Login
6. Select "Continue"
7. Another Element opens without the specified profile (it keeps loading forever, but I presume it's the default profile for another account)

### Outcome

#### What did you expect?

[2022-04-18 15:34] Mikaela commented on #21841
This appears to be a regression, https://github.com/vector-im/element-web/issues/12932 is the same, but previously fixed and I presume a new issue is required two years later.

I cannot send logs as they require being logged in.

[2022-04-18 17:54] VarLad opened #21842 "Have window decorations for GNOME (Update Electron version to 18.0.4)"
### Your use case

#### What would you like to do?
Be able to use Element app natively on Wayland.

#### Why would you like to do it?
XWayland still doesn't work properly on NVIDIA GPUs on Wayland. Wayland can be enforced on current version too, but its missing window decorations on the current version in the GNOME DE. That got fixed in Electron 17.x.y releases, and Wayland support is in a good sh

[2022-04-18 22:27] Gage20710 commented on #21817
Sorry for late response, I didnt see this email until now.

The user volume slider in a conference call included in the screenshot
[image: element bug report ss.png]
[image: image.png]

But as you said this is a jitsi problem, so you guys might not be able to
do anything about it.

Thank You.

On Sun, Apr 17, 2022 at 8:35 PM Robin ***@***.***> wrote:

[2022-04-18 23:22] progserega opened #21843 "element lost all local data and tell me, that I must relogin"
### Steps to reproduce

window with "session data lost"

### Outcome

#### What did you expect?

#### What happened instead?

### Operating system

_No response_

### Application version

_No response_

### How did you install the app?

_No response_

### Homeserver

_No response_

### Will you send logs?

Yes

[2022-04-19 00:39] robintown commented on #21817
Right, this is a limitation of Jitsi Meet in that case, and so should be filed on their issue tracker instead.

[2022-04-19 00:39] #21817 closed

[2022-04-19 01:31] Gage20710 commented on #21817
Could you assist me in getting in contact with jitsi to report a bug?

On Mon, Apr 18, 2022 at 8:39 PM Robin ***@***.***> wrote:

[2022-04-19 01:38] robintown commented on #21817
Their issue tracker is here: https://github.com/jitsi/jitsi-meet/issues

[2022-04-19 07:42] t3chguy commented on #21842
We already use 17.x.y

https://github.com/vector-im/element-desktop/blob/develop/package.json#L64

[2022-04-19 07:42] t3chguy commented on #21841
Can you test this bug using the official releases? its possible it is specific to the community-maintained Flathub.

[2022-04-19 07:45] t3chguy commented on #19268
@ssbarnea that is a different issue which is already fixed on develop.

[2022-04-19 07:47] Mikaela commented on #21841
How can I install an official release on Fedora 36?

[2022-04-19 07:59] t3chguy commented on #21841
There isn't one, official releases are listed at https://element.io/get-started - but if the issue is confirmed to be specific with the flathub then the issue needs to be opened elsewhere so the right people see it.

[2022-04-19 08:09] BurnyBoi commented on #18898
For the time being, I've been using this CSS to make the spaces bar a bit more compact:

[code]

[2022-04-19 08:13] t3chguy commented on #21806
That looks like its a translucent yellow, which mixed with the bg looks brownish

[2022-04-19 08:16] VarLad commented on #21842
@t3chguy
Currently, when I launch Element with `flatpak run im.riot.Riot --enable-features=UseOzonePlatform,WebRTCPipeWireCapturer --ozone-platform=wayland`

I get,
[code]

I also read an issue here https://github.com/containers/podman-desktop/issues/97

[2022-04-19 08:20] Mikaela commented on #21841
I don't have an officially supported release available, but I opened https://github.com/flathub/im.riot.Riot/issues/268 in case they are able to reproduce or figure out which side this issue is on. Meanwhile I am asking if anyone is using an officially supported operating system and could test this.

[2022-04-19 08:39] #21482 closed

[2022-04-19 08:49] gsouquet opened #21844 "Do not disturb should update my status"
### Your use case

#### What would you like to do?

When turning "Do not disturb" on, my status should be updated to let others know i'm currently not available

#### Why would you like to do it?

This is quite a common feature with dnd functionality

#### How would you like to achieve it?

n/a

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-04-19 08:57] dkasak commented on #12851
At least vodozemac would happily handle this case since it retains a number of old chains so that it can decrypt messages encrypted with the old chain but arriving late. So things should still work out even if this scenario happens.

[2022-04-19 09:04] #17188 closed

[2022-04-19 09:10] dkasak commented on #21806
Yes, which made me think this is because the colour was just brought over from the light theme without any adjustments to make it look good on the dark theme.

[2022-04-19 09:20] #21437 closed

[2022-04-19 09:44] dbkr commented on #21804
Thanks for sending debug logs. Looks like this is actually due to:
[code]
... ie. an incorrect stun/turn server URL is causing the setup to fail, so check the stun & turn URLs in your homeserver config.

Element should fail in a more sensible way if this happens, so I'll repurpose this bug for that.

[2022-04-19 09:46] t3chguy commented on #21841
Can confirm it works as expected on Ubuntu 20.04 with the official deb.

For the record the way this works is

1. Element (ProfileX) appends to file sso-sessions.json in the Default Profile's data directory a $key->/path/to/ProfileX
2. Element (ProfileX) opens browser with callback to element://<...>?element-desktop-ssoid=$key
3. Browser opens the callback
4. Element sees the ssoid in the URL pass

[2022-04-19 09:46] #21841 closed

[2022-04-19 09:55] dbkr commented on #21816
Thanks for the debug logs. Unfortunately this sounds like the native search part is crashing and its crash logs aren't included in the debug logs. If anyone experiencing this bug is able to get a stack trace when it crashes, that would be super, but otherwise we might have to look more urgently at hooking up native crash reporting.

[2022-04-19 10:13] t3chguy commented on #21084
@janogarcia as per the above, that space is not enough for larger font sizes which can be chosen in Settings > Appearance

[2022-04-19 10:14] dbkr commented on #21830
This will be a warning printed by libpng from electron (I assume you're talking about the desktop app?), so not something we really have control over unfortunately. I can tell you I don't get the same warnings on macOS, so it's probably not one of the Element assets (I think there are hardly any PNGs anyway), or it could be platform difference (you also haven't said what platform you're on).

One